.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background: #FFFFFF;
  z-index: 100;
  transition: all 0.05s ease-in-out;
}

.sidebar .sidebar-header .text {
  display: none;
}

.sidebar:hover {
  width: 260px;
}

.sidebar:hover .sidebar-header .text {
  display: block;
}

.sidebar-header {
  height: 56px;
  line-height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  padding-right: 10px;
}

.sidebar-header .btn-sidebar-close {
  height: 30px;
  line-height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  display: none;
  border: none;
}

.sidebar-header .btn-sidebar-close:hover {
  background-color: #eee;
}

.sidebar-header .btn-sidebar-close .material-symbols-rounded {
  height: 16px;
  width: 16px;
  font-size: 1rem;
}

.sidebar-header .logo {
  height: 56px;
  width: 60px;
  background-color: rgb(39 107 198);
  padding-inline: 5px;
  margin-right: 1rem;
}

.sidebar-header .logo img {
  width: 50px;
}

.sidebar-body {
  padding: 15px 0 0 0px;
}

.sidebar-body .main-menu {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.sidebar-body .main-menu li {
  margin-bottom: 0.5rem;
}

.main-menu li.menu-item a.menu-link {
  display: flex;
  align-items: center;
  border-left: solid 5px transparent;
  font-size: 0.85rem;
  color: #353535;
  text-decoration: none;
  font-weight: 600;
  justify-content: space-between;
  padding-right: 15px;
}

.main-menu li.menu-item a.menu-link:active,
.main-menu li.menu-item a.menu-link.active,
.main-menu li.menu-item a.menu-link:hover {
  border-left: solid 5px var(--main-color);
  background-color: var(--main-light-color);
  color: var(--main-color);
}

.main-menu li.menu-item a.menu-link:active img,
.main-menu li.menu-item a.menu-link.active img,
.main-menu li.menu-item a.menu-link:hover img {
  filter: invert(36%) sepia(80%) saturate(2543%) hue-rotate(152deg) brightness(89%) contrast(98%);
}

.main-menu li a.menu-link .icon {
  margin-right: 15px;
  padding: 10px 10px 10px 15px;
  width: 45px;
}

.main-menu li a.menu-link span,
.main-menu ul.sub-menu li a.submenu-link span,
.main-menu ul.sub-menu ul.sub-submenu li a.sub-submenu-link span {
  display: none;
}

.sidebar:hover .sidebar-body .main-menu li a.menu-link span,
.sidebar:hover .sidebar-body .main-menu ul.sub-menu li a.submenu-link span,
.sidebar:hover .sidebar-body .main-menu ul.sub-menu ul.sub-submenu li a.sub-submenu-link span {
  display: flex;
}

.sidebar .dropdown-toggle::after {
  transition: all 0.5s ease-in-out;
  transform: rotate(0deg);
}

.sidebar a[aria-expanded=true] .dropdown-toggle::after {
  transition: all 0.5s ease-in-out;
  transform: rotate(-180deg);
}

ul.main-menu ul.sub-menu {
  padding: 0;
  margin: 8px;
  list-style-type: none;
  background-color: var(--main-light-color);
  border-radius: 3px;
  padding-left: 8px;
  padding-block: 7px;
}

ul.main-menu ul.sub-menu a.submenu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
  text-decoration: none;
  color: var(--main-color) !important;
  padding-block: 6px;
}

ul.main-menu ul.sub-menu a.submenu-link:active,
ul.main-menu ul.sub-menu a.submenu-link.active,
ul.main-menu ul.sub-menu a.submenu-link:hover {
  color: var(--main-color);
}

ul.main-menu ul.sub-menu a.submenu-link img {
  width: 12px;
  margin-right: 8px;
}

ul.main-menu ul.sub-menu ul.sub-submenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 6px;
}

ul.main-menu ul.sub-menu ul.sub-submenu a {
  display: block;
  font-size: 0.8rem;
  padding-block: 3px;
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

ul.main-menu ul.sub-menu ul.sub-submenu a.submenu-link:hover {
  color: var(--main-dark-color);
}

ul.main-menu ul.sub-menu ul.sub-submenu a.submenu-link img {
  width: 16px;
  margin-right: 8px;
  filter: invert(98%) sepia(0%) saturate(468%) hue-rotate(182deg) brightness(83%) contrast(76%);
}

ul.main-menu ul.sub-menu ul.sub-submenu a:hover img {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
  filter: invert(97%) sepia(80%) saturate(0%) hue-rotate(226deg) brightness(111%) contrast(100%);
}

@keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(3px);
  }
}

@media only screen and (max-width: 420px) {
  .sidebar {
    display: none;
    transition: all 0.1s ease-in-out;
  }

  .sidebar.open {
    display: block;
    width: 100%;
    transition: all 0.1s ease-in-out;
  }

  .sidebar-header .btn-sidebar-close {
    display: block;
  }

  .sidebar .sidebar-header .text,
  .sidebar .sidebar-body .card,
  .sidebar-body .main-menu li a span {
    display: flex;
  }

}

// .sidebar:hover {
//   width: 260px;
// }

// .sidebar .logo-details {
//   height: 56px;
//   width: 100%;
//   display: flex;
//   -webkit-display: flex;
//   -moz-display: flex;
//   -ms--display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: var(--main-dark-color);
// }

// .sidebar .logo-details img {
//   height: 46px;
//   width: 46px;
// }

// .sidebar .logo-details .logo_name {
//   font-size: 22px;
//   color: #fff;
//   font-weight: 600;
//   transition: 0.3s ease;
//   transition-delay: 0.1s;
// }

// .sidebar.close .logo-details .logo_name {
//   transition-delay: 0s;
//   opacity: 0;
//   pointer-events: none;
// }

// .sidebar .nav-links {
//   height: 100%;
//   padding: 15px 0px;
//   overflow: auto;
// }

// .sidebar.close .nav-links {
//   overflow: visible;
// }

// .sidebar .nav-links::-webkit-scrollbar {
//   display: none;
// }

// .sidebar .nav-links li {
//   position: relative;
//   list-style: none;
//   transition: all 0.4s ease;
//   text-align: center;
//   border-left: solid 5px transparent;
// }

// .sidebar .nav-links li:active,
// .sidebar .nav-links li.active,
// .sidebar .nav-links li:hover {
//   background: var(--main-light-color);
//   border-left: solid 5px var(--main-color);
// }

// .sidebar .nav-links li .iocn-link {
//   display: flex;
//   -webkit-display: flex;
//   -moz-display: flex;
//   -ms--display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .sidebar.close .nav-links li .iocn-link {
//   display: block
// }

// .sidebar .nav-links li img {
//   height: 16px;
//   width: 16px;
//   text-align: center;
//   line-height: 16px;
//   cursor: pointer;
//   transition: all 0.3s ease;
// }

// .sidebar .nav-links li .sub-menu li a:hover img {
//   filter: invert(34%) sepia(97%) saturate(3084%) hue-rotate(156deg) brightness(94%) contrast(98%);
// }

// .sidebar .nav-links li a:hover img {
//   filter: invert(34%) sepia(97%) saturate(3084%) hue-rotate(156deg) brightness(94%) contrast(98%);
// }

// .sidebar .nav-links li.showMenu img.arrow {
//   transform: rotate(-180deg);
// }

// .sidebar.close .nav-links img.arrow {
//   display: none;
// }

// .sidebar .nav-links li a {
//   display: flex;
//   -webkit-display: flex;
//   -moz-display: flex;
//   -ms--display: flex;
//   align-items: center;
//   text-decoration: none;
//   padding: 15px 20px 15px 15px;
// }

// .sidebar .nav-links li a .link_name {
//   transition: all 0.4s ease;
// }

// .sidebar.close .nav-links li a .link_name {
//   opacity: 0;
//   pointer-events: none;
// }

// .sidebar .nav-links li .sub-menu {
//   margin-top: -10px;
//   background: var(--main-light-color);
//   display: none;
//   list-style-type: none;
//   padding: 0;
//   border-top-right-radius: 0.375rem !important;
//   border-bottom-right-radius: 0.375rem !important;
// }

// .sidebar .nav-links li.showMenu .sub-menu {
//   display: block;
// }

// .sidebar .nav-links li .sub-menu a {
//   color: #000;
//   font-size: 0.85rem;
//   padding: 5px 0;
//   white-space: nowrap;
//   transition: all 0.3s ease;
// }

// .sidebar .nav-links li .sub-menu a:hover {
//   opacity: 1;
// }

// .sidebar.close .nav-links li .sub-menu {
//   position: absolute;
//   left: 100%;
//   top: -10px;
//   margin-top: 0;
//   border-radius: 0 6px 6px 0;
//   opacity: 0;
//   display: block;
//   pointer-events: none;
//   transition: 0s;
// }

// .sidebar.close .nav-links li .sub-menu li {
//   border: none;
//   padding: 0;
// }

// .sidebar.close .nav-links li .sub-menu li a {
//   padding: 10px 20px;
// }

// .sidebar.close .nav-links li .sub-menu li a:active,
// .sidebar.close .nav-links li .sub-menu li a.active,
// .sidebar.close .nav-links li .sub-menu li a:hover {
//   color: var(--main-color);
// }

// .sidebar.close .nav-links li .sub-menu li a img {
//   margin-right: 10px;
// }

// .sidebar.close .nav-links li:hover .sub-menu {
//   top: 0;
//   opacity: 1;
//   pointer-events: auto;
//   transition: all 0.4s ease;
// }

// .sidebar .nav-links li .sub-menu .link_name {
//   display: none;
// }

// .sidebar.close .nav-links li .sub-menu .link_name {
//   font-size: 0.9rem;
//   opacity: 1;
//   display: block;
//   background-color: var(--main-color);
//   text-align: left;
//   color: #fff;
//   text-transform: uppercase;
//   font-weight: 600;
//   border-top-right-radius: 0.375rem;
//   padding-block: 12px;
// }

// .sidebar.close .nav-links li .sub-menu .link_name:hover {
//   color: #fff !important;
// }

// .sidebar .nav-links li .sub-menu.blank {
//   opacity: 1;
//   pointer-events: auto;
//   opacity: 0;
//   pointer-events: none;
//   list-style-type: none;
//   padding: 0;
// }

// .sidebar .nav-links li:hover .sub-menu.blank {
//   top: 50%;
//   transform: translateY(-50%);
//   list-style-type: none;
// }

// .home-section {
//   position: relative;
//   background: #E4E9F7;
//   height: 100vh;
//   left: 260px;
//   width: calc(100% - 260px);
//   transition: all 0.5s ease;
// }

// .sidebar.close~.home-section {
//   left: 78px;
//   width: calc(100% - 78px);
// }

// .home-section .home-content {
//   height: 60px;
//   display: flex;
//   -webkit-display: flex;
//   -moz-display: flex;
//   -ms--display: flex;
//   align-items: center;
// }

// .home-section .home-content .bx-menu,
// .home-section .home-content .text {
//   color: #11101d;
//   font-size: 35px;
// }

// .home-section .home-content .bx-menu {
//   margin: 0 15px;
//   cursor: pointer;
// }

// .home-section .home-content .text {
//   font-size: 26px;
//   font-weight: 600;
// }

// @media only screen and (max-width:319px) {
//   .sidebar.close .nav-links li .sub-menu {
//     display: none;
//   }

//   .sidebar {
//     width: 78px;
//   }

//   .sidebar.close {
//     width: 0;
//   }

//   .home-section {
//     left: 78px;
//     width: calc(100% - 78px);
//     z-index: 100;
//   }

//   .sidebar.close~.home-section {
//     width: 100%;
//     left: 0;
//   }
// }