<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <mat-card class="plain-card" id="share-card">
                <mat-card-header class="card-header bg-main" *ngIf="data">
                    <h6 class="text-white fw-bold mb-0 ">{{data[1]=='EN' ? eventData?.[0].schoolName : eventData?.[0].m_SchoolName}}</h6>
                </mat-card-header>
                <mat-card-content class="card-body pb-0" *ngIf="imgArray && imgArray.length > 0">
                    <div id="carouselExample" class="carousel slide mb-2">
                        <div class="carousel-inner rounded">
                            <div class="carousel-item" *ngFor="let img of imgArray; let i = index"  [ngClass]="(i === 0) ? 'active' : ''">
                                <img [src]="img" class="d-block rounded" width="100%" height="400px">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="d-flex gap-2 my-2">
                        <!-- <p class="form-label text-main fw-normal mb-0">Event Name :</p> -->
                        <h6 class="form-label mb-0">{{ data[1] == 'EN' ? eventData?.[0].eventName :
                            eventData?.[0].m_EventName}}</h6>
                    </div>
                </mat-card-content>
                <mat-card-content>
                    <div class="d-flex justify-content-between form-container border border-start-0 border-end-0 my-2 py-2">
                        <div class="d-flex align-items-center">
                            <mat-icon class="material-symbols-outlined mb-1">pace</mat-icon>
                            <span class=" form-label pe-1">{{data[1]=='EN' ? 'Posted At':'पोस्ट केले'}}</span>
                            <span class=" form-data">{{eventData?.[0].postedDate | date:'dd-MM-yyyy h:mm a'}}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <mat-icon class="material-symbols-outlined mb-1">favorite</mat-icon>
                            <span class=" form-label pe-1">{{eventData?.[0].totalComment}}</span>
                        </div>
                    </div>
                    <div class="text-end" *ngIf="eventData?.[0].postedBy">
                        <span class="small mb-0">- {{eventData?.[0].postedBy}}</span>
                    </div>
                    <div class="row form-container gx-2 mt-2">
                      
                        <!-- <h6 class="text-main fw-bold mb-0">Description</h6> -->
                        <div class="col-sm-12 col-12">
                            <p class="form-data">{{ eventData?.[0].description}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>