<div mat-dialog-title class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100">
        <h6 class="text-main mb-0 fw-bold">{{editFlag ? ('Labels.UpdatedTeacherRegistration'|
            translate):('Labels.teacherRegistration'|
            translate)}}</h6>
        <button mat-icon-button mat-dialog-close class="btn-modal-close">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
</div>
<form [formGroup]="teacherRegForm" (ngSubmit)="OnSubmit()">
    <mat-dialog-content class="card-body scrollbar pt-0">
        <mat-card-subtitle class="mb-2 fw-bold">{{'Labels.personalDetails'| translate}}</mat-card-subtitle>

        <div class="row gx-2">
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label> {{'Labels.teacherName'| translate}}</mat-label>
                    <input appAutofocus matInput formControlName="name" maxlength="100"
                        (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
                    <!-- <mat-error *ngIf="f['name'].hasError('required')">
                            Teacher Name Is Required</mat-error> -->
                    <mat-error *ngIf="f['name'].hasError('pattern')">
                        {{'Labels.pleaseEnterValidTeacherName' | translate}} </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.teachernameMarathi'| translate}}</mat-label>
                    <input matInput formControlName="m_Name" maxlength="100"
                        (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiValidation($event)">
                    <mat-error *ngIf="f['m_Name'].hasError('pattern')">
                        {{'Labels.pleaseEnterValidTeacherNameMarathi' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.teacherId'| translate}}</mat-label>
                    <input matInput formControlName="teacherCode" maxlength="5"
                        (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.gender'| translate}}</mat-label>
                    <mat-select formControlName="genderId">
                        <mat-option *ngFor="let gender of genderArray" [value]="gender.id">
                            {{webStorageS.getLangauge() == 'EN' ?
                            gender.gender : gender.m_Gender}}</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="f['genderId'].hasError('required')">{{'Labels.GenderRequired'| translate}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.mobileNo'| translate}}</mat-label>
                    <input matInput formControlName="mobileNo" maxlength="10"
                        (keypress)="validation.onlyDigits($event)">
                    <!-- <mat-error *ngIf="f['mobileNo'].hasError('required') ">
                            Mobile Number Is Required</mat-error> -->
                    <mat-error *ngIf="f['mobileNo'].hasError('pattern') ">{{'Labels.pleaseEnterValidMobileNumber' |
                        translate }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.emailID'| translate}}</mat-label>
                    <input matInput formControlName="emailId" (keypress)="validation.emailRegex($event)" maxlength="50">
                    <mat-error *ngIf="f['emailId'].hasError('pattern') ">{{'Labels.pleaseEnterValidEmailId' |
                        translate }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.birthDate'| translate}}</mat-label>
                    <input matInput [matDatepicker]="picker" [max]="maxDate" (click)="picker.open()" readonly
                        (dateChange)="CalculateAge()" formControlName="birthDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <!-- <mat-error *ngIf="f['birthDate'].hasError('required') ">
                            Birth Date Is Required</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-2">
                <ng-container *ngIf="teacherRegForm.value.birthDate">
                    <div class="age-show" *ngIf="teacherRegForm.value.age > 0">
                        <span class="me-1">{{age}}</span><span>Years</span>
                    </div>
                </ng-container>
            </div>
            <div class="col-sm-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="upload-btn-wrapper">
                        <button type="button" class="upload-btn" (click)="uploadImage.click()">{{'Labels.uploadPhoto' |
                            translate}}</button>
                        <input type="file" name="myfile" (change)="imgUpload($event)" [disabled]="uploadImghtml"
                            #uploadImage accept=".png, .jpg, .jpeg" />
                    </div>
                    <div class="action-btn" *ngIf="uploadImghtml">
                        <button type="button" mat-icon-button class="btn-icon text-primary" (click)="viewImg()"
                            matTooltip="{{'Labels.View' | translate}}" matTooltipPosition="below"
                            matTooltipClass="tooltip">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button type="button" mat-icon-button class="btn-icon text-danger" (click)="clearImg()"
                            matTooltip="{{'Labels.delete' | translate}}" matTooltipPosition="below"
                            matTooltipClass="tooltip">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <p class="small mb-0 pb-0" style="font-size: 11px;">{{'Labels.NoteImgFormat' | translate}}</p>

                <!-- <mat-form-field appearance="outline" class="w-100 "> -->
                <!-- <mat-label>{{'Labels.uploadPhoto'| translate}}</mat-label>
                        <input type="file" formControlName="uploadImage" hidden="hidden" (change)="imgUpload($event)" #img>
                        <mat-icon matSuffix *ngIf="!showAddRemImg">
                            <span class="material-symbols-outlined" (click)="img.click()">upload</span>
                        </mat-icon>
                        <span class="mx-3">
                            <mat-icon class="text-danger" type="button" *ngIf="showAddRemImg"
                                (click)="clearImg()">highlight_off</mat-icon>
                            <mat-icon class="text-success" *ngIf="showAddRemImg" (click)="viewImg()">check_circle_outline</mat-icon>
                        </span> -->
                <!-- </mat-form-field> -->
            </div>
        </div>

        <mat-card-subtitle class="mb-2 fw-bold">{{'Labels.AddressDetails'| translate}}</mat-card-subtitle>

        <div class="row gx-2">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.district'| translate}}</mat-label>
                    <mat-select formControlName="districtId" (selectionChange)="clearDropdown('District'); getTaluka();">
                        <mat-option *ngFor="let distric of districtArray"
                            [value]="distric.id">{{webStorageS.getLangauge() == 'EN' ?
                            distric.district : distric.m_District}}</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="f['districtId'].hasError('required')">{{'Labels.districtIsRequired'| translate}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                    <mat-select formControlName="talukaId" (selectionChange)="clearDropdown('Taluka'); getVillage();">
                        <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">
                            {{webStorageS.getLangauge() == 'EN' ?
                            taluka.taluka : taluka.m_Taluka}}</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="f['talukaId'].hasError('required')">{{'Labels.talukaIsRequired'| translate}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.village'| translate}}</mat-label>
                    <mat-select formControlName="villageId">
                        <mat-option *ngFor="let village of villageArray" [value]="village.id">
                            {{webStorageS.getLangauge() == 'EN' ?
                            village.village : village.m_Village}}</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="f['villageId'].hasError('required')">{{'Labels.villageIsRequired'| translate}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.currentAddress'| translate}}</mat-label>
                    <textarea matInput formControlName="currentAddress" maxlength="100"
                        (keypress)="validation.noFirstSpaceAllow($event)"
                        (input)="clearAddressCheckBox($event)"></textarea>
                    <!-- <mat-error *ngIf="f['currentAddress'].hasError('required') ">
                            Current Address Is Required</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.permanentAddress'| translate}}</mat-label>
                    <textarea matInput formControlName="permentAddress" maxlength="100"
                        (keypress)="validation.noFirstSpaceAllow($event)"></textarea>
                    <!-- <mat-error *ngIf="f['permentAddress'].hasError('required') ">
                            Permanent Address Is Required</mat-error> -->
                </mat-form-field>
                <div class="Current-Address">
                    <input type="checkbox" name="check" id="check1" [checked]="checked"
                        [disabled]="!f['currentAddress'].value" (change)="addSameAddress($event)" />
                    <label for="check1" class="small ms-1 mt-1">{{'Labels.SameCurrentAddress' | translate}}</label>
                </div>
            </div>
        </div>

        <!--------------------------------------------- start Teacher Details---------------------------------------------->

        <div formGroupName="teacherDetails">
            <mat-card-subtitle class="mb-2 fw-bold">
                {{'Labels.educationalQualifications' | translate}}
            </mat-card-subtitle>

            <div class="row gx-2">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.educationalQualification'| translate}}</mat-label>
                        <mat-select formControlName="educationalQualificationId"
                            (selectionChange)="educationQualiClear($event)">
                            <mat-option *ngFor="let educationQuali of educationQualificationArray"
                                [value]="educationQuali.id">{{webStorageS.getLangauge() == 'EN' ?
                                educationQuali.educationalQualification :
                                educationQuali.m_EducationalQualification}} </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="td['educationalQualificationId'].hasError('required')">Educational Qualification Is Required</mat-error> -->
                    </mat-form-field>
                </div>
                <ng-container
                    *ngIf="teacherRegForm.value.teacherDetails.educationalQualificationId == 3  || teacherRegForm.value.teacherDetails.educationalQualificationId == 2">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.12thBranch'| translate}}</mat-label>
                            <mat-select formControlName="branchId12th">
                                <mat-option *ngFor="let twelve of twelveBranchArray"
                                    [value]="twelve.id">{{webStorageS.getLangauge() == 'EN' ?
                                    twelve.branchName : twelve.m_BranchName}}</mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="td['branchId12th'].hasError('required')">12th Branch Is Required</mat-error> -->
                        </mat-form-field>
                    </div>
                    <ng-container *ngIf="teacherRegForm.value.teacherDetails.educationalQualificationId == 3">
                        <div class="col-sm-4">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.degreeOptionalSubjects'| translate}}</mat-label>
                                <mat-select formControlName="degreeOptionalSubjectsId">
                                    <mat-option *ngFor="let optionalSubject of optionalSubjectArray"
                                        [value]="optionalSubject.id"> {{webStorageS.getLangauge() == 'EN' ?
                                        optionalSubject.subjectName : optionalSubject.m_SubjectName}}</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="td['degreeOptionalSubjectsId'].hasError('required')">Degree Optional Subjects Is Required</mat-error>                      -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.degreeUniversity'| translate}}</mat-label>
                                <mat-select formControlName="degreeUniversityId">
                                    <mat-option *ngFor="let university of degreeUniversityArray"
                                        [value]="university.id">{{webStorageS.getLangauge() == 'EN' ?
                                        university.univesityName : university.m_UniversityName}}</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="td['degreeUniversityId'].hasError('required')">Degree University Is Required</mat-error>                        -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.professionalQualification'| translate}}</mat-label>
                                <mat-select formControlName="professionalQualificationId">
                                    <mat-option *ngFor="let proQulification of profesionalQualificationArray"
                                        [value]="proQulification.id">{{webStorageS.getLangauge() == 'EN' ?
                                        proQulification.professinalQualification :
                                        proQulification.m_ProfessinalQualification}}</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="td['professionalQualificationId'].hasError('required')">Professional Qualification Is Required</mat-error>                        -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.bEdPercentages'| translate}}</mat-label>
                                <input matInput formControlName="bEdPercentages" maxlength="10"
                                    (keypress)="validation.noFirstSpaceAllow($event)">
                                <mat-error *ngIf="td['bEdPercentages'].hasError('pattern')">
                                    {{'Labels.pleaseEntervalidPercentage' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.bEdUniversity'| translate}}</mat-label>
                                <input matInput formControlName="bEdUniversityId" maxlength="150"
                                    (keypress)="validation.noFirstSpaceAllow($event);">
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <div class="row gx-2">
                <mat-card-subtitle class="mb-2 fw-bold">
                    {{'Labels.professionalQualification'| translate}}
                </mat-card-subtitle>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.district'| translate}}</mat-label>
                        <mat-select formControlName="districtId" (selectionChange)="clearDropdown('districtTeacherDetails');getAllTalukaTeacherDeatails()">
                            <mat-option *ngFor="let districtObj of districtArrayTeacherDeatails"
                                [value]="districtObj.id">{{webStorageS.getLangauge() == 'EN' ?
                                districtObj.district : districtObj.m_District}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>Teacher ID</mat-label>
                            <input matInput formControlName="teacherCode" maxlength="5"
                                (keypress)="validation.noFirstSpaceAllow($event);validation.onlyDigits($event)">
                        </mat-form-field> -->
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropdown('talukaTeacherDetails');getCluster()">
                            <mat-option *ngFor="let talukaObj of talukaArrayTeacherDetails" [value]="talukaObj.id">
                                {{webStorageS.getLangauge() == 'EN' ?
                                talukaObj.taluka : talukaObj.m_Taluka}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.clusterName'| translate}}</mat-label>
                        <mat-select formControlName="clusterId"
                            (selectionChange)="getAllVillageTeacherDeatails();clearDropdown('cluster')">
                            <mat-option *ngFor="let cluster of clusterArray"
                                [value]="cluster.id">{{webStorageS.getLangauge() == 'EN' ?
                                cluster.center : cluster.m_Center}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="td['clusterId'].hasError('required')">Cluster Is Required</mat-error>                        -->
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.village'| translate}}</mat-label>
                        <mat-select formControlName="villageId" (selectionChange)="getAllSchool()">
                            <mat-option *ngFor="let village of teacherDetailsVillageArray"
                                [value]="village.id">{{webStorageS.getLangauge() == 'EN' ?
                                village.village : village.m_Village}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="td['clusterId'].hasError('required')">Cluster Is Required</mat-error>                        -->
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.workingSchoolName'| translate}}</mat-label>
                        <mat-select #ref formControlName="schoolId"
                            (selectionChange)="getClassBySchoolId(ref.value);clearDropdown('school')">
                            <mat-option *ngFor="let school of schoolArray"
                                [value]="school.id">{{webStorageS.getLangauge() == 'EN' ?
                                school.schoolName : school.m_SchoolName}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="td['schoolId'].hasError('required')">{{'Labels.workingSchoolName'| translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.selectRole'| translate}}</mat-label>
                        <mat-select formControlName="roleId">
                            <mat-option *ngFor="let designation of teacherRoleArray"
                                [value]="designation.roleId">{{webStorageS.getLangauge() == 'EN' ?
                                designation.roleType : designation.m_RoleType}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="td['designationId'].hasError('required')">Designation Is Required</mat-error>                        -->
                    </mat-form-field>
                </div>
            </div>

            <mat-card-subtitle *ngIf="newAsssignClassArray.length > 0" class="mb-2 fw-bold">
                {{'Labels.assignedClass'| translate}}
            </mat-card-subtitle>

            <div class="teacherForm" *ngFor="let assign of newAsssignClassArray">
                <input type="checkbox" name="check" id="{{assign.standardId}}" [checked]="assign.checked"
                    (change)="addStand($event,assign.standardId)" />
                <!-- <input type="checkbox" name="check" id="{{assign.standardId}}"/> -->
                <label for="{{assign.standardId}}" class="pb-0">{{assign.standardId}}</label>
            </div>

            <div *ngIf="this.assignClassArray.length == 0 && isSubmitted">
                <mat-error>{{'Labels.plzselect'| translate}}</mat-error>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" class="card-footer">
        <div class="d-flex w-100 justify-content-end align-items-center">
            <button mat-flat-button mat-dialog-close class="btn-second me-2">{{'Labels.cancel' |
                translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{editObj ?( 'Labels.update' | translate)
                :('Labels.submit' |
                translate)}}</button>
        </div>
    </mat-dialog-actions>
</form>