<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master'| translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.InwardItmes'| translate}}</li>
    </ol>
</nav>
<app-page-statistics></app-page-statistics>
<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header">
        <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
            <div class="text-main fw-bold mb-2 mb-lg-0">
                {{'Labels.InwardItmesList'| translate}} ({{'Labels.total'| translate }})
            </div>
            <div class="d-flex flex-wrap justify-content-start align-items-center justify-content-lg-end gap-2">
                <button mat-flat-button class="btn-icon " matTooltip="{{'Labels.taleview' | translate}}"
                    matTooltipPosition="below" matTooltipClass="tooltip"
                    [ngClass]="{'btn-main':!this.cardViewFlag, 'btn-second':this.cardViewFlag}">
                    <mat-icon>
                        table_view
                    </mat-icon>
                </button>
                <button mat-flat-button class="btn-second btn-icon" matTooltip="{{'Labels.GridView' | translate}}"
                    matTooltipPosition="below" matTooltipClass="tooltip"
                    [ngClass]="{'btn-main':this.cardViewFlag, 'btn-second':!this.cardViewFlag}">
                    <mat-icon>
                        grid_view
                    </mat-icon>
                </button>
                <button mat-flat-button class="bg-danger btn-icon text-white"
                    matTooltip="{{'Labels.DownloadPdf' | translate}}" matTooltipPosition="below"
                    matTooltipClass="tooltip">
                    <mat-icon>
                        description
                    </mat-icon>
                </button>
                <button mat-flat-button class="btn-main" (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                    {{'Labels.addInwardItems'| translate}}
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header mb-0 pb-0 border-bottom-0">
        <form [formGroup]="filterForm" class="w-100 gx-2">
            <div class="row">
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.Category'| translate}}</mat-label>
                        <mat-select formControlName="categoryId" (selectionChange)="onChangeDropD('category'); getSubCategoryDrop();">
                            <mat-option [value]="category.id" *ngFor="let category of categoryArr">
                                {{webStorageS.getLangauge() == 'EN' ? category.category : category.m_Category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.SubCategory'| translate}}</mat-label>
                        <mat-select formControlName="subCategoryId" (selectionChange)="onChangeDropD('subCategory'); getItemDrop();">
                            <mat-option [value]="subCategory.id" *ngFor="let subCategory of subCategoryArr">{{webStorageS.getLangauge() == 'EN' ? subCategory.subCategory : subCategory.m_subCategory}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.School'| translate}}</mat-label>
                        <mat-select formControlName="schoolId" (selectionChange)="onChangeDropD('school');">
                            <mat-option>Option-1</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.Items'| translate}}</mat-label>
                        <mat-select formControlName="itemsId" (keypress)="validationService.noFirstSpaceAllow($event);">
                            <mat-option [value]="item.id" *ngFor="let item of itemArr">{{webStorageS.getLangauge() == 'EN' ? item.item : item.m_Item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.searchItems'| translate}}</mat-label>
                        <input matInput formControlName="textSearch" maxlength="30">
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <div class="mb-0 d-flex justify-content-lg-end justify-content-start">
                        <button mat-flat-button class="btn-main" type="submit" (click)="getTableData('filter')">{{'Labels.filter'|
                            translate}}</button>
                        <button mat-flat-button type="button" class="btn-second ms-2" (click)="onClear()">{{'Labels.clear'|
                            translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-header>
    <mat-card-content class="card-body pt-0 mt-3">
        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </mat-card-content>
</mat-card>