<div class="aboutUsbkg-image">
    <div class="container">
        <h1 class="mb-0">About Us</h1>
    </div>
</div>
<div class="bg-white">
    <div class="container">
        <div class="aboutUs-section">
            <div class="row pt-3">
                <div class="col-sm-6">
                    <img src="../../../assets/images/home-page/About-Image.png" class="img-fluid mb-4 mb-lg-0">
                </div>
                <div class="col-sm-6 col-12">
                    <p class="text-main fw-bold mb-1">आमच्याबद्दल</p>
                    <h1>शिक्षण विभाग (प्रा.) जिल्हा परिषद, </h1>
                    <h1>उस्मानाबाद राबवित असलेले उपक्रम</h1>
                    <div class="card plain-card border-0">
                        <div class="card-header">
                            <h6 class="fw-normal m-auto">मा. संचालक, SCERT, पुणे यांचे कार्यक्रम</h6>
                        </div>
                        <div class="card-body">
                            <ol class="">
                                <li>निपूण भारत अंतर्गत शाळापूर्व तयारी कार्यक्रम. </li>
                                <li>शालेय शिक्षण विभागाचा "भारतरत्न डॉ. बाबासाहेब आंबेडकर आदर्श शाळा योजना" कार्यक्रम.
                                </li>
                                <li>निपूण भारत कार्यक्रम अंतर्गत इ. २ री ते 5 वी साठी निपूण भारत अध्ययन अभ्यास
                                    सर्वेक्षणाचे आयोजन  यूट्युब लाइव उद्बोधन सञ- दि. 20/12/2022<br>
                                    शाळास्तरावर सर्वेक्षणाचा कालावधी दि. 22/12/2022 ते 7/01/2023.
                                </li>
                                <li>वाचन अभिरूची करीता 'गोष्टीचा शनिवार' उपक्रमाचे आयोजन डिजीटल (PDF) स्वरूपात
                                    वाचण्यासाठी पुस्तके उपलब्ध.</li>
                                <li>'एक दिवस शाळेसाठी’ उपक्रमाचे आयोजन</li>
                                <li>शिकू आनंदे - मराठी कृतीपुस्तिका (इ. 1 ते 5 )</li>
                                <li>करूया मैत्री गणिताशी - कृतीपुस्तिका (इ. 1 ते 5 )</li>
                                <li>विद्या प्रवेश - शिक्षक व विद्यार्थी कृती</li>
                                <li>गणित पेटी</li>
                                <li>भाषा पेटी</li>
                                <li>इंग्रजी पेटी</li>
                                <li>वाचन प्रेरणा दिनाचे आयोजन</li>
                                <li>Let's change अंतर्गत 'स्वच्छता मॉनीटर' </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card plain-card border-0">
                        <div class="card-header">
                            <h6 class=" m-auto">मा. विभागीय आयुक्त यांचे महत्वाकांक्षी उपक्रम</h6>
                        </div>
                        <div class="card-body">
                            <ol class="mt-2">
                                <li>शाळा तेथे ग्रंथालय </li>
                                <li>शाळा तेथे प्रयोगशाळा</li>
                                <li>Astronomy Club</li>
                                <li>Wild life club</li>
                                <li>सुंदर माझे कार्यालय </li>
                                <li>डिजीटल शाळा</li>
                                <li>तंत्रस्नेही शिक्षण</li>
                                <li>महान शास्त्रज्ञांची जयंती साजरी करणे</li>
                                <li>परमवीर चक्र विजेत्यांची जयंती साजरी करणे</li>
                                <li>ऑलंपिक विजेत्या भारतीय खेळाडूची माहिती देणे </li>
                                <li>अध्ययनस्तर निश्चिती चाचणीचे आयोजन</li>
                                <li>'मराठवाडा मुक्ती संग्रामदिन'अमृत महोत्सवी वर्षा निमित्त विविध उपक्रमांचे आयोजन.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card plain-card border-0">
                        <div class="card-header">
                            <h6 class=" m-auto">जिल्हास्तरावरील उपक्रम</h6>
                        </div>
                        <div class="card-body">
                            <ol class="mt-2">
                                <li>शालेय क्रीडा स्पर्धांचे आयोजन</li>
                                <li>'बाला' उपक्रमाचे आयोजन </li>
                                <li>लोकसहभागातून ग्रंथालय समृद्धी उपक्रमाचे आयोजन</li>
                                <li>विद्यार्थ्यांसाठी Osmanabad Talent Search (OTS) परीक्षेचे आयोजन</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="card plain-card border-0">
                        <div class="card-header">
                            <h6 class="m-auto">नीती आयोगाच्या आकांक्षित जिल्हा कार्यक्रमांतर्गत CSR
                                निधीमधून राबविण्यात येत असलेले उपक्रम </h6>
                        </div>
                        <div class="card-body">
                            <ol class="mt-2">
                                <li>मिनी सायन्स सेंटर (RCF आणि ONGC कंपनीच्या CSR मधून 80 शाळांमध्ये स्थापन केले आहेत). </li>
                                <li> सेनेटरी नैपकीन वेंडिंग मशीन आणि इन्सीनेरेटर मशीन (ONGC कंपनीच्या CSR मधून जिल्हा परिषदेच्या 51 प्रशाला / शाळांमध्ये स्थापन केले आहेत).
                                </li>
                                <li> मुलां-मुलींचे शौचालय बांधकाम (ONGC कंपनीच्या CSR मधून जिल्हा परिषदेच्या 38 शाळांमध्ये बांधकाम केले आहेत).
                                </li>
                                <li>Smart Class setup ( Virtual Classroom Learning System ) (RCF आणि NPCIL कंपनीच्या CSR मधून 53 प्रशालामध्ये स्थापन केले आहेत). </li>
                                <li>Interactive board setup  ( Smart Class setup ) - (RCF आणि NPCIL कंपनीच्या CSR मधून 53 प्रशालामध्ये स्थापन केले आहेत.) - ( ONGC कंपनीच्या CSR मधून 57 शाळांमध्ये स्थापन केले आहेत.)</li>
                                <li>BYJU's NEET परीक्षा पूर्वतयारी मार्गदर्शन :- जिल्हा परिषदेच्या शाळेमध्ये सन 2021-22 मध्ये इ.10 वी मध्ये शिक्षण घेतलेल्या आणि सध्या 11 वी मध्ये शिक्षण घेत असलेल्या 22 विद्यार्थ्यांना मार्गदर्शन करणायत येत आहे.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card plain-card border-0">
                        <div class="card-header">
                            <h6 class=" m-auto">समग्र शिक्षा उपक्रम</h6>
                        </div>
                        <div class="card-body">
                            <ol class="mt-2">
                                <li>शालेय शिक्षण विभागाचा आदर्श शाळा बांधकाम </li>
                                <li>राजमाता जिजाऊ शैक्षणिक गुणवत्ता विकास अभियान अंतर्गत निजामकालीन शाळा इमारत
                                    वर्गखोल्यांचे बांधकाम आणि वर्गखोल्यांच्या दुरुस्तीचे बांधकाम.</li>
                                <li>नाविण्यपूर्ण विज्ञान केंद्र ( 2017-18 ते 2019-20 )</li>
                                <li>ICT संगणक प्रयोगशाळा (2021-22)</li>
                                <li>Smart Classroom - प्राथमिक शाळा (2021-22) </li>
                                <li>Smart Classroom - माध्यमिक शाळा (2021-22)</li>
                                <li>संगणक प्रयोगशाळा - माध्यमिक शाळा (2021-22)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>