<div class="container-fluid p-0 pb-3 bg-white">
<div class="contact-us">
    <div class="container contact-us-heading">
        <h1>Contact Us</h1>
        <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item" aria-current="page">Library</li>
        </ol>
      </nav> -->
    </div>
</div>
    <div class="container  ministers">
        <div class="row  mb-3 gx-2">
            <div class="col-sm-4">
                <div class="card mb-2 shadow-sm plain-card ">
                    <div class="card-header bg-success bg-opacity-25 pb-0 border-bottom">
                        <h6>Chief Executive Officer</h6>
                    </div>
                    <div class="card-body p-2">
                        <div class="d-flex align-items-center mb-2 gap-2">
                           <span class="material-symbols-outlined">
                                mail
                                </span>
                            <!-- <p class="mb-0"> ceozp.osmanabad@maharashtra.gov.in</p> -->
                            <a href="mailto:{{'ceozp.osmanabad@maharashtra.gov.in'}}"> ceozp.osmanabad@maharashtra.gov.in</a>
                        </div>
                        <div class="d-flex gap-2 align-items-center pb-0 mb-0">
                            <span class="material-symbols-outlined">
                                call
                                </span>
                           <!-- <p class="mb-0" > 02472-226840</p></div> -->
                           <a class="mb-0" href="tel:{{02472-226840}}">02472-226840</a>
                    </div>
                </div>
            </div>
                <div class="card mb-2 shadow-sm plain-card">
                    <div class="card-header bg-success bg-opacity-25 pb-0 border-bottom">
                        <h6>Education Officer(Primary)</h6>
                    </div>
                    <div class="card-body p-2">
                        <div class="d-flex align-items-center mb-2 gap-2">
                            <span class="material-symbols-outlined">
                                 mail
                                 </span>
                             <!-- <p class="mb-0"> mdmosmanabad@gmail.com</p> -->
                             <a href="mailto:{{'mdmosmanabad@gmail.com'}}">mdmosmanabad@gmail.com</a>
                         </div>
                         <div class="d-flex gap-2 align-items-center pb-0 mb-0">
                             <span class="material-symbols-outlined">
                                 call
                                 </span>
                                 <a class="mb-0" href="tel:{{02472-224184}}">02472-224184</a>
                            <!-- <p class="mb-0"> 02472-224184</p> -->
                        </div>
                     
                    </div>
                </div>
                <div class="card mb-2 shadow-sm plain-card">
                    <div class="card-header bg-success bg-opacity-25 border-bottom pb-0">
                        <h6>Education Officer(Secondary)</h6>
                    </div>
                    <div class="card-body p-2">
                        <div class="d-flex align-items-center mb-2 gap-2">
                            <span class="material-symbols-outlined">
                                 mail
                                 </span>
                             <!-- <p class="mb-0"> rmsa.osbad@gmail.com</p> -->
                             <a href="mailto:{{'rmsa.osbad@gmail.com'}}">rmsa.osbad@gmail.com</a>
                         </div>
                         <div class="d-flex gap-2 align-items-center pb-0 mb-0">
                             <span class="material-symbols-outlined">
                                 call
                                 </span>
                            <!-- <p class="mb-0"> 02472-224184</p> -->
                            <a class="mb-0" href="tel:{{02472-224184}}">02472-224184</a>
                        </div>
                     
                    </div>
                    </div>
               
            </div>
        <div class="col-sm-8">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3790.4084078063297!2d76.03904611488785!3d18.191146587601718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5a22c9d19b25b%3A0x412cbb1f05dc5d7!2sZilla%20Parishad%2C%20OSMANABAD!5e0!3m2!1sen!2sin!4v1678778093239!5m2!1sen!2sin"
                width="100%" height="350" style="border:1px solid lightgray;border-radius: 10px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
   
    </div>
</div>