<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master'| translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.OutwardItmes'| translate}}</li>
    </ol>
</nav>
<app-page-statistics></app-page-statistics>
<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header">
        <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
            <div class="text-main fw-bold mb-2 mb-lg-0">
                {{'Labels.OutwardItmesList'| translate}} ({{'Labels.total'| translate}} - {{totalItem}})
            </div>
            <div class="d-flex flex-wrap justify-content-start align-items-center justify-content-lg-end gap-2">
                <button mat-flat-button class="bg-danger btn-icon text-white"
                    matTooltip="{{'Labels.DownloadPdf' | translate}}" matTooltipPosition="below"
                    matTooltipClass="tooltip" (click)="getTableData('excel')">
                    <mat-icon>
                        description
                    </mat-icon>
                </button>
                <button mat-flat-button class="btn-main" (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                    {{'Labels.addoutwardItems'| translate}}
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header mb-0 pb-0 border-bottom-0">
        <form [formGroup]="filterForm" class="w-100 gx-2">
            <div class="row">
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="onChangeDropD('taluka');getAllCenter();">
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{webStorage.getLangauge() ==
                                'EN' ?
                                tal.taluka:tal.m_Taluka }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                        <mat-select formControlName="centerId" (selectionChange)="onChangeDropD('center'); getVillage()">
                            <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{webStorage.getLangauge() ==
                                'EN' ? cen.center:cen.m_Center}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.village'| translate}}</mat-label>
                        <mat-select formControlName="villageId" (selectionChange)="onChangeDropD('village'); getAllSchools();">
                            <mat-option *ngFor="let village of villageArr"
                                [value]="village.id">{{webStorage.getLangauge() == 'EN' ?
                                village.village:village.m_Village}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                        <mat-select formControlName="schoolId" (selectionChange)="onChangeDropD('school');">
                            <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{webStorage.getLangauge() == 'EN' ?
                                sch.schoolName:sch.m_SchoolName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.Category'| translate}}</mat-label>
                        <mat-select formControlName="CategoryId"
                        (selectionChange)="onChangeDropD('category'); getSubCategory()">
                            <mat-option *ngFor="let data of categoryresp" [value]="data.id">
                                {{webStorage.getLangauge() == 'EN' ?
                                data.category : data.m_Category}}
                            </mat-option>
                            <!-- <mat-option *ngFor="let data of categoryresp" [value]="data id">{{data.category}}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.subcategoryname'| translate}}</mat-label>
                        <mat-select formControlName="SubCategoryId"
                        (selectionChange)="onChangeDropD('subCategory'); getItem()">
                            <mat-option *ngFor="let data of subcategoryresp" [value]="data.id">
                                {{webStorage.getLangauge() == 'EN' ?
                                data.subCategory : data.m_SubCategory}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.items'| translate}}</mat-label>
                        <mat-select formControlName="ItemsId">
                            <mat-option *ngFor="let data of itemresp" [value]="data.id">
                                {{webStorage.getLangauge() == 'EN' ?
                                data.itemName : data.m_ItemName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.searchItems'| translate}}</mat-label>
                        <input matInput formControlName="textSearch" maxlength="30"
                        (keypress)="Validation.noFirstSpaceAllow($event)" (keyup.enter)="getTableData()">
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <div class="mb-0 d-flex justify-content-lg-end justify-content-start">
                        <button mat-flat-button class="btn-main" type="submit" (click)="getTableData('filter')">{{'Labels.filter'|
                          translate}}</button>
                        <button mat-flat-button type="button" class="btn-second ms-2" (click)="clearFilterData()">{{'Labels.clear'|
                          translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </mat-card-content>
</mat-card>
