.dashboard-table .mat-mdc-header-row{
    height: 30px !important;
}

.dashboard-table th, 
.dashboard-table td, 
.dashboard-table .mat-mdc-header-cell {
    padding: 0 8px !important;
    border: 1px solid rgb(210 228 226);
}
.dashboard-table thead tr th:last-child {
    min-width: 95px;
    width: 95px;
}