<mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="over" position="end" class="filter-drawer">
        <mat-card class="plain-card">
            <mat-card-header class="card-header pb-0">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-main mb-0 fw-bold">{{'Labels.filterclick' | translate}}</h6>
                    <button mat-icon-button class="btn-modal-close" mat-dialog-close (click)="this.drawer.close()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body mt-2 mt-lg-0 mb-0 pb-0 card-height-sm scrollbar">
                <form [formGroup]="mainFilterForm" (ngSubmit)="onMainFilterSubmit();this.drawer.close()">
                    <!-- <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.academicYear' | translate}}</mat-label>
                            <mat-select formControlName="acYearId" (selectionChange)="setAcadamicYearValue()">
                                <mat-option *ngFor="let year of acYear" [value]="year.id">
                                    {{webStorage.languageFlag == 'EN'?year.eductionYear:year.eductionYear_M}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div class="mb-0">
                        <!-- [ngClass]="{'disabledContent': this.userDetails?.userTypeId > 2}" -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectState' | translate}}</mat-label>
                            <mat-select formControlName="stateId" (selectionChange)="getDistrict()">
                                <mat-option *ngFor="let state of stateData" [value]="state.id">
                                    {{webStorage.languageFlag == 'EN' ? state.state:state.m_State}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <!-- [ngClass]="{'disabledContent': this.userDetails?.userTypeId > 2}" -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectDistrict' | translate}}</mat-label>
                            <mat-select formControlName="districtId" (selectionChange)="getTalukas()">
                                <mat-option *ngFor="let district of districtData" [value]="district.id">
                                    {{webStorage.languageFlag == 'EN' ? district.district:district.m_District}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <!-- [ngClass]="{'disabledContent': this.userDetails?.userTypeId > 2}" -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectTaluka' | translate}}</mat-label>
                            <mat-select formControlName="talukaId" (selectionChange)="getCenters();">
                                <mat-option *ngFor="let taluka of talukaData" [value]="taluka.id">
                                    {{webStorage.languageFlag == 'EN' ? taluka.taluka:taluka.m_Taluka}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectCenter' | translate}}</mat-label>
                            <mat-select formControlName="centerId" (selectionChange)="getVillage()">
                                <mat-option *ngFor="let center of centerData" [value]="center.id">
                                    {{webStorage.languageFlag == 'EN'?center.center:center.m_Center}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectVillage' | translate}}</mat-label>
                            <mat-select formControlName="villageId" (selectionChange)="getschools()">
                                <mat-option *ngFor="let village of villageData" [value]="village.id">
                                    {{webStorage.languageFlag == 'EN'? village.village:village.m_Village}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectSchool' | translate}}</mat-label>
                            <mat-select formControlName="schoolId">
                                <mat-option *ngFor="let school of schoolData" [value]="school.id">
                                    {{webStorage.languageFlag == 'EN'?school.schoolName :school.m_SchoolName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="card-footer d-flex justify-content-end px-0">
                        <button mat-flat-button type="button" class="me-2 btn-second" mat-dialog-close
                            (click)="resetMainFilter()">{{'Labels.reset'|
                            translate}}</button>
                        <button mat-flat-button type="submit" class="btn-main btn">{{'Labels.filterclick' |
                            translate}}</button>
                    </div>
                </form>

            </mat-card-content>
        </mat-card>
    </mat-drawer>

    <mat-drawer-content>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item w-100 d-flex justify-content-between" aria-current="page">
                    <button mat-stroked-button class="btn-main btn-icon">
                        <mat-icon>autorenew</mat-icon></button> &nbsp;&nbsp;
                    <div class="d-flex justify-content-between w-100">
                        <span class="mt-2">{{('Labels.dashboard2' | translate)}}</span>
                        <div class="d-flex gap-2">
                            <div class="row gx-2">
                                <div class="col-sm">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label> {{'Labels.academicYear' | translate}}</mat-label>
                                        <mat-select [formControl]="academicYear"
                                            (selectionChange)="onMainFilterSubmit('year')">
                                            <mat-option *ngFor="let year of acYear" [value]="year.id">
                                                {{webStorage.languageFlag ==
                                                'EN'?year.eductionYear:year.eductionYear_M}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-stroked-button class="btn-main btn-icon" (click)="drawer.toggle()">
                                <mat-icon>filter_alt</mat-icon>
                            </button>
                        </div>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="row mb-3 g-2" id="dash-stats">
            <div class="col-sm-3">
                <div class="card card-body bg-blue" routerLink="../school-registration">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/School-white.svg" class="bg-image">
                            <p>{{'Labels.SchoolName' | translate}}</p>
                            <h3>125</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/School.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-cyan">
                    <div class="d-flex justify-content-between align-items-center" routerLink="../teacher-registration">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/Teacher-white.svg" class="bg-image">
                            <p>{{'Labels.teachers' | translate}}</p>
                            <h3>1263</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/Teacher.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-voilet">
                    <div class="d-flex justify-content-between align-items-center" routerLink="../student-registration">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/Student-white.svg" class="bg-image">
                            <p>{{'Labels.students' | translate}}</p>
                            <h3>4556</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/Student.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-magenta">
                    <div class="d-flex justify-content-between align-items-center"
                        routerLink="../office-user-registration">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/ZP-Officer-white.svg" class="bg-image">
                            <p>{{'Labels.zpOfficer' | translate}}</p>
                            <h3>025</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/ZP-Officer.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-2">
            <div class="col-sm-5">
                <mat-card class="plain-card w-100 h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.CenterWisePerformance' | translate}}</h6>
                    </mat-card-header>
                    <mat-card-header class="card-header border-0 mb-0 pb-0">
                        <form class="w-100">
                            <div class="row g-2">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.level' | translate}}</mat-label>
                                        <mat-select [formControl]="levelId" (selectionChange)="getCenterwiseBarDetails()">
                                            <mat-option *ngFor="let data of graphLevelArr"
                                                [value]="data.id">{{selectedLang == 'English'?data.graphLevel
                                                :data.m_GraphLevel}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                        </form>
                    </mat-card-header>
                    <!-- centerwise graph start from here  -->
                    <mat-card-content class="card-body pt-0">
                        <div *ngIf="centerChartOption">
                            <ng-container>
                                <apx-chart
                                [series]="centerChartOption?.series"
                                [chart]="centerChartOption?.chart"
                                [dataLabels]="centerChartOption?.dataLabels"
                                [plotOptions]="centerChartOption?.plotOptions"
                                [xaxis]="centerChartOption?.xaxis"
                                [yaxis]="centerChartOption?.yaxis"
                                [subtitle]="centerChartOption?.subtitle"
                                [colors]="centerChartOption?.colors"
                                [states]="centerChartOption?.states"
                                [title]="centerChartOption?.title"
                                [tooltip]="centerChartOption?.tooltip"
                              ></apx-chart>
                            </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-7">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.SchoolwisePerformance' | translate}}</h6>
                    </mat-card-header>
                    
                    <mat-card-content class="card-body">
                        <div *ngIf="schoolChartEnable">
                            <ng-container>
                                        <apx-chart
                                        [series]="schoolChartOption?.series"
                                        [chart]="schoolChartOption?.chart"
                                        [dataLabels]="schoolChartOption?.dataLabels"
                                        [plotOptions]="schoolChartOption?.plotOptions"
                                        [xaxis]="schoolChartOption?.xaxis"
                                        [yaxis]="schoolChartOption?.yaxis"
                                        [colors]="schoolChartOption?.colors"
                                        [tooltip]="schoolChartOption?.tooltip"
                                      ></apx-chart>
                                    </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-sm-12">
                <mat-card class="plain-card">
                    <mat-card-content class="card-body">
                        <div class="table-responsive">
                            <p>Table</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>