<nav aria-label="breadcrumb">
  <ol class="breadcrumb align-items-center">
    <li aria-current="page">
      <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
        <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
    </li>
    <li class="breadcrumb-item" aria-current="page">{{'Labels.master' | translate}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{'Labels.registerOfficeUsers' | translate}}</li>
  </ol>
</nav>
<app-page-statistics></app-page-statistics>

<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
  <mat-card-header class="card-header">
    <div class="d-flex flex-wrap w-100 align-items-center justify-content-between">
      <div class="text-main fw-bold mb-2 mb-lg-0">
        {{'Labels.OfficeUsersList' | translate}}
      </div>
      <div class="d-flex flex-wrap gap-2">
        <button mat-flat-button class="bg-danger btn-icon text-white" matTooltip="{{'Labels.DownloadPdf' | translate}}"
          matTooltipPosition="below" matTooltipClass="tooltip" (click)="getTableData('pdfFlag')">
          <mat-icon>
            description
          </mat-icon>
        </button>
        <button mat-flat-button class="bg-success btn-icon text-white"
          matTooltip="{{'Labels.Downloadexcel' | translate}}" matTooltipPosition="below" matTooltipClass="tooltip"
          (click)="getTableData('excel')">
          <mat-icon class="material-symbols-outlined">table</mat-icon>
        </button>
        <button *ngIf="isWriteRight === true" mat-flat-button class="btn-main" (click)="addUpdateOffice()">
          <mat-icon>
            add
          </mat-icon>
          {{'Labels.addUser' | translate}}
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header class="card-header mb-0 pb-0 border-bottom-0">
    <div class="row w-100 gx-2">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100 ">
          <mat-label>{{'Labels.state'| translate}}</mat-label>
          <mat-select [formControl]="stateId" (selectionChange)="getDistrict();clearDropDown('state')">
            <mat-option *ngFor="let state of stateArr" [value]="state.id">
              {{webStorageService.getLangauge() == 'EN' ? state.state : state.m_State}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100 ">
          <mat-label>{{'Labels.district'| translate}}</mat-label>
          <mat-select [formControl]="districtId" (selectionChange)="getAllTaluka();clearDropDown('district')">
            <mat-option *ngFor="let district of districtArr" [value]="district.id">
              {{webStorageService.getLangauge() == 'EN' ? district.district : district.m_District}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100 ">
          <mat-label>{{'Labels.taluka'| translate}}</mat-label>
          <mat-select [formControl]="talukaId">
            <mat-option *ngFor="let talukaObj of talukaArray" [value]="talukaObj.id">
              {{webStorageService.getLangauge() == 'EN' ?
              talukaObj.taluka : talukaObj.m_Taluka}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'Labels.searchByName' | translate}}</mat-label>
          <input matInput [formControl]="searchContent" (keyup.enter)="getTableData()"
            (keypress)="validation.noFirstSpaceAllow($event)" maxlength="50">
        </mat-form-field>
      </div>
      <div class="col-sm-auto mb-lg-0 mb-2">
        <button mat-flat-button class="btn-main" (click)="getTableData('filter')">{{'Labels.filter' |
          translate}}</button>
        <button mat-flat-button class="btn-second ms-2" (click)="clearFilterData()">{{'Labels.clear' |
          translate}}</button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="card-body pt-0">
    <ng-container *ngIf="!cardViewFlag">
      <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </ng-container>

    <ng-container *ngIf="cardViewFlag">
      <app-grid-view (gridToChild)="childGridCompInfo($event)"></app-grid-view>
    </ng-container>
  </mat-card-content>
</mat-card>