<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master'| translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.studentRegistration'| translate}}</li>
    </ol>
</nav>

<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">{{editFlag ? ('Labels.studentUpdate'|
                translate):('Labels.studentRegistration'| translate)}}</h6>
            <a class="text-decoration-none text-main d-flex align-items-center" routerLink="/student-registration">
                <mat-icon>keyboard_double_arrow_left</mat-icon>
                <span class="text-main mt-1">{{'Labels.Back'| translate}}</span>
            </a>
        </div>
    </mat-card-header>
    <form [formGroup]="stuRegistrationForm" (ngSubmit)="onSubmit()">
        <mat-card-content class="card-body pb-0">
            <mat-card-subtitle class="mb-3 fw-bold">{{'Labels.studentDetails'| translate}}</mat-card-subtitle>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.district'| translate}}</mat-label>
                        <mat-select formControlName="districtId" [disabled]="stuRegistrationForm.value.districtId == 1">
                            <mat-option *ngFor="let dist of districtArr" [value]="dist.id">{{languageFlag == 'English' ?
                                dist.district : dist.m_District}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['districtId'].hasError('required')">User Name Is Required</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropdown('talukaId');getAllCenter()">
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{languageFlag == 'English' ?
                                tal.taluka:tal.m_Taluka }}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['talukaId'].hasError('required')"> {{'Labels.pleaseSelectTaluka'| translate }} </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                        <mat-select formControlName="centerId"
                            (selectionChange)="clearDropdown('centerId');getVillage()">
                            <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{languageFlag == 'English'
                                ?cen.center:cen.m_Center}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['centerId'].hasError('required')">{{'Labels.pleaseSelectCenter'| translate }} </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.village'| translate}}</mat-label>
                        <mat-select formControlName="villageId" (selectionChange)="getAllSchoolsByCenterId()">
                            <mat-option *ngFor="let village of villageArr" [value]="village.id">{{languageFlag == 'English'
                                ?village.village:village.m_Village}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['centerId'].hasError('required')">{{'Labels.pleaseSelectCenter'| translate }} </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                        <mat-select formControlName="schoolId"
                            (selectionChange)="clearDropdown('schoolId');getStandard()">
                            <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{languageFlag == 'English' ?
                                sch.schoolName:sch. m_SchoolName}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['schoolId'].hasError('required')">  {{'Labels.pleaseSelectSchool'| translate }} </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.standard'| translate}}</mat-label>
                        <mat-select formControlName="standard">
                            <mat-option *ngFor="let stan of standardArr" [value]="stan.id">{{languageFlag == 'English'
                                ?stan.standard:stan.m_Standard}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentFirstName'| translate}}</mat-label>
                        <input matInput formControlName="fName" maxlength="20"
                            (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['fName'].hasError('pattern')">{{'Labels.InvalidstudentFirstName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentMiddelName'| translate}}</mat-label>
                        <input matInput formControlName="mName" maxlength="20"
                            (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['mName'].hasError('pattern')">{{'Labels.InvalidstudentMiddleName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentLastName'| translate}}</mat-label>
                        <input matInput formControlName="lName" maxlength="20"
                            (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['lName'].hasError('pattern')">{{'Labels.InvalidstudentLastName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentFirstNameMarathi'| translate}}</mat-label>
                        <input matInput formControlName="f_MName" maxlength="20"
                            (keypress)="validators.unicodeMarathiValidation($event)"
                            (keypress)="validators.noSpaceAllow($event)">
                        <mat-error *ngIf="fc['f_MName'].hasError('pattern')">{{'Labels.InvalidstudentFirstNameMarathi'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentMiddelNameMarathi'| translate}}</mat-label>
                        <input matInput formControlName="m_MName" maxlength="20"
                            (keypress)="validators.unicodeMarathiValidation($event)"
                            (keypress)="validators.noSpaceAllow($event)">
                        <mat-error *ngIf="fc['m_MName'].hasError('pattern')">{{'Labels.InvalidstudentMiddleNameMarathi'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentLastNameMarathi'| translate}}</mat-label>
                        <input matInput formControlName="l_MName" maxlength="20"
                            (keypress)="validators.unicodeMarathiValidation($event)"
                            (keypress)="validators.noSpaceAllow($event)">
                        <mat-error *ngIf="fc['l_MName'].hasError('pattern')">{{'Labels.InvalidstudentLastNameMarathi'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.Relations'| translate}}</mat-label>
                        <mat-select formControlName="religionId"
                            (selectionChange)="clearDropdown('religionId');getCatogory()">
                            <mat-option *ngFor="let religon of religionArr" [value]="religon.id">{{languageFlag == 'English'
                                ?religon.religion:religon.m_Religion}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['lName'].hasError('pattern')">{{'Labels.InvalidstudentLastName'|
                            translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.Category'| translate}}</mat-label>
                        <mat-select formControlName="casteCategoryId"
                            (selectionChange)="clearDropdown('casteCategoryId');getCaste()">
                            <mat-option *ngFor="let category of catogoryArr" [value]="category.id">{{languageFlag ==
                                'English'
                                ?category.category:category.m_Category}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['lName'].hasError('pattern')">{{'Labels.InvalidstudentLastName'|
                            translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <div class="d-flex justify-content-between gap-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.caste'| translate}}</mat-label>
                            <mat-select formControlName="casteId">
                                <mat-option *ngFor="let cast of casteArr" [value]="cast.id">
                                    {{languageFlag == 'English'?cast.caste:cast.m_Caste}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-stroked-button class="btn-icon btn-main" type="button" (click)="openDialog()"
                            matTooltip="{{'Labels.add' | translate}}"
                            [disabled]="!stuRegistrationForm.value.casteCategoryId">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.birthDate'| translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dob" (click)="picker.open()" readonly
                            [max]="maxDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <mat-error *ngIf="fc['dob'].hasError('required')">
                            {{'Labels.pleaseSelectBirthDate'| translate}}
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.gender'| translate}}</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gen of genderArr" [value]="gen.id">{{languageFlag == 'English'
                                ?gen.studentGender:gen.m_StudentGender}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['gender'].hasError('required')"> {{'Labels.pleaseSelectGender'|
                            translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4 ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="upload-btn-wrapper">
                            <button class="upload-btn" type="button"
                                matTooltip="{{uploadImg ? uploadImg.split('/').pop() :''}}" matTooltipPosition="below"
                                matTooltipClass="tooltip" (click)="uploadImage.click()">{{'Labels.uploadPhoto' |
                                translate}}</button>
                            <input type="file" name="myfile" [disabled]="uploadImg" accept=".png, .jpg, .jpeg"
                                (change)="fileUpload($event,'img')" #uploadImage />
                        </div>
                        <div class="action-btn" *ngIf="uploadImg">
                            <button mat-icon-button class="btn-icon text-primary" type="button"
                                (click)="viewImages('photo')" matTooltip="{{'Labels.View' | translate}}"
                                matTooltipPosition="below" matTooltipClass="tooltip">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-icon text-danger" type="button"
                                (click)="deleteImage('photo')" matTooltip="{{'Labels.delete' | translate}}"
                                matTooltipPosition="below" matTooltipClass="tooltip">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <p style="font-size: 11px;" class="mb-0 pb-0">{{'Labels.NoteImageFormat' | translate}}</p>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.saralId'| translate}}</mat-label>
                        <input matInput formControlName="saralId" minlength="19" maxlength="19"
                            (keypress)="validators.onlyDigits($event)">
                        <mat-error *ngIf="fc['saralId'].hasError('minlength')">{{'Labels.SaralvalidId'|
                            translate}}</mat-error>
                        <mat-error *ngIf="fc['saralId'].hasError('maxlength')">{{'Labels.SaralvalidId'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.aadhaarNo'| translate}}</mat-label>
                        <input matInput formControlName="aadharNo" maxlength="12" minlength="12"
                            (keypress)="validators.onlyDigits($event)">
                        <mat-error *ngIf="fc['aadharNo'].hasError('pattern')">{{'Labels.enterValidAadharNo'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="upload-btn-wrapper">
                            <button class="upload-btn" type="button"
                                matTooltip="{{uploadAadhaar ? uploadAadhaar.split('/').pop():''}}"
                                matTooltipPosition="below" matTooltipClass="tooltip"
                                (click)="uploadAadhar.click()">{{'Labels.aadhaarPhoto' | translate}}</button>
                            <input type="file" name="myfile" [disabled]="uploadAadhaar" accept=".png, .jpg, .jpeg,.pdf"
                                (change)="fileUpload($event,'aadhar')" #uploadAadhar />
                        </div>
                        <div class="action-btn" *ngIf="uploadAadhaar">
                            <button mat-icon-button class="btn-icon text-primary" type="button"
                                (click)="viewImages('aadharPhoto')" matTooltip="{{'Labels.View' | translate}}"
                                matTooltipPosition="below" matTooltipClass="tooltip">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-icon text-danger" type="button"
                                (click)="deleteImage('aadharPhoto')" matTooltip="{{'Labels.delete' | translate}}"
                                matTooltipPosition="below" matTooltipClass="tooltip">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <p style="font-size: 11px;" class="mb-0 pb-0">{{'Labels.NoteImagePdfFormat' | translate}}</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content class="card-body">
            <form [formGroup]="addGardianForm" #formDirective="ngForm" >
                <div class="row">
                    <mat-card-subtitle class="mb-3 fw-bold">{{'Labels.gardiantDetails'| translate}}</mat-card-subtitle>
                    <!-- <div class="col">
                        <!-- <input formControlName="isHead" type="checkbox"  [disabled]="checkDisable"/> --
                        <mat-checkbox formControlName="isHead" [disabled]="checkDisable == true"> Is
                            Default</mat-checkbox>
                    </div> -->

                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.name' | translate}}</mat-label>
                            <input matInput formControlName="name"
                            (keypress)="validators.noFirstSpaceAllow($event);">
                        </mat-form-field>
                    </div>

                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>name (Marathi)</mat-label>
                            <input matInput formControlName="m_Name" 
                            (keypress)="validators.noFirstSpaceAllow($event); validators.unicodeMarathiValidation($event);">
                        </mat-form-field>
                    </div>


                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.agencyMobileNo.' | translate}}</mat-label>
                            <input matInput formControlName="mobileNo" maxlength="10" (keypress)="validators.noFirstSpaceAllow($event); validators.onlyDigits($event);">
                        </mat-form-field>
                    </div>
                 
                    <div class="col-sm-4">
                        <div class="row gx-3">
                            <div class="col-sm-7">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.relations' | translate}}</mat-label>
                                    <mat-select formControlName="relationId">
                                        <mat-option *ngFor="let relation of relationArr"
                                            [value]="relation.id">{{relation.relation}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5">
                                <button mat-stroked-button class="btn-main" type="submit" (click)="addGardianList()">
                                    <mat-icon>add</mat-icon>{{('Labels.addguardian'| translate)}}
                                </button>
                            </div>
                        </div>
                    </div>



                </div>
            </form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive table-height-xs scrollbar">
                        <table class="dashboard-table" *ngIf="gardianModelArr.length>0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">{{this.languageFlag == "English" ? 'Sr.No.' : 'अनु. क्र'}}  </th>                                        
                                        <th scope="col">{{this.languageFlag == "English" ? 'Name' : 'नाव'}}</th>
                                        <th scope="col"> {{this.languageFlag == "English" ? 'Mobile No.' : 'मोबाईल क्र.'}}</th>
                                        <th scope="col">{{this.languageFlag == "English" ? 'Relation' : 'संबंध'}}</th>
                                        <th scope="col">{{this.languageFlag == "English" ? 'Is Head' : 'प्रमुख'}}  </th>
                                        <th scope="col">{{this.languageFlag == "English" ? 'Action' : 'कृती'}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let gardian of gardianModelArr; let i = index" [ngStyle]="(gardian.isDeleted == true ) ? {backgroundcolor:'#C6C6C6', opacity:'0.4'} : { }">
                                        <td>{{i+1}}</td>                                        
                                        <td>{{gardian.name}}</td>
                                        <td>{{gardian.mobileNo}}</td>
                                        <td>{{gardian.relation}}</td>
                                        <!-- <td>
                                            <mat-checkbox [formControl]="isCheck"
                                                [disabled]="this.gardianModelArr[i].isHead  == false && this.checkDisable == true"
                                                (click)="changeCheckBox(i)"></mat-checkbox>
                                        </td> -->
                                        <td>
                                            <mat-checkbox type="checkbox"  [checked]="gardianModelArr[i].isHead" [disabled]="gardian.isDeleted == true" (change)='changeCheckBox($event,i)' [(ngModel)]="gardianModelArr[i].isHead" [ngModelOptions]="{standalone: true}"
                                            ></mat-checkbox>
                                        </td>
                                        <td>
                                            <button mat-icon-button matTooltip="{{'Labels.delete' | translate}}"
                                                matTooltipPosition="right" matTooltipClass="tooltip" type="button"
                                                (click)="deleteGardian(i)">
                                                <mat-icon class="text-danger"> delete</mat-icon>
                                            </button>
                                            <!-- <button mat-icon-button matTooltip="{{'Labels.delete' | translate}}"
                                                matTooltipPosition="right" matTooltipClass="tooltip" type="button"
                                                (click)="updateGardian(gardian,i)">
                                                <mat-icon class="text-danger"> edit</mat-icon>
                                            </button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </table>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive table-height-xs scrollbar">
                            <table class="dashboard-table">
                                <thead>
                                  <tr>
                                    <th scope="col"> Sr.No. </th>
                                    <th scope="col"> Check </th>
                                    <th scope="col">Name</th>
                                    <th scope="col"> Mobile No.</th>
                                    <th scope="col">Relations</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody  formArrayName='gaurdianModel'>
                                  <tr *ngFor="let gardian of getGardianList().controls; let i=index"
                                  [formGroupName]="i">
                                    <td >{{i+1}}</td>
                                    <td >
                                        <input formControlName="isHead" type="checkbox" />
                                    </td>
                                    <td> 
                                        <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name">
                                    </mat-form-field>
                                </td>
                                    <td> <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Mobile No.</mat-label>
                                        <input matInput formControlName="mobileNo" maxlength="10">
                                    </mat-form-field>
                                </td>
                                    <td>
                                        <mat-form-field appearance="outline" class="form-control">
                                            <mat-label>Relations</mat-label>                                            
                                            <mat-select formControlName="relationId">
                                            <mat-option *ngFor="let relation of relationArr"
                                                [value]="relation.id">{{relation.name}}</mat-option>
                                        </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td *ngIf="this.getGardianList().value.length > 1"><button mat-icon-button matTooltip="{{'Labels.delete' | translate}}"
                                        matTooltipPosition="right" matTooltipClass="tooltip" type="button" (click)="deleteGardian(i)">
                                        <mat-icon class="text-danger"> delete</mat-icon>
                                    </button>
                                    </td>                               
                                  </tr>                             
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div> -->
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end" class="me-3 mb-2">
                <button mat-stroked-button  class="btn-second me-2" type="button" routerLink="/student-registration" >{{'Labels.cancel'|
                    translate}}</button>
                <button mat-stroked-button class="btn-main" type="submit">{{editObj ? ('Labels.update'|
                    translate):('Labels.submit'| translate)}}</button>
            </mat-card-actions>
        </mat-card-footer>
    </form>
</mat-card>