<mat-card class="plain-card border">
    <div mat-dialog-title class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">Live Streaming</h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-card-content class="card-body p-0">
        <ng-container>
            <div id="play" class="display border-0"></div>
        </ng-container>
        <!-- <canvas id="canvas1" width="606px" height="300px" class="border-0"></canvas> -->

        <!-- <ng-container>
            <canvas id="canvas1" width="606px" height="300px" class="border-0"></canvas>
        </ng-container> -->

    </mat-card-content>
    <!-- <mat-card-footer class="card-footer border-top-0 pt-0">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <button type="button" mat-icon-button class="btn btn-second" matTooltip="{{'Labels.upward' | translate}}"
                matTooltipPosition="left" matTooltipClass="tooltip">
                <mat-icon class="text-main">arrow_upward</mat-icon>
            </button>

            <button type="button" mat-icon-button class="btn-second" matTooltip="{{'Labels.left' | translate}}"
                matTooltipPosition="below" matTooltipClass="tooltip">
                <mat-icon class="text-main">arrow_back</mat-icon>
            </button>
            <ng-container>
                <button type="button" mat-icon-button class="btn-second"
                    (click)="playClick('rtsp://103.204.39.9:1027/avstream/channel=1/stream=0.sdp')"
                    matTooltip="{{'Labels.play' | translate}}" matTooltipPosition="below" matTooltipClass="tooltip">
                    <mat-icon class="text-main">play_arrow</mat-icon>
                </button>
            </ng-container>

            <button type="button" mat-icon-button class="btn-second" (click)="stopVideo()"
                    matTooltip="{{'Labels.stop' | translate}}" matTooltipPosition="above"
                    matTooltipClass="tooltip">
                    <mat-icon class="text-main">stop</mat-icon>
                </button>

            <button type="button" mat-icon-button class="btn-second" matTooltip="{{'Labels.right' | translate}}"
                matTooltipPosition="below" matTooltipClass="tooltip">
                <mat-icon class="text-main">arrow_forward</mat-icon>
            </button>

            <button type="button" mat-icon-button class="btn-second" matTooltip="{{'Labels.downward' | translate}}"
                matTooltipPosition="right" matTooltipClass="tooltip">
                <mat-icon class="text-main">arrow_downward</mat-icon>
            </button>
        </div>
    </mat-card-footer> -->
</mat-card>