<div class="p-0 bg-white">
    <div id="bg-home-section" class="home-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 d-flex flex-column justify-content-center">
                    <div class="home-discription">
                        <h4 class="text-muted mb-3">सारे शिकूया, पुढे जाऊया</h4>
                        <h1>एक एक अक्षर <span class="text-other">शिकूया</span>,</h1>
                        <h1><span class="text-other">ज्ञानाचा</span> शिखर चढूया</h1>
                        <p class="text-muted">जिल्हा परिषद सातारा अंतर्गत शालेय शिक्षणात प्रगती
                            व्हावी
                            ह्या हेतूने शिक्षण दर्पण हे ऑनलाईन
                            पोर्टल तयार केले आहे. विद्यार्थ्यांना दिलेले ज्ञान त्यांना कितपत अवगत होतेय, याचे मूल्यांकन
                            हे
                            मोबाईल
                            अँप व वेब पोर्टल वरून ऑनलाईन रित्या करता येऊ शकते ह्या हेतूने हे ऑनलाईन
                            पोर्टल बनविले आहे.</p>
                        <button class="btn-main btn btn-login d-flex justify-content-center align-items-center mx-auto mx-lg-0"
                            routerLink="/about-us">
                            अधिक वाचा
                        </button>
                    </div>
                </div>
                <div class="col-sm-6 order-1 order-sm-2 text-center">
                    <!-- <img src="../../../assets/images/home-page/About-Image.png" width="100%" height="100%"> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="ministers-information">
            <div class="row g-3 justify-content-center align-items-center">
                <div class="col-sm-6">
                    <h1 class="mb-0 pe-5">Lorem Ipsum is simply dummy text of the printing and</h1>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's</h6>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <img src="../../../assets/images/home-page/check-icon.png">
                            <span class="ps-2">Lorem Ipsum</span>
                        </div>
                        <div class="col-sm-6">
                            <img src="../../../assets/images/home-page/check-icon.png">
                            <span class="ps-2">Lorem Ipsum</span>
                        </div>
                        <div class="col-sm-6">
                            <img src="../../../assets/images/home-page/check-icon.png">
                            <span class="ps-2">Lorem Ipsum</span>
                        </div>
                        <div class="col-sm-6">
                            <img src="../../../assets/images/home-page/check-icon.png">
                            <span class="ps-2">Lorem Ipsum</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ministers">
            <div class="row g-3">
                <div class="col-sm-3">
                    <mat-card class="plain-card">
                        <mat-card-content class="card-body">
                            <img src="../../../assets/images/user.png" alt="" class="minister-img">
                            <h6>Lorem ipsum.</h6>
                            <p>Lorem ipsum dolor.</p>
                            <p>सातारा</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-3">
                    <mat-card class="plain-card">
                        <mat-card-content class="card-body">
                            <img src="../../../assets/images/user.png" alt="" class="minister-img">
                            <h6>Lorem ipsum.</h6>
                            <p>Lorem ipsum dolor.</p>
                            <p>सातारा</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-3">
                    <mat-card class="plain-card">
                        <mat-card-content class="card-body">
                            <img src="../../../assets/images/user.png" alt="" class="minister-img">
                            <h6>Lorem ipsum.</h6>
                            <p>Lorem ipsum dolor.</p>
                            <p>सातारा</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-3">
                    <mat-card class="plain-card">
                        <mat-card-content class="card-body">
                            <img src="../../../assets/images/user.png" alt="" class="minister-img">
                            <h6>Lorem ipsum.</h6>
                            <p>Lorem ipsum dolor.</p>
                            <p>सातारा</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="about-section mx-0">
            <div class="row gx-lg-1 text-start align-items-center">
                <div class="col-sm-6 col-12">
                    <h1>Lorem Ipsum is simply dummy text of the printing</h1>
                    <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- <button class="btn-main  justify-content-center btn btn-login" routerLink="/about-us">
                        अधिक वाचा
                    </button> -->
                </div>
                <div class="col-sm-6 col-12">
                    <img src="../../../assets/images/home-page/About-Image.png"  class="about-student-img">
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="app-section">
        <div class="container">
            <div class="col-sm-12 mb-5 mx-lg-5">
                <div class="text-center">
                    <h1>वैशिष्ट्य</h1>
                    <!-- <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <p>Lorem Ipsum has been
                        the industry's.</p> --
                </div>

            </div>
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/responsive-website.svg" alt=""
                                class="img-fluid">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="fw-bold">वेब डिझाईन</h5>
                            <ul class="list-unstyled ">
                                <li>प्रतिसाद देणारे वेब डिझाईनमुळे अधिकाऱ्यांना शाळा आणि विद्यार्थ्यांच्या प्रगतीविषयी
                                    अद्ययावत माहिती सहज उपलब्ध होते, तसेच ही माहिती सुनिश्चित करण्यास मदत होऊ शकते. सर्व
                                    अधिकारी आणि शिक्षक आपली नोंदणी करून ॲप चा वापर करू शकतात, वापरकर्ते कोणतेही डिव्हाईस
                                    वापरू शकतात.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/infinite-colors.svg" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fw-bold">Infinite colors</h6>
                            <ul class="list-unstyled">
                                <li>The goal of infinite colors in education platforms would be to create a more
                                    personalized and engaging learning experience that helps students to reach their
                                    full potential and achieve their educational goals.</li>
                            </ul>
                        </div>
                    </div> --
                </div>
                <div class="col-sm-4">
                    <div class="d-flex justify-content-center mb-0">
                        <img src="../../../assets/images/home-page/Osmanabad_App.png" alt="" height="450px">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/sass-app.svg" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="fw-bold">मुल्यांकन</h5>
                            <ul class="list-unstyled">
                                <li>शैक्षणिक व्यासपीठावर अतिशय सुंदर आणि पुरक असे मुल्यांकनावर आधारीत विद्यार्थ्यांची
                                    प्रगती आपणास सहज पाहता येऊ शकते, आणि यामुळे विद्यार्थ्यांचा यशाची उद्दिष्टे साध्य
                                    करण्यास मदत होते.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/Features-app.svg" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fw-bold">Loaded with features</h6>
                            <ul class="list-unstyled">
                                <li>Provide tools for teachers to evaluate student performance and including automated
                                    grading systems</li>
                                <li>Platforms provide data and analytics that help teachers and administrators track
                                    student progress, identify areas for improvement, and make informed decisions about
                                    curriculum and instruction.</li>
                            </ul>
                        </div>
                    </div> --
                </div>
            </div>
        </div>
    </div> -->
</div>