// .navbar {
//     background-color: #fff;
//     position: fixed;
//     width: 100%;
//     z-index: 999999 !important;
//     top: 0;
// }

// .navbar .navbar-nav .nav-link {
//     margin-inline: 15px;
//     color: #707070;
//     border-bottom: solid 2px transparent;
// }

// .navbar .navbar-nav .nav-link:hover,
// nav .navbar-nav .nav-link.active {
//     margin-inline: 15px;
//     color: var(--main-color);
//     border-bottom: solid 2px var(--main-color);
// }

// .navbar nav .logo {
//     width: 160px;
//     height: 53px;
// }

#bg-home-section {
    height: 100vh;
    min-height: 705px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-banner {
    width: 100%;
    background-image: url("../../../assets/images/home-page/Home-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 32px;
}

.home-banner .home-discription-discription {
    font-size: 1.1rem;
}

.home-banner .text-other {
    color: var(--main-color);
}

.home-banner .home-discription .btn-login {
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 10px 36px !important;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
}

.right-logo {
    display: flex;
    align-items: center;
}

.home-banner h1,
.ministers-information h1,
.ministers h1,
.about-section h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #122361;
}

.ministers .plain-card {
    box-shadow: -1px 1px 8px 4px rgba(0, 0, 0, 0.105)!important;
    border-radius: 15px;
}

.ministers .card-body {
    text-align: center;
}

.ministers .minister-img {
    height: 120px;
    margin-bottom: 15px;
}

.ministers h6 {
    font-weight: 700;
    color: #1A1F25;
}

.ministers p {
    color: #757575;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.ministers,
.about-section,
.ministers-information,
.testimonials-section {
    padding-block: 50px;
}

.about-section p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.7;
}

.about-section .about-student-img {
    width: 100%;
    margin-left: 21%;
}

.app-section {
    background-image: linear-gradient(to right, #039286, #32BBAF);
    padding-top: 40px;
    color: #fff;
    margin-top: 80px;
}

.app-section h1 {
    font-size: 2.7rem;
    font-weight: 600;
}

.app-section p {
    font-size: 0.85rem;

}

.app-section .app-features {
    margin-bottom: 2.5rem;
}

.app-features img {
    background-color: #01645B;
    color: #fff;
    padding: 6px;
    opacity: 0.8;
    height: 45px;
    width: 45px;
    border-radius: 7px;
    font-size: 2rem;
}

.app-features ul li {
    font-size: 0.95rem;
    text-align: justify;
}

footer {
    background-color: #191E24;
    color: #fff;
    padding-block: 3rem;
}

footer img {
    width: 200px;
}

footer p {
    margin-block: 1.5rem;
    font-size: 0.85rem;
    color: #ddd;
}

footer h4 {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #aaa;
}

footer ul li a:hover {
    color: #fff;
}

footer .contact {
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

footer .input-group {
    border: none;
    background-color: #fff;
    padding: 3px;
    border-radius: 30px;
}

footer .input-group .form-control {
    border: none;
    border-radius: 30px;
    box-shadow: none;
    font-size: 0.85rem;
    margin-right: 5px;
    padding-inline: 20px;
}

footer .input-group button {
    border-radius: 50% !important;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 45px;
    font-size: 1.4rem;
}

@media screen and (max-width: 480px) {
    .home-banner {
        padding-top: 60px;
    }

    .home-banner h1 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .home-banner img {
        height: 200px;
    }

    .home-banner .home-banner-discription {
        font-size: 0.75rem;
    }

    .about-section .testimonials-section {
        margin-top: 40px;
    }

    .about-section h1 {
        font-size: 1rem;
        font-weight: 600;
    }

    .about-section .about-student-img {
        height: 200px;
    }

    .ministers {
        margin-top: 0px;
    }

    .ministers .right-two-card .orange {
        background-color: #F5A63A;
        height: 58px;
        border-radius: 40px 10px 0px 0px;
    }

    .ministers .left-two-card .orange {
        background-color: #F5A63A;
        height: 58px;
        border-radius: 10px 40px 0px 0px;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        flex-grow: unset;
    }

    .btn-login {
        background-color: var(--main-color);
        border-radius: 30px;
        padding: 10px 36px !important;
        color: #fff;
        font-size: 0.9rem;
        text-decoration: none;
        width: 100%;
    }
}