<div class="p-0 bg-white">
    <div class="container">
        <div class="row header  mx-lg-5 mb-5 align-items-center jstify-content-center mt-5 mt-lg-0">
            <div class="col-sm-6 order-2 order-sm-1 text-center text-lg-start">
                <h4 class="text-muted mb-3">सारे शिकूया, पुढे जाऊया</h4>
                <h1>एक एक अक्षर <span class="text-other">शिकूया</span>,</h1>
                <h1><span class="text-other">ज्ञानाचा</span> शिखर चढूया</h1>
                <p class="header-discription text-muted">जिल्हा परिषद उस्मानाबाद अंतर्गत शालेय शिक्षणात प्रगती व्हावी
                    ह्या हेतूने शिक्षण दर्पण हे ऑनलाईन
                    पोर्टल तयार केले आहे. विद्यार्थ्यांना दिलेले ज्ञान त्यांना कितपत अवगत होतेय, याचे मूल्यांकन हे
                    मोबाईल
                    अँप व वेब पोर्टल वरून ऑनलाईन रित्या करता येऊ शकते ह्या हेतूने हे ऑनलाईन
                    पोर्टल बनविले आहे.</p>
                <button class="btn-main btn btn-login  justify-content-center  d-flex align-items-center mx-auto mx-lg-0" routerLink="/about-us">
                    अधिक वाचा
                </button>
            </div>
            <div class="col-sm-6 order-1 order-sm-2 text-center">
                <img src="../../../assets/images/home-page/Home-image.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="ministers">
            <div class="row g-3">
                <div class="col-12 col-sm-3">
                    <div class="card h-100 left">
                        <div class="card-body">
                            <img src="../../../assets/images/user.png" alt=""
                                class="minister-img">
                            <h6>श्री.जितेंद्र दुडी(आय.ए.एस.)</h6>
                            <p>कलेक्टर</p>
                            <p>सातारा</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="card h-100 left">
                        <div class="card-body">
                            <!-- <img src="../../../assets/images/home-page/rahul-gupta.png" alt="" class="minister-img"> -->
                            <img src="../../../assets/images/user.png" class="minister-img">
                            <h6>श्री. राहुल गुप्ता(आय.ए.एस.)</h6>
                            <p>मुख्य कार्यकारी अधिकारी</p>
                            <p>उस्मानाबाद</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="card h-100 right">
                        <div class="card-body">
                            <!-- <img src="../../../assets/images/home-page/sudha-salunkhe.png" alt="" class="minister-img"> -->
                            <img src="../../../assets/images/user.png" class="minister-img">
                            <h6>सौ. सुधा साळुंखे</h6>
                            <p>जिल्हा शिक्षणाधिकारी</p>
                            <p>उस्मानाबाद</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="card h-100 right">
                        <div class="card-body">
                            <!-- <img src="../../../assets/images/home-page/Gajanan-susar.png" alt="" class="minister-img"> -->
                            <img src="../../../assets/images/user.png" class="minister-img">
                            <h6>श्री. गजानन सुसर</h6>
                            <p>उप जिल्हा शिक्षणाधिकारी </p>
                            <p>उस्मानाबाद</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-section mx-lg-5 mx-0">
            <div class="row gx-lg-1 text-start justify-content-center">
                <div class="col-sm-6 col-12 d-flex justify-content-center mb-3 text-end">
                    <img src="../../../assets/images/home-page/About-Image.png" alt="" class="about-student-img">
                </div>
                <div class="col-sm-6 col-12">
                    <p class="text-main fw-bold mb-1">आमच्याबद्दल</p>
                    <h1>शिक्षण विभाग (प्रा.) जिल्हा परिषद, </h1>
                    <h1>उस्मानाबाद राबवित असलेले उपक्रम</h1>
                    <h6 class="fw-bold">1. मा. संचालक, SCERT, पुणे यांचे कार्यक्रम</h6>
                    <ol>
                        <li>निपूण भारत अंतर्गत शाळापूर्व तयारी कार्यक्रम</li>
                        <li>शालेय शिक्षण विभागाचा "भारतरत्न डॉ. बाबासाहेब आंबेडकर आदर्श शाळा योजना" कार्यक्रम.</li>
                        <li>निपूण भारत कार्यक्रम अंतर्गत इ. २ री ते 5 वी साठी निपूण भारत अध्ययन अभ्यास
                            सर्वेक्षणाचे आयोजन यूट्युब लाइव उद्बोधन सञ- दि. 20/12/2022<br>
                            शाळास्तरावर सर्वेक्षणाचा कालावधी दि. 22/12/2022 ते 7/01/2023.
                        </li>
                        <li> वाचन अभिरूची करीता 'गोष्टीचा शनिवार' उपक्रमाचे आयोजन डिजीटल (PDF) स्वरूपात वाचण्यासाठी
                            पुस्तके उपलब्ध.</li>
                        <li> 'एक दिवस शाळेसाठी' उपक्रमाचे आयोजन</li>
                        <li>शिकू आनंदे - मराठी कृतीपुस्तिका (इ. 1 ते 5 )</li>
                        <li>करूया मैत्री गणिताशी - कृतीपुस्तिका (इ. 1 ते 5)</li>
                        <li>विद्या प्रवेश - शिक्षक व विद्यार्थी कृती</li>
                        <li>गणित पेटी</li>
                        <li>भाषा पेटी</li>
                        <li>इंग्रजी पेटी </li>
                        <li>वाचन प्रेरणा दिनाचे आयोजन </li>
                        <li>Let's change अंतर्गत 'स्वच्छता मॉनीटर'</li>
                    </ol>
                    <button class="btn-main  justify-content-center btn btn-login" routerLink="/about-us">
                        अधिक वाचा
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="app-section">
        <div class="container">
            <div class="col-sm-12 mb-5 mx-lg-5">
                <div class="text-center">
                    <h1>वैशिष्ट्य</h1>
                    <!-- <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <p>Lorem Ipsum has been
                        the industry's.</p> -->
                </div>

            </div>
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/responsive-website.svg" alt=""
                                class="img-fluid">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="fw-bold">वेब डिझाईन</h5>
                            <ul class="list-unstyled ">
                                <li>प्रतिसाद देणारे वेब डिझाईनमुळे अधिकाऱ्यांना शाळा आणि विद्यार्थ्यांच्या प्रगतीविषयी
                                    अद्ययावत माहिती सहज उपलब्ध होते, तसेच ही माहिती सुनिश्चित करण्यास मदत होऊ शकते. सर्व
                                    अधिकारी आणि शिक्षक आपली नोंदणी करून ॲप चा वापर करू शकतात, वापरकर्ते कोणतेही डिव्हाईस
                                    वापरू शकतात.</li>
                            </ul>
                        </div>
                    </div>



                    <!-- <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/infinite-colors.svg" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fw-bold">Infinite colors</h6>
                            <ul class="list-unstyled">
                                <li>The goal of infinite colors in education platforms would be to create a more
                                    personalized and engaging learning experience that helps students to reach their
                                    full potential and achieve their educational goals.</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-4">
                    <div class="d-flex justify-content-center mb-0">
                        <img src="../../../assets/images/home-page/Osmanabad_App.png" alt="" height="450px">
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/sass-app.svg" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="fw-bold">मुल्यांकन</h5>
                            <ul class="list-unstyled">
                                <li>शैक्षणिक व्यासपीठावर अतिशय सुंदर आणि पुरक असे मुल्यांकनावर आधारीत विद्यार्थ्यांची
                                    प्रगती आपणास सहज पाहता येऊ शकते, आणि यामुळे विद्यार्थ्यांचा यशाची उद्दिष्टे साध्य
                                    करण्यास मदत होते.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="d-flex app-features">
                        <div class="flex-shrink-0">
                            <img src="../../../assets/images/app-features/Features-app.svg" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fw-bold">Loaded with features</h6>
                            <ul class="list-unstyled">
                                <li>Provide tools for teachers to evaluate student performance and including automated
                                    grading systems</li>
                                <li>Platforms provide data and analytics that help teachers and administrators track
                                    student progress, identify areas for improvement, and make informed decisions about
                                    curriculum and instruction.</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>

</div>