<form [formGroup]="assetRegForm" (ngSubmit)="submitData()"> 
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">
                {{editData ? 'Updated Asset':' Add Asset'}}
            </h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body card-height-mid scrollbar">
        <!-- <mat-card-subtitle class="mb-2 fw-bold">{{'Labels.studentDetails'| translate}}</mat-card-subtitle> -->
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>select Category</mat-label>
                    <mat-select formControlName="categoryId" (selectionChange)="clearDrop('category'); getSubCategoryDrop()">
                        <mat-option [value]="category.id" *ngFor="let category of categoryArr">{{languageFlag == 'English' ? category.category:category.m_Category }}</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>select Sub Category</mat-label>
                    <mat-select formControlName="subCategoryId" (selectionChange)="clearDrop('subCategory'); getAssetTypeDrop();">
                        <mat-option [value]="sub.id" *ngFor="let sub of subCategoryArr">{{languageFlag == 'English' ? sub.subCategory:sub.m_SubCategory }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>select Asset Type</mat-label>
                    <mat-select formControlName="typeId">
                        <mat-option [value]="type.id"  *ngFor=" let type of assetTypeArr">{{languageFlag == 'English' ?
                            type.type:type.m_Type }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Brand</mat-label>
                    <input matInput  maxlength="20" formControlName="brand">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Quantity</mat-label>
                    <input matInput  maxlength="20" formControlName="quantity">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions align="end" class="me-3 mb-2">
            <button mat-stroked-button class="btn-second me-2" type="button" mat-dialog-close>{{'Labels.cancel'|
                translate}}</button>
                <button mat-stroked-button class="btn-main" type="submit">{{editObj ? ('Labels.update'|
                    translate):('Labels.submit'| translate)}}</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>
</form>

