<div mat-dialog-title class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100">
        <h6 class="text-main mb-0 fw-bold">{{editFlag ? ( 'Labels.Updateattendence' | translate ) :
            ('Labels.applyattendence' | translate )}}</h6>
        <button mat-icon-button mat-dialog-close class="btn-modal-close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<form [formGroup]="attendenceForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="card-body scrollbar pt-0">
        <div class="row gx-3">
            <!-- <div class="col-sm-12">
                <mat-radio-group aria-label="Select an option" formControlName="isPresent">
                    <mat-radio-button [value]="1">{{'Labels.Present' | translate}}</mat-radio-button>
                </mat-radio-group>
            </div> -->
            <div class="col-sm-6">
                <mat-label>{{'Labels.checkIn' | translate}}</mat-label>
                <div class="input-group">
                    <input [ngxTimepicker]="picker" formControlName="inTime"
                        [class]="(data?.checkInTime) ? attendenceForm.controls['inTime'].disable({ onlySelf: true }) : attendenceForm.controls['inTime'].enable({ onlySelf: true })">
                    <ngx-material-timepicker-toggle [for]="picker"></ngx-material-timepicker-toggle>
                    <ngx-material-timepicker #picker></ngx-material-timepicker>
                </div>
            </div>
            <div class="col-sm-6">
                <mat-label>{{'Labels.checkOut' | translate}}</mat-label>
                <div class="input-group">
                    <input [ngxTimepicker]="picker1" formControlName="OutTime"
                        [class]="(data?.checkOutTime || !data?.checkOutTime == null) ? attendenceForm.controls['OutTime'].disable({ onlySelf: true }) : attendenceForm.controls['OutTime'].enable({ onlySelf: true })">
                    <ngx-material-timepicker-toggle [for]="picker1"></ngx-material-timepicker-toggle>
                    <ngx-material-timepicker #picker1></ngx-material-timepicker>
                </div>
            </div>
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.Task' | translate}}</mat-label>
                    <textarea matInput formControlName="remark"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="card-footer">
        <div class="d-flex w-100 align-items-center justify-content-end">
            <button mat-flat-button mat-dialog-close class="btn-second me-2" type="button">{{'Labels.cancel' |
                translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{editFlag ?( 'Labels.update' | translate)
                :('Labels.submit' |
                translate)}}</button>
        </div>
    </mat-dialog-actions>
</form>