<form [formGroup]="designationForm" (ngSubmit)="OnSubmit()">
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex align-items-center justify-content-between w-100">
                <h6 class="mb-0 text-main fw-bold">{{(editFlag?'Labels.UpdateDesignation':
                    'Labels.registerDesignation')| translate}}</h6>
                <button mat-icon-button mat-dialog-close class="btn-modal-close">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body  card-height-full scrollbar">
            <div class="row mt-2 gy-2">
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.DesignationLevel' | translate}}</mat-label>
                        <mat-select formControlName="designationLevelId"
                            (selectionChange)="clearForm('designationLevelId')">
                            <mat-option *ngFor="let designation of DesiganationLevelData"
                                [value]="designation.id">{{webStorage.getLangauge() == 'EN' ?
                                designation.designationLevel : designation.m_DesignationLevel}}</mat-option>
                        </mat-select>
                        <!-- <mat-error
                            *ngIf="f['designationLevelId'].hasError('required') || f['designationLevelId'].hasError('touched')">Company
                            {{'Labels.DesignationLevelReq' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <ng-container>
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.Designation' | translate}}</mat-label>
                            <input matInput formControlName="designationType" maxlength="30"
                                (keypress)="validation.noFirstSpaceAllow($event)">
                            <!-- <mat-error
                                *ngIf="f['designationType'].hasError('required') || f['designationType'].hasError('touched')">
                                {{'Labels.DesignationTypeReq' | translate}}</mat-error> -->
                            <mat-error
                                *ngIf="f['designationType'].hasError('pattern') || f['designationType'].hasError('touched')">
                                {{'Labels.InvalidDesignation' | translate}}</mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>
                <div class="col-sm">
                    <ng-container>
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.Designation(Marathi)' | translate}}</mat-label>
                            <input matInput formControlName="m_DesignationType" maxlength="30"
                                (keypress)="validation.noFirstSpaceAllow($event);validation.unicodeMarathiAlphanumberic($event)">
                            <mat-error *ngIf="f['m_DesignationType'].hasError('pattern') ">
                                {{'Labels.DesignationTypeMarathiReq' | translate}}</mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>
        </mat-card-content>
        <!-- <mat-card-footer class="card-footer">
            <div class="d-flex w-100 justify-content-end align-items-center">
                <button mat-dialog-close mat-flat-button class="btn-second me-2">{{'Labels.cancel' |
                    translate}}</button>
                <button type="submit" mat-flat-button class="btn-main"> {{editFlag ?( 'Labels.update' | translate)
                    :('Labels.submit' |
                    translate)}}</button>
            </div>
        </mat-card-footer> -->
    </mat-card>
</form>