<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">
                {{editFlag ? 'Updated Category':'Add Category'}}
            </h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <mat-card-content class="card-body card-height-mid scrollbar">
        <!-- <mat-card-subtitle class="mb-2 fw-bold">{{'Labels.studentDetails'| translate}}</mat-card-subtitle> -->
        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.Category' | translate}}</mat-label>
                    <input matInput maxlength="20" formControlName="category"
                    (keypress)="validators.noFirstSpaceAllow($event);validators.alphaNumericOnly">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>category name marathi</mat-label>
                    <input matInput maxlength="20" formControlName ="M_category"
                    (keypress)="validators.unicodeMarathiValidation($event)"
                        (keypress)="validators.noSpaceAllow($event)">
                        <mat-error *ngIf="f['M_category'].hasError('pattern')">{{'Labels.invalidItemName'|
                            translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions align="end" class="me-3 mb-2">
            <button mat-stroked-button class="btn-second me-2" type="submit" mat-dialog-close>{{'Labels.cancel'|
                translate}}</button>
                <button mat-stroked-button class="btn-main" type="submit" (click)="onSubmit()">{{editFlag ? ( 'Labels.update' | translate):('Labels.submit' |translate)}}</button>
        </mat-card-actions>
    </mat-card-footer>
</form>
</mat-card>
