<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">
                {{data ? ('Labels.updateExamMaster' | translate): 'Labels.addExamMaster' | translate}}
            </h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
        <mat-card-content class="card-body card-height-mid scrollbar">
            <div class="row gx-2">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.state'| translate}}</mat-label>
                        <mat-select formControlName="stateId" (selectionChange)="clearDropdown(); getDistrict();">
                            <mat-option *ngFor="let state of stateArr" [value]="state.id">
                                {{languageFlag == 'English' ? state.state : state.m_State}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.district'| translate}}</mat-label>
                        <mat-select formControlName="districtId">
                            <mat-option *ngFor="let district of districtArr" [value]="district.id">
                                {{languageFlag == 'English' ? district.district : district.m_District}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.EducationalYear' | translate}}</mat-label>
                        <mat-select formControlName="educationYearId">
                            <mat-option *ngFor="let educationYear of educationYearArr" [value]="educationYear.id">
                                {{languageFlag == 'English' ? educationYear.eductionYear :
                                educationYear.eductionYear_M}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.examName' | translate}}</mat-label>
                        <input matInput formControlName="examType"
                            (keypress)="validationService.noFirstSpaceAllow($event); validationService.alphaNumericWithSpaces($event);"
                            maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.examNameMarathi' | translate}}</mat-label>
                        <input matInput formControlName="m_ExamType"
                            (keypress)="validationService.noFirstSpaceAllow($event); validationService.unicodeMarathiAlphanumberic($event);"
                            maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.MonthRangeFrom' | translate}}</mat-label>
                        <input matInput [matDatepicker]="dp1" [formControl]="dateFrom" readonly>
                        <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1 startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dp1, 'fromDate')">
                        </mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.MonthRangeTo' | translate}}</mat-label>
                        <input matInput [matDatepicker]="dp2" [formControl]="dateTo" readonly [min]="minVal">
                <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2 startView="multi-year" (monthSelected)="setMonthAndYear($event, dp2, 'todate')">
                </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row gx-2">
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.state'| translate}}</mat-label>
                        <mat-select formControlName="stateId" (selectionChange)="clearDropdown(); getDistrict();">
                            <mat-option *ngFor="let state of stateArr" [value]="state.id">
                                {{languageFlag == 'English' ? state.state : state.m_State}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.state'| translate}}</mat-label>
                        <mat-select formControlName="stateId" (selectionChange)="clearDropdown(); getDistrict();">
                            <mat-option *ngFor="let state of stateArr" [value]="state.id">
                                {{languageFlag == 'English' ? state.state : state.m_State}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.state'| translate}}</mat-label>
                        <mat-select formControlName="stateId" (selectionChange)="clearDropdown(); getDistrict();">
                            <mat-option *ngFor="let state of stateArr" [value]="state.id">
                                {{languageFlag == 'English' ? state.state : state.m_State}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <button mat-flat-button class="btn-icon btn-main">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive table-height-xs scrollbar">
                        <table mat-table [dataSource]="dataSource" class="dashboard-table">

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer align="end" class="card-footer d-flex justify-content-end">
            <button type="button" mat-flat-button mat-dialog-close class="btn-second me-2">{{'Labels.cancel' |
                translate}}</button>
            <!-- <button type="submit" mat-flat-button class="btn-main ">{{data ? ('Labels.update' | translate) :
                ('Labels.submit' | translate)}}</button> -->
            <button type="submit" mat-flat-button class="btn-main ">{{ data ? ('Labels.update' | translate) :
                'Labels.submit' | translate}} </button>
        </mat-card-footer>
    </form>
</mat-card>