<mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="over" position="end">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-main mb-0 fw-bold">{{'Labels.filterclick' | translate}}</h6>
                    <button mat-icon-button class="btn-modal-close" mat-dialog-close (click)="drawer.close()">
                        <mat-icon>
                            close
                        </mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body">
                <form [formGroup]="filterForm" class="w-100">
                    <div class="row gx-2 justify-content-end">
                        <div class="col-sm-12 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'Labels.academicYear' | translate}}</mat-label>
                                <mat-select formControlName="acYearId">
                                    <mat-option *ngFor="let year of acYear" [value]="year.educationYearId">
                                        {{webService.languageFlag == 'EN'?year.eductionYear:year.eductionYear_M}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                                <mat-select formControlName="talukaId"
                                    (selectionChange)="clearDropdown('talukaId');getAllCenter()">
                                    <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{languageFlag ==
                                        'English' ?
                                        tal.taluka:tal.m_Taluka }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                                <mat-select formControlName="centerId"
                                    (selectionChange)="clearDropdown('centerId');getVillage()">
                                    <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{languageFlag ==
                                        'English'
                                        ?cen.center:cen.m_Center}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'Labels.selectVillage' | translate}}</mat-label>
                                <mat-select formControlName="villageId" (selectionChange)="getAllSchoolsByCenterId()">
                                    <mat-option *ngFor="let village of villageArr" [value]="village.id">
                                        {{languageFlag == 'English'? village.village:village.m_Village}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                                <mat-select formControlName="schoolId" (selectionChange)="getSchoolName()">
                                    <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{languageFlag ==
                                        'English' ?
                                        sch.schoolName:sch. m_SchoolName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div  class="col-sm-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.groupClass'| translate}}</mat-label>
                                <mat-select formControlName="groupByClass"
                                    (selectionChange)="clearDropdown();getStandard();getSubject()">
                                    <mat-option *ngFor="let group of groupByClassArray"
                                        [value]="group.groupId">{{languageFlag == 'English'
                                        ?group.groupClass:group.m_GroupClass}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.standard'| translate}}</mat-label>
                                <mat-select formControlName="standardId">
                                    <mat-option *ngFor="let stan of standardArr" [value]="stan.id">{{languageFlag ==
                                        'English'
                                        ?stan.standard:stan.m_Standard}}</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>{{'Labels.Subject'| translate}}</mat-label>
                                <mat-select formControlName="subjectId">
                                    <mat-option *ngFor="let sub of subjectArr" [value]="sub.id">{{languageFlag ==
                                        'English'
                                        ?sub.subjectName:sub.m_SubjectName}}</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'Labels.ExamType' | translate}}</mat-label>
                                <mat-select formControlName="examTypeId" placeholder="All">
                                    <mat-option *ngFor="let examType of ExamTypeArray" [value]="examType.id">
                                        {{webService.languageFlag == 'EN'?examType.examType : examType.m_ExamType }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                        </div>
                        <div class="col-sm-auto">
                            <button mat-flat-button class="btn-main"
                                (click)="getTableData('filter');drawer.close()">{{'Labels.filter'|
                                translate}}</button>
                            <button mat-flat-button class="btn-second ms-2" (click)="clearForm()">{{'Labels.clear'|
                                translate}}</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

    </mat-drawer>
    <mat-drawer-content>
        <nav aria-label="breadcrumb">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item" routerLink="../dashboard">{{'Labels.dashboard'| translate}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{'Labels.studentDetailsdashboard'|
                        translate}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{languageFlag == 'Marathi' ?
                        'सातारा':'Satara'}}</li>
                    <li *ngIf="selectedTaluka && filterForm.value.talukaId !=0" class="breadcrumb-item active"
                        aria-current="page">{{languageFlag ==
                        'Marathi' ?
                        selectedTaluka?.m_Taluka :selectedTaluka?.taluka }}</li>
                    <li *ngIf="selectedCenter" class="breadcrumb-item active" aria-current="page">{{languageFlag ==
                        'Marathi' ?
                        selectedCenter?.m_Center :selectedCenter?.center }}</li>

                        <li *ngIf="selectedVillage" class="breadcrumb-item active" aria-current="page">{{languageFlag ==
                            'Marathi' ?
                            selectedVillage?.m_Village :selectedVillage?.village }}</li>

                    <li *ngIf="selectedShcool" class="breadcrumb-item active" aria-current="page">{{languageFlag ==
                        'Marathi' ?
                        selectedShcool?.m_SchoolName :selectedShcool?.schoolName }}</li>
                </ol>

                <button mat-stroked-button class="btn-main btn-icon" (click)="drawer.toggle()">
                    <mat-icon>filter_alt</mat-icon>
                </button>
            </div>
        </nav>

        <mat-card class="plain-card h-100">
            <mat-card-content class="card-body">
                <div class="row gx-2">
                    <div class="col-sm-4">
                        <h5 class="mb-0 fw-bold">{{'Labels.totalStudent' | translate}} : {{this.dashboardObj.label == "table" ? uniqueStudentCount  : webService.numberTransformFunction(tableDataArray.length)}} </h5>
                        <div class="scrollbar table-height table-responsive">
                            <app-table (recObjToChild)="childTableCompInfo($event)"></app-table>
                        </div>
                    </div>
                    <div class="col-sm-8" *ngIf="data" #myDiv>
                        <mat-card class="plain-card h-100">
                            <mat-card-content class="card-body p-0">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="student-details mt-lg-0 mt-4">
                                            <div class="d-flex flex-lg-row flex-column">
                                                <div class="flex-shrink-0 text-center text-lg-start mb-2">
                                                    <img [src]="data?.headerImage" alt="student-image" height="80px">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0 fw-bold">{{ data?.header || '-' }}</h5> 
                                                        <button mat-flat-button class="btn-main-light btn-icon border" title="Download" [routerLink]="['/print-student-details']" >
                                                            <mat-icon class="text-main">download</mat-icon>
                                                        </button>
                                                    </div>
                                                    <p class="text-muted mb-2">{{ data?.subheader || '-' }}</p>
                                                    <div class="data-container">
                                                        <div class="row mb-2 gy-2">
                                                            <div *ngFor="let head of data?.labelHeader; let j=index"
                                                                [class]="(data?.labelKey[j]==(languageFlag == 'English'?'schoolName':'m_SchoolName'))? 'col-sm-8': 'col-sm-4'">
                                                                <span class="data-label">{{head}} :</span>
                                                                <div class="data-text">{{ data?.Obj[data?.labelKey[j]]
                                                                    || '-'}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- progressline for basic  -->
                                        <div *ngIf="assessmentLevelId == '0'">
                                            <progressChartLine></progressChartLine>
                                        </div>
                                        <div *ngIf="assessmentLevelId == '1'">
                                            <div class="row w-100">
                                                <div class="col-sm-10">
                                                    <mat-radio-group aria-label="Select an option" [formControl]="inspectionBy"
                                                        (change)="loadClassWisetable()">
                                                        <mat-radio-button value="0">{{webService.languageFlag == 'EN'?
                                                            'Teacher':'शिक्षक'}}</mat-radio-button>
                                                        <mat-radio-button value="1">{{webService.languageFlag == 'EN'? 'Officer':'
                                                            अधिकारी'}}</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div *ngIf="false" class="col-sm-5">
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <mat-label>{{'Labels.Subject'| translate}}</mat-label>
                                                        <!-- <mat-select [formControl]="subjectControl" (selectionChange)="constuctLineChart()"> -->
                                                            <mat-select >
                                                                <mat-option *ngFor="let sub of subjectArr" [value]="sub.id">{{languageFlag ==
                                                                    'English'
                                                                    ?sub.subjectName:sub.m_SubjectName}}</mat-option>                                                                                                    </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                
                                                <div class="col-sm-2 fw-bold pt-2">
                                                    <div> 0 - {{webService.languageFlag == 'EN'? "Poor" : "	न्यूनतम"}}</div>
                                                    <div> 1 - {{webService.languageFlag == 'EN'? "Average" : "साधारण"}}</div>
                                                    <div> 2 - {{webService.languageFlag == 'EN' ?"Good": "उच्चतम"}}</div>

                                                </div>
                                            </div>
                                            <mat-card-header class="card-header pb-0 border-bottom-0">
                                               
                                            </mat-card-header>
                                        <!-- table start here for language   -->
                                        <div class=" overflow-auto">
                                            <div class="col-sm-12">
                                                <div>
                                                    <div class="w-100">
                                                        <h6 class="my-2 px-1 fw-bold text-main">{{webService.languageFlag == 'EN'? ('Language'):('भाषा ')}} </h6>
                                                        <!-- <h6 class="my-2 px-1 fw-bold text-main">{{webService.languageFlag == 'EN'? ('Expected level in subject ' +
                                                            subjectNameClassWise + ' : '):(subjectNameClassWise+' विषयात अपेक्षित असलेला स्तर : ')}} </h6> -->
                                                        
                                                    </div>
                                                    <div class="table-responsive ">
                                                        <table class="table dashboard-table">
                                                            <thead class="bg-main-light">
                                                                    <tr>
                                                                        <th *ngFor="let header of displayedheadersClass">
                                                                            {{webService.languageFlag == 'EN'?header.label :header.m_label }}
                                                                        </th>
                                                                    </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngFor="let item of langSubList; let i=index">
                                                                    <tr>
                                                                        <td>{{i+1}}</td>
                                                                        <td>{{webService.languageFlag == 'EN'? item.question : item.m_Question}}</td>
                                                                        <td>{{webService.languageFlag == 'EN'? item.optionName : item.m_OptionName}}</td>
                                                                        <td>{{webService.languageFlag == 'EN'? item.level : item.m_Level}}</td>
                                                                        <td>{{webService.languageFlag == 'EN'? item.examType : item.m_ExamType}}</td>
                                                                        <td>{{webService.languageFlag == 'EN'? item.expectedLevel : item.expectedLevel}}</td>
                                                                        <td>{{webService.languageFlag == 'EN'? item.actualMarks : item.actualMarks}}</td>

                                                                    </tr> 
                                                                                                                        
                                                                </ng-container>
                                                                 
                                                            </tbody>
                                                        </table>
                                                        <div *ngIf="langSubList?.length ==0">
                                                            <div class="alert alert-danger text-center py-2 ">
                                                                {{'Labels.dataNotFound' | translate}}
                                                            </div>
                                                        </div>  
                                                    </div>
                                                                             
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div>
                                                    <h6 class="my-2 px-1 fw-bold text-main">{{webService.languageFlag == 'EN'? (' Mathematics'):('गणित')}} </h6>
                                                    <div class="table-responsive ">
                                                    <table class="table dashboard-table">
                                                        <thead class="bg-main-light">
                                                                <tr>
                                                                    <th *ngFor="let header of displayedheadersClass">
                                                                        {{webService.languageFlag == 'EN'?header.label :header.m_label }}
                                                                    </th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container>
                                                                <tr *ngFor="let item of mathSubList; let i=index">
                                                                    <td>{{i+1}}</td>
                                                                    <td>{{webService.languageFlag == 'EN'? item.question : item.m_Question}}</td>
                                                                    <td>{{webService.languageFlag == 'EN'? item.optionName : item.m_OptionName}}</td>
                                                                    <td>{{webService.languageFlag == 'EN'? item.level : item.m_Level}}</td>
                                                                    <td>{{webService.languageFlag == 'EN'? item.examType : item.m_ExamType}}</td>
                                                                    <td>{{webService.languageFlag == 'EN'? item.expectedLevel : item.expectedLevel}}</td>
                                                                    <td>{{webService.languageFlag == 'EN'? item.actualMarks : item.actualMarks}}</td>
                                                                </tr>                                         
                                                            </ng-container>
                                                            
                                                        </tbody>
                                                    </table>
                                                  
                                                    <div *ngIf="mathSubList?.length == 0">
                                                        <div class="alert alert-danger text-center py-2 ">
                                                            {{'Labels.dataNotFound' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="fw-bold">
                                                           <span > Percentage:</span> {{totalMarksInSub?.percentage}}
                                                        </div>
                                                        <div class="fw-bold me-5" *ngIf="totalMarksInSub?.totalMarks > 0">
                                                            Total: {{totalMarksInSub?.actualMarks}} / {{totalMarksInSub?.totalMarks}}
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                
                                            <!-- end here language  -->

                                             <!-- table Mathamatic start here   -->
                                      
                                
                                            <!-- table Mathamatic end here  -->

                                            <!-- table for who taken assessment -->
                                            <h6 class="text-main fw-bold mt-3 mb-2" data-html2canvas-ignore="true">
                                                {{inspectionBy.value=='0'?(webService.languageFlag == 'EN'?'Assessment by Teacher':'शिक्षकाने घेतलेले मूल्यांकन '):(webService.languageFlag == 'EN'?'Assessment by Officer':'अधिकाऱ्याने घेतलेले मूल्यांकन')}}
                                            </h6>
                                            <div class="table-responsive">
                                            <table class="table dashboard-table">
                                                <thead class="bg-main-light">
                                                        <tr>
                                                            <th *ngFor="let header of displayedheadersClassAsseTakenBy">
                                                                {{webService.languageFlag == 'EN'?header.label :header.m_label }}
                                                            </th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let item of classwiseAsseTakenList; let i=index">
                                                        <tr>
                                                            <td>{{i+1}}</td>
                                                            <td>{{webService.languageFlag == 'EN'? item.name : item.m_Name}}</td>
                                                            <td>{{webService.languageFlag == 'EN'? item.designationType : item.m_DesignationType}}</td>
                                                            <td>{{item.assessmentDate}}</td>
                                                        </tr>                                                       
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                            <div *ngIf="classwiseAsseTakenList?.length ==0">
                                                <!-- <div *ngIf="langSubList?.length ==0"> -->
                                                <div class="alert alert-danger text-center py-2 ">
                                                    {{'Labels.dataNotFound' | translate}}
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                            
                                        <!-- table for class  -->
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-sm-7" *ngIf="!data">
                        <div class="alert alert-danger text-center py-2 ">
                            <span> {{ webService.languageFlag == 'EN' ? 'Data not available' : 'डेटा उपलब्ध नाही'
                                }}</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>