<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master'| translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">Stock Report</li>
    </ol>
</nav>
<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header mb-0 pb-0 border-bottom-0">
        <form [formGroup]="filterForm" class="w-100">
            <div class="row gx-3">
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                        <mat-select formControlName="talukaId" (selectionChange)="getAllCenter()">
                            <!-- <mat-option *ngFor="let taluka of ">Option-1 </mat-option> -->
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{languageFlag == 'English' ?
                                tal.taluka:tal.m_Taluka }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                        <mat-select formControlName="centerId" (selectionChange)="getVillage()">
                            <!-- <mat-option>Option-1 </mat-option> -->
                            <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{languageFlag == 'English'
                                ?cen.center:cen.m_Center}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.village'| translate}}</mat-label>
                        <mat-select formControlName="villageId" (selectionChange)="getAllSchoolsByCenterId()">
                            <!-- <mat-option>Option-1 </mat-option> -->
                            <mat-option *ngFor="let village of villageArr" [value]="village.id">{{languageFlag =='English'
                                ?village.village:village.m_Village}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                        <mat-select formControlName="schoolId">
                            <!-- <mat-option>Option-1 </mat-option> -->
                            <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{languageFlag == 'English' ?
                                sch.schoolName:sch.m_SchoolName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.Category'| translate}}</mat-label>
                        <mat-select formControlName="CategoryId" (selectionChange)="getAllSubCategory()">
                            <!-- <mat-option>Option-1 </mat-option> -->
                            <mat-option *ngFor="let category of categoryArr" [value]="category.id">{{languageFlag == 'English' ?
                                category.category:category. m_Category}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.subcategoryname'| translate}}</mat-label>
                        <mat-select formControlName="SubCategoryId" (selectionChange)="getItemDrop()">
                            <!-- <mat-option>Option-1 </mat-option> -->
                            <mat-option *ngFor="let subCategory of subCategoryArr" [value]="subCategory.id">{{languageFlag == 'English' ?
                                subCategory.subCategory:subCategory. m_SubCategory}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.itemName'| translate}}</mat-label>
                        <mat-select formControlName="ItemsId">
                            <!-- <mat-option>Option-1 </mat-option> -->
                            <mat-option *ngFor="let item of itemArr" [value]="item.id" >{{languageFlag == 'English' ? item.itemName : item.m_Item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.searchItems'| translate}}</mat-label>
                        <input matInput formControlName="textSearch" maxlength="30">
                    </mat-form-field>
                </div> -->
                <div class="col-sm-4">
                    <div class="mb-0 d-flex justify-content-start gap-2">
                        <button mat-flat-button class="btn-main" type="submit" (click)="getTableData('filter')">{{'Labels.filter'|
                            translate}}</button>
                        <button mat-flat-button type="button" class="btn-second" (click)="filterForm.reset();getTableData()" >{{'Labels.clear'|
                            translate}}</button>
                        <button mat-flat-button class="bg-danger btn-icon text-white"
                            matTooltip="{{'Labels.DownloadPdf' | translate}}" matTooltipPosition="below"
                            matTooltipClass="tooltip" (click)="getTableData('pdfFlag')">
                            <mat-icon>
                                description
                            </mat-icon>
                        </button>
                        <button mat-flat-button class="bg-success btn-icon text-white" (click)="getTableData('excel')">
                            <mat-icon class="material-symbols-outlined">table</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </mat-card-content>
</mat-card>