<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">
                {{ (data ? 'Labels.updateOfficeUser' : 'Labels.registerOfficeUsers') | translate}}</h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="officeForm" (ngSubmit)="submitOfficeData()">
        <mat-card-content class="card-body scrollbar">
            <div class="row gx-3">
                <!-- designationlevel dropdown -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.level' | translate}}</mat-label>
                        <mat-select formControlName="designationLevelId"
                            (selectionChange)="onchangeLevel(); onchangeValidation($event, 'Level'); clearDropDown('Level')">
                            <mat-option [value]="level.id" *ngFor="let level of levels">{{webStorageService.languageFlag
                                =='mr-IN' ? level.m_DesignationLevel : level.designationLevel}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['designationLevelId'].hasError('required')">{{'Labels.levelRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <!-- designationlevel dropdown -->

                <!-- agency Dropdown  -->
                <div class="col-sm-6" *ngIf="officeForm.value.designationLevelId == 7">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.NGOName' | translate}}</mat-label>
                        <mat-select formControlName="agencyId" (selectionChange)="clearDropDown('agency')">
                            <mat-option [value]="agency.id"
                                *ngFor="let agency of others">{{webStorageService.languageFlag =='mr-IN' ?
                                agency.m_Agency_Name: agency.agency_Name}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['districtId'].hasError('required')">{{'Labels.districtIsRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <!-- agency Drop End -->
                <div class="col-sm-6"
                    *ngIf=" officeForm.value.designationLevelId != 6 && officeForm.value.designationLevelId != 7">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.state' | translate}}</mat-label>
                        <mat-select formControlName="stateId" (selectionChange)="clearDropDown('State'); getDistrictDrop()">
                            <mat-option *ngFor="let state of stateArr" [value]="state.id">
                                {{webStorageService.languageFlag =='mr-IN' ? state.m_State : state.state}}
                              </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['districtId'].hasError('required')">{{'Labels.districtIsRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-sm-6"
                    *ngIf=" officeForm.value.designationLevelId != 6 && officeForm.value.designationLevelId != 7">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.district' | translate}}</mat-label>
                        <mat-select formControlName="districtId" (selectionChange)="clearDropDown('District'); getTalukaDrop()">
                            <mat-option [value]="dist.id"
                                *ngFor="let dist of districts">{{webStorageService.languageFlag =='mr-IN' ?
                                dist.m_District: dist.district}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['districtId'].hasError('required')">{{'Labels.districtIsRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>

                <!-- taluka dropdown -->
                <div class="col-sm-6"
                    *ngIf=" officeForm.value.designationLevelId != 6 && officeForm.value.designationLevelId != 7">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.taluka' | translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropDown('Taluka'); onchangeTaluka()">
                            <mat-option [value]="taluka.id"
                                *ngFor="let taluka of talukas">{{webStorageService.languageFlag =='mr-IN' ?
                                taluka.m_Taluka : taluka.taluka}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['talukaId'].hasError('required')">{{'Labels.talukaIsRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <!-- End taluka dropdown -->
                <!-- village dropdown -->
                <div class="col-sm-6" *ngIf="officeForm.value.designationLevelId == 5">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.village'| translate}}</mat-label>
                        <mat-select formControlName="villageId" (selectionChange)="clearDropDown('villageId');">
                            <mat-option *ngFor="let village of villageArr" [value]="village.id">{{webStorageService.languageFlag == 'mr-IN'
                                ? village.m_Village:village.village}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['centerId'].hasError('required')">{{'Labels.pleaseSelectCenter'| translate }} </mat-error> -->
                    </mat-form-field>
                </div>
                <!-- End Village dropdown -->
                <!-- designation Dropdown -->
                <div class="col-sm-6"
                    *ngIf="officeForm.value.designationLevelId != 6 && officeForm.value.designationLevelId != 7">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.designation' | translate}}</mat-label>
                        <mat-select formControlName="designationId" 
                            (selectionChange)="getCenterDrop(); onchangeValidation($event, 'Designation'); clearDropDown('Designation');">
                            <mat-option [value]="desig.id"
                                *ngFor="let desig of designations">{{webStorageService.languageFlag =='mr-IN' ?
                                desig.m_DesignationType: desig.designationType}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['designationId'].hasError('required')">{{'Labels.DesignationTypeReq' | translate}}</mat-error> -->
                    </mat-form-field>
                    <!-- end designation Dropdown -->

                    <!-- bit dropdown -->

                    <!--end bit dropdown -->

                </div>
                <!-- <div class="col-sm-6" *ngIf="officeForm.value.designationLevelId == 5"> -->
                    <div class="col-sm-6" *ngIf="officeForm.value.designationId == 10">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.bit' | translate}}</mat-label>
                        <mat-select formControlName="bitId"
                            (selectionChange)="onchangeValidation($event, 'bit'); clearDropDown('bit');">
                            <mat-option [value]="bit.id" *ngFor="let bit of bits">{{webStorageService.languageFlag
                                =='mr-IN' ? bit.m_BitName: bit.bitName}}</mat-option>
                        </mat-select>
                        <!-- <input matInput formControlName="bitName" (keypress)="validation.noFirstSpaceAllow($event)"> -->
                        <!-- <mat-error *ngIf="fc['bitName'].hasError('required')">{{'Labels.bitRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <!-- kendra dropdown -->
                <div class="col-sm-6"
                    *ngIf="officeForm.value.designationId == 18 &&  officeForm.value.designationLevelId == 8">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.kendra' | translate}}</mat-label>
                        <mat-select multiple [compareWith]="compareFn" formControlName="centerId"
                            (selectionChange)="clearDropDown('Kendra')">
                            <mat-option [value]="centr" 
                                *ngFor="let centr of centers" [disabled]="centr.isPresent">{{webStorageService.languageFlag =='mr-IN' ?
                                centr.m_Center : centr.center}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['centerId'].hasError('required')">{{'Labels.kendraRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <!-- kendra dropdown -->

                <!-- school dropdown  -->
                <!-- <div class="col-sm-6"
                    *ngIf="officeForm.value.designationLevelId == 3 && officeForm.value.designationId == 18">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.school' | translate}}</mat-label>
                        <mat-select formControlName="schoolId">
                            <mat-option [value]="sch.id" *ngFor="let sch of schools">{{webStorageService.languageFlag
                                =='mr-IN' ? sch.m_SchoolName : sch.schoolName}}</mat-option>
                        </mat-select> -->
                        <!-- <mat-error *ngIf="fc['schoolId'].hasError('required')">{{'Labels.schoolIsRequired' | translate}}</mat-error> -->
                    <!-- </mat-form-field>
                </div> -->
                <!-- End school dropdown  -->

                <!-- beoMobileNo and beoEmailId dropdown-->
                <ng-container *ngIf="officeForm.value.designationLevelId == 3 && officeForm.value.designationId == 11">
                    <div class="col-sm-6"
                        *ngIf="officeForm.value.designationLevelId == 3 && officeForm.value.designationId == 11">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.contactBeo' | translate}}</mat-label>
                            <!-- <input matInput formControlName="beoMobileNo" (keypress)="validation.onlyDigits($event)"  (blur)="onBlur()" maxlength="11"> -->
                            <!-- <input matInput formControlName="beoMobileNo" (keypress)="validation.onlyDigits($event)"  (blur)="onBlur()" maxlength="11"> -->

                            <input matInput maxlength="11" minlength="10" (keypress)="validation.onlyDigits($event)"
                                formControlName="beoMobileNo">
                            <!-- <mat-error>{{errorMsg}}</mat-error> -->


                            <!-- <mat-error *ngIf="fc['beoMobileNo'].hasError('required')">{{'Labels.mobileIsRequired' | translate}}</mat-error> -->
                            <!-- <mat-error *ngIf="fc['beoMobileNo'].hasError('pattern')">{{'Labels.pleaseEnterValidMobileNumber' | translate}}</mat-error> -->
                            <!-- <div *ngIf="submitted &&  fc['beoMobileNo'].errors?.['pattern']" class="invalid-feedback"> -->
                            <!-- <div *ngIf="fc['beoMobileNo'].errors?.['pattern']">Enter valid  Contact No.
                        </div> -->
                            <!-- </div> -->
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.EmailIDofficer' | translate}}</mat-label>
                            <input matInput formControlName="beoEmailId" maxlength="50">
                            <!-- <mat-error *ngIf="fc['beoEmailId'].hasError('required')">{{'Labels.emailIdIsRequired' | translate}}</mat-error> -->
                            <mat-error *ngIf="fc['beoEmailId'].hasError('pattern')">{{'Labels.pleaseEnterValidEmailId' |
                                translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <!-- beoMobileNo and beoEmailId dropdown-->

                <!-- ContactNoKendra and EmailIDkendra dropdown -->
                <ng-container *ngIf="officeForm.value.designationLevelId == 3 && officeForm.value.designationId == 18">
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.ContactNoKendra' | translate}}</mat-label>
                            <input matInput formControlName="kendraMobileNo" (keypress)="validation.onlyDigits($event)"
                                maxlength="11" minlength="10">
                            <mat-error>{{kendraErrorMsg}}</mat-error>

                            <!-- <mat-error *ngIf="fc['kendraMobileNo'].hasError('required')">{{'Labels.mobileIsRequired' | translate}}</mat-error> -->
                            <!-- <mat-error *ngIf="fc['kendraMobileNo'].hasError('pattern')">{{'Labels.pleaseEnterValidMobileNumber' | translate}}</mat-error> -->

                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.EmailIDkendra' | translate}}</mat-label>
                            <input matInput formControlName="kendraEmailId" maxlength="50">
                            <!-- <mat-error *ngIf="fc['kendraEmailId'].hasError('required')">{{'Labels.emailIdIsRequired' | translate}}</mat-error> -->
                            <mat-error
                                *ngIf="fc['kendraEmailId'].hasError('pattern')">{{'Labels.pleaseEnterValidEmailId' |
                                translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <!-- ContactNoKendra and EmailIDkendra dropdown -->

                <!-- office user name input   -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.name' | translate}}</mat-label>
                        <input matInput formControlName="name" (keypress)="validation.noFirstSpaceAllow($event);"
                            maxlength="50">
                        <!-- <mat-error *ngIf="fc['name'].hasError('required')">{{'Labels.nameIsRequired' | translate}}</mat-error> -->
                        <mat-error *ngIf="fc['name'].hasError('pattern')">{{'Labels.pleaseEnterValidPersonName' |
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <!--End office user name input -->
                <!-- office user name input marathi -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.nameMarathi' | translate}}</mat-label>
                        <input matInput formControlName="m_Name"
                            (keypress)="validation.noFirstSpaceAllow($event); validation.unicodeMarathiValidation($event)"
                            maxlength="50">
                        <mat-error *ngIf="fc['m_Name'].hasError('pattern')"> {{'Labels.pleaseEnterValidOfficeUserName' |
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- End office user name input Marathi -->

                <!-- office user gender dropdown -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.gender'| translate}}</mat-label>
                        <mat-select formControlName="genderId">
                            <mat-option [value]="gender.id"
                                *ngFor="let gender of genderArray">{{webStorageService.getLangauge() == 'EN' ?
                                gender.gender : gender.m_Gender}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- End office user gender dropdown -->

                <!-- office user date of birth input -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.DateOfBirth'| translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly
                            formControlName="dob" [max]="currentDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- End office user date of birth input -->

                <!-- office user Mobile input -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.mobileNo' | translate}}</mat-label>
                        <input matInput formControlName="mobileNo" (keypress)="validation.onlyDigits($event);"
                            maxlength="10">
                        <!-- <mat-error *ngIf="fc['mobileNo'].hasError('required')">{{'Labels.mobileIsRequired' | translate}}</mat-error> -->
                        <mat-error *ngIf="fc['mobileNo'].hasError('pattern')">{{'Labels.pleaseEnterValidMobileNumber' |
                            translate}}</mat-error>
                    </mat-form-field>
                </div>

                <!--Ennd office user Mobile input -->

                <!-- address  -->

                <!-- End address  -->

                <!-- office Email input -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.emailID' | translate}}</mat-label>
                        <input matInput formControlName="emailId" (keypress)="validation.noFirstSpaceAllow($event)"
                            maxlength="50">
                        <!-- <mat-error *ngIf="fc['emailId'].hasError('required')">{{'Labels.emailIdIsRequired' | translate}}</mat-error> -->
                        <mat-error *ngIf="fc['emailId'].hasError('pattern')">{{'Labels.pleaseEnterValidEmailId' |
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12"
                    *ngIf="officeForm.value.designationLevelId == 6 ||  officeForm.value.designationLevelId == 7">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.address' | translate}}</mat-label>
                        <input matInput formControlName="address" (keypress)="validation.noFirstSpaceAllow($event)"
                            maxlength="100">
                        <!-- <mat-error *ngIf="fc['address'].hasError('required')">{{'Labels.addressIsRequired' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <!-- End office Email input -->
            </div>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-end card-footer mb-0">
            <button mat-flat-button type="button" mat-dialog-close class="btn-second me-2">{{'Labels.cancel' |
                translate}}</button>
            <button mat-flat-button type="submit" class="btn-main">{{ (data ? 'Labels.update' : 'Labels.submit') |
                translate}}</button>
        </mat-card-footer>
    </form>
</mat-card>