<div mat-dialog-title class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100">
        <h6 class="text-main mb-0 fw-bold">{{ data ? 'Update CCTV Location':'Labels.Addcctvrlocation'| translate }}</h6>
        <button mat-icon-button mat-dialog-close class="btn-modal-close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<form [formGroup]="cctvLocationForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="card-body card-height-sm scrollbar">
        <div class="row gx-3">
            <!-- 
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.district'| translate}}</mat-label>
                    <mat-select formControlName="districtId" (selectionChange)="getTaluka()">
                        <mat-option *ngFor="let dist of $districts | async" [value]="dist.id">{{languageFlag =='English'
                            ?
                            dist.district : dist.m_District}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                    <mat-select formControlName="talukaId" (selectionChange)="getAllCenter();clearDependency('taluka')">
                        <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{languageFlag == 'English' ?
                            tal.taluka:tal.m_Taluka }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.center'| translate}}</mat-label>
                    <mat-select formControlName="centerId" (selectionChange)="getVillage();clearDependency('centerId')">
                        <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{languageFlag == 'English'
                            ?cen.center:cen.m_Center}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.village'| translate}}</mat-label>
                    <mat-select formControlName="villageId"
                        (selectionChange)="getAllSchoolsByCenterId();clearDependency('villageId')">
                        <mat-option *ngFor="let village of villageArr" [value]="village.id">{{languageFlag ==
                            'English'
                            ?village.village:village.m_Village}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.school'| translate}}</mat-label>
                    <mat-select formControlName="schoolId">
                        <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{languageFlag == 'English' ?
                            sch.schoolName:sch.m_SchoolName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.CCTVLocation'| translate}}</mat-label>
                    <mat-select formControlName="cctvLocationId">
                        <mat-option *ngFor="let cctvLoc of CCTVLocation" [value]="cctvLoc.id">{{languageFlag ==
                            'English' ?
                            cctvLoc.cctvLocation:cctvLoc.m_CCTVLocation}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label> {{'Labels.Description'| translate}}</mat-label>
                    <textarea matInput formControlName="remark" (keypress)="validators.noFirstSpaceAllow($event)"
                        maxlength="500"></textarea>
                </mat-form-field>
            </div>
        </div>

        <mat-card-subtitle class="mb-3 fw-bold">{{'Labels.cctvdetails'| translate}}</mat-card-subtitle>
        <form [formGroup]="cameraDetailsForm">
            <div class="row gx-3 mb-3">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.CCTVLocation'| translate}}</mat-label>
                        <mat-select formControlName="cctvTypeId">
                            <mat-option *ngFor="let cctvLoc of cctvCameraTypeArr" [value]="cctvLoc.id">{{languageFlag ==
                                'English' ?
                                cctvLoc.cctvType:cctvLoc.m_CCTVType}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6" *ngIf="cameraDetailsForm.value.cctvTypeId == 1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.ipAddress'| translate}}</mat-label>
                        <input matInput formControlName="ipAddress"
                            (keypress)="validators.noFirstSpaceAllow($event);validators.alphaNumericWithSpaces($event)"
                            maxlength="100">
                    </mat-form-field>
                </div>
                
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.CCTVName'| translate}}</mat-label>
                        <input matInput formControlName="cctvName"
                            (keypress)="validators.noFirstSpaceAllow($event);validators.alphaNumericWithSpaces($event)"
                            maxlength="100">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.CCTVModel'| translate}}</mat-label>
                        <input matInput formControlName="cctvModel"
                            (keypress)="validators.noFirstSpaceAllow($event);validators.alphaNumericWithSpaces($event)"
                            maxlength="100">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.DeviceId'| translate}}</mat-label>
                        <input matInput formControlName="deviceId"
                            (keypress)="validators.noFirstSpaceAllow($event);validators.onlyDigits($event)"
                            maxlength="100">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.RegistrationDate'| translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="registerDate" (click)="picker.open()"
                            [max]="currentDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.Username'| translate}}</mat-label>
                        <input matInput formControlName="userName"
                            (keypress)="validators.noFirstSpaceAllow($event); validators.alphaNumericWithoutSpaces($event);"
                            maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.Password'| translate}}</mat-label>
                        <input matInput formControlName="password" (keypress)="validators.noFirstSpaceAllow($event);"
                            maxlength="10" minlength="8">
                        <mat-error *ngIf="cf['password'].hasError('pattern')">Please Enter Valid
                            Password</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.link'| translate}}</mat-label>
                        <input matInput formControlName="link" (keypress)="validators.noFirstSpaceAllow($event);"
                            maxlength="10" minlength="8">
                        <mat-error *ngIf="cf['link'].hasError('pattern')">Please Enter Valid
                            Link</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm text-end">
                    <button mat-flat-button type="submit" class="btn-main" (click)="onSubmitCameraDetails()">
                        <mat-icon>add</mat-icon>
                        {{editCctvObj ? ('Labels.UpdateCCTVDetails' | translate):('Labels.AddCCTVDetails' | translate)}}
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table dashboard-table" *ngIf="cameraDetailsArr.length>0">
                        <thead>
                            <tr>
                                <th scope="col">{{this.languageFlag == "English" ? 'Sr.No.' : 'अ.क्र'}}</th>
                                <th scope="col">{{this.languageFlag == "English" ? 'CCTV Name' : 'CCTV नाव'}}</th>
                                <th scope="col"> {{this.languageFlag == "English" ? 'CCTV Model' : 'CCTV मॉडेल'}}</th>
                                <th scope="col">{{this.languageFlag == "English" ? 'Device Id' : 'डिव्हाइस ID'}}</th>
                                <th scope="col">
                                    {{this.languageFlag == "English" ? 'Registration Date' : 'नोंदण दिनांक'}}
                                </th>
                                <th scope="col">{{this.languageFlag == "English" ? 'User Name' : 'युजर नेम'}}</th>
                                <th scope="col">{{this.languageFlag == "English" ? 'Password' : 'पासवर्ड'}}</th>
                                <th scope="col" width="95px">{{this.languageFlag == "English" ? 'Action' : 'कृती'}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cctv of cameraDetailsArr; let i = index"
                                [ngStyle]="(cctv.isDeleted == true ) ? {backgroundcolor:'#C6C6C6', opacity:'0.4'} : { }">
                                <td>{{i+1}}</td>
                                <td>
                                    <span class="text-ellipsis-150-L2">{{cctv.cctvName}}</span>
                                </td>
                                <td>
                                    <span class="text-ellipsis-150-L2">{{cctv.cctvModel}}</span>
                                </td>
                                <td>{{cctv.deviceId}}</td>
                                <td>{{cctv.registerDate | date:'dd-MM-yyyy'}}</td>
                                <td>{{cctv.userName}}</td>
                                <td>{{cctv.password}}</td>
                                <td>
                                    <button mat-icon-button matTooltip="{{'Labels.edit' | translate}}"
                                        matTooltipPosition="left" matTooltipClass="tooltip" type="button"
                                        (click)="onEditCctv(cctv)" [disabled]="cameraDetailsArr[i].isDeleted">
                                        <mat-icon class="text-main"> edit</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="{{'Labels.delete' | translate}}"
                                        matTooltipPosition="right" matTooltipClass="tooltip" type="button"
                                        (click)="deleteCctvDetail(cctv, i)" [disabled]="cameraDetailsArr[i].isDeleted">
                                        <mat-icon class="text-danger"> delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="card-footer">
        <div class="d-flex w-100 align-items-center justify-content-end">
            <button mat-flat-button mat-dialog-close class="btn-second me-2" type="button">{{'Labels.cancel' |
                translate}}</button>
            <button mat-flat-button class="btn-main" type="submit">{{data ?( 'Labels.update' | translate)
                :('Labels.submit' |
                translate)}}</button>
        </div>
    </mat-dialog-actions>
</form>