<footer class="container-fluid pb-3">
    <div class="container">
        <div class="row  pt-3 mb-3 align-items-center">
            <div class="col-sm-2">
                <div class="mb-3 text-center text-lg-start">
                    <!-- <img src="assets/images/home-page/updated_white_logo.svg" class="shikshan-darpan-logo"> -->
                    <img src="assets/images/white-logo-zp-satara.svg" class="shikshan-darpan-logo">
                </div>
            </div>
            <div class="col-sm text-center col-6">
                <div class="d-flex privacy-policy flex-lg-row flex-column align-items-start justify-content-center">
                    <a routerLink="./home">Home</a>
                    <a routerLink="./about-us">About Us</a>
                    <a routerLink="./contact-us">Contact Us</a>
                    <a routerLink="./help">Help</a>
                    <a routerLink="./privacy-policy">Privacy Policy</a>
                </div>
            </div>
            <div class="col-sm-3 text-end col-6">
                <!-- <div class="d-flex flex-column justify-content-end">
                    <small style="font-size: 0.7rem;" class="mb-1">Sponsored By</small>
                    <div class="d-flex gap-4 align-items-center flex-column flex-lg-row">
                        <img src="../../../assets/images/wotr-logo.png" style="width:90px" class="ms-auto">
                        <img src="../../../assets/images/sponseredby.png" style="height: 20px;">
                    </div>
                </div> -->
            </div>

            <!-- <div class="col-sm col-6">
                <h4>Links</h4>
                <ul>
                   <li> <a routerLink="./home">Home</a></li>
                   <li> <a routerLink="./about-us">About Us</a></li>
                   <li> <a routerLink="./contact-us">Contact Us</a></li>
                   <li> <a routerLink="./help">Help</a></li>
                    <li><a routerLink="./privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-4 mt-5 mt-lg-0">
                <h4>Contact</h4>
                <div class="d-flex contact">
                    <div class="flex-shrink-0">
                        <i class='bx bx-phone'></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        +91 9876543210
                    </div>
                </div>
                <div class="d-flex contact">
                    <div class="flex-shrink-0">
                        <i class='bx bx-envelope'></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        mailto:con@gmail.com
                    </div>
                </div>
                <div class="d-flex contact">
                    <div class="flex-shrink-0">
                        <i class='bx bx-map'></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        Shankarsheth Road, Swargate, Pune, 411037
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Email ID">
                    <button type="button"><i class='bx bx-right-arrow-alt'></i></button>
                </div>

            </div> -->

        </div>
        <div class="d-flex justify-content-between flex-wrap align-items-center">
            <div class="mx-auto mx-lg-0">
                <p class="mb-0 mt-1 pt-0 small">© {{currentYear}} Shikshan Darpan, All Rights Reserved.</p>
            </div>

            <div class="footer-stpl-logo mx-auto mx-lg-0">
                <a class="nav-link" href="http://shauryatechnosoft.com" target="_blank">
                    <span>Powered By -</span>
                    <span> shaurya Technosoft</span>
                    <img src="assets/images/stplwhitelogo.svg" class="stpl-logo text-end">
                </a>
            </div>
        </div>
    </div>
</footer>