<footer class="container-fluid pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-6">
                <div class="mb-2 text-center text-lg-start">
                    <img src="../../../../assets/images/ZpSatara-Logo.svg" class="shikshan-darpan-logo">
                </div>
                <p class="">Lorem Ipsum is simply dummy text</p>
                <div class="privacy-policy d-flex flex-lg-row flex-column justify-content-start">
                    <a routerLink="#">
                        <img src="assets/images/home-page/Facebook-icon.png">
                    </a>
                    <a routerLink="#">
                        <img src="assets/images/home-page/Instagram-icon.png">
                    </a>
                    <a routerLink="#">
                        <img src="assets/images/home-page/Twitter-icon.png">
                    </a>
                    <a routerLink="#">
                        <img src="assets/images/home-page/Email-icon.png">
                    </a>
                </div>

            </div>
            <div class="col-sm-3 col-6">
                <ul>
                    <li>
                        <h6 class=" mb-0">Explore</h6>
                    </li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">News & Articles</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Sign In / Registration</a></li>
                    <li><a href="#">Coming soon</a></li>
                </ul>
            </div>
            <div class="col-sm col-6">
                <ul>
                    <li>
                        <h6 class=" mb-0">Links</h6>
                    </li>
                    <li><a routerLink="./home">Home</a></li>
                    <li><a routerLink="./about-us">About Us</a></li>
                    <li><a routerLink="./contact-us">Contact Us</a></li>
                    <li><a href="#">Sign In / Registration</a></li>
                    <li><a routerLink="./help">Help</a></li>
                    <li><a routerLink="./privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm col-6">
                <ul>
                    <li>
                        <h6 class=" mb-0">Contact</h6>
                    </li>
                    <li><a href="#">+91 9876543210</a></li>
                    <li><a href="#">con@gmail.com</a></li>
                    <li><a href="#">Shankarsheth Road,Swargate, Pune, 411037</a></li>
                </ul>
            </div>
        </div>
        <div class="sub-footer">
            <p class="small mb-0 pt-0 mt-0">© {{currentYear}} Satara, All Rights Reserved.</p>
            <div class="footer-stpl-logo mx-auto mx-lg-0">
                <a class="nav-link" href="http://shauryatechnosoft.com" target="_blank">
                    <span>Powered By -</span>
                    <img src="assets/images/stplwhitelogo.svg" class="stpl-logo text-end">
                </a>
            </div>
        </div>
    </div>
</footer>
    