<mat-drawer-container class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="over" position="end">
        <mat-card class="plain-card">
            <mat-card-header class="card-header pb-0">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-main mb-0 fw-bold">{{'Labels.filterclick' | translate}}</h6>
                    <button mat-icon-button class="btn-modal-close" mat-dialog-close (click)="this.drawer.close()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body mt-2 mt-lg-0 mb-0 pb-0">
                <form [formGroup]="mainFilterForm" (ngSubmit)="onMainFilterSubmit();this.drawer.close()">
                    <!-- <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.academicYear' | translate}}</mat-label>
                            <mat-select formControlName="acYearId" (selectionChange)="setAcadamicYearValue()">
                                <mat-option *ngFor="let year of acYear" [value]="year.id">
                                    {{webStorage.languageFlag == 'EN'?year.eductionYear:year.eductionYear_M}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div class="mb-0">
                        <!-- [ngClass]="{'disabledContent': this.userDetails?.userTypeId > 2}" -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectState' | translate}}</mat-label>
                            <mat-select formControlName="stateId" (selectionChange)="getDistrict()">
                                <mat-option *ngFor="let state of stateData" [value]="state.id">
                                    {{webStorage.languageFlag == 'EN' ? state.state:state.m_State}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <!-- [ngClass]="{'disabledContent': this.userDetails?.userTypeId > 2}" -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectDistrict' | translate}}</mat-label>
                            <mat-select formControlName="districtId" (selectionChange)="getTalukas()">
                                <mat-option *ngFor="let district of districtData" [value]="district.id">
                                    {{webStorage.languageFlag == 'EN' ? district.district:district.m_District}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <!-- [ngClass]="{'disabledContent': this.userDetails?.userTypeId > 2}" -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectTaluka' | translate}}</mat-label>
                            <mat-select formControlName="talukaId" (selectionChange)="getCenters();clickOnSvgMap()">
                                <mat-option *ngFor="let taluka of talukaData" [value]="taluka.id">
                                    {{webStorage.languageFlag == 'EN' ? taluka.taluka:taluka.m_Taluka}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectCenter' | translate}}</mat-label>
                            <mat-select formControlName="centerId" (selectionChange)="getVillage()">
                                <mat-option *ngFor="let center of centerData" [value]="center.id">
                                    {{webStorage.languageFlag == 'EN'?center.center:center.m_Center}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectVillage' | translate}}</mat-label>
                            <mat-select formControlName="villageId" (selectionChange)="getschools()">
                                <mat-option *ngFor="let village of villageData" [value]="village.id">
                                    {{webStorage.languageFlag == 'EN'? village.village:village.m_Village}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectSchool' | translate}}</mat-label>
                            <mat-select formControlName="schoolId" (selectionChange)="getTeacher()">
                                <mat-option *ngFor="let school of schoolData" [value]="school.id">
                                    {{webStorage.languageFlag == 'EN'?school.schoolName :school.m_SchoolName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button mat-flat-button type="button" class="me-2 btn-second" mat-dialog-close
                            (click)="resetMainFilter()">{{'Labels.reset'|
                            translate}}</button>
                        <button mat-flat-button type="submit" class="btn-main btn">{{'Labels.filterclick' |
                            translate}}</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-drawer>

    <mat-drawer-content>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item w-100 d-flex justify-content-between" aria-current="page">
                    <button mat-stroked-button class="btn-main btn-icon">
                        <mat-icon>autorenew</mat-icon></button> &nbsp;&nbsp;
                    <div class="d-flex justify-content-between w-100">
                        <span class="mt-2">{{('Labels.dashboard2' | translate) + ' / '+(webStorage.languageFlag =='EN'?
                            districtLabel?.district : districtLabel?.m_District) + ' / ' +(webStorage.languageFlag ==
                            'EN'?talukaLabel?.taluka:talukaLabel?.m_Taluka) + ' / ' + centerName + ' / '+villageName
                          + ' / '+schoolName}} 
                        </span>
                        <div class="d-flex gap-2">
                            <!-- academicYear year dropdown -->
                            <div class="row gx-2">
                                <!-- <div class="col-sm-6" type="button" (click)="navigateToReport()">
                                    <div class="mt-1">
                                        {{(webStorage.languageFlag == 'EN'?
                                        'Total schools assessed' : 'मुल्यांकन झाल्येल्या एकुण शाळा')+' :
                                        '+
                                        dashboardCountData[0]?.assessmentSchoolsCount+'/'+dashboardCountData[0]?.schoolCount}}
                                    </div> --
                                    <span  >
                                        {{webStorage.languageFlag == 'EN'?'Total schools assessed:' :
                                        'मुल्यांकन झाल्येल्या एकुण शाळा:' }}
                                    </span>
                                    <span class="fw-bold">
                                        {{dashboardCountData[0]?.assessmentSchoolsCount+'/'+dashboardCountData[0]?.schoolCount}}
                                    </span>
                                </div> -->

                                <div class="col-sm">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label> {{'Labels.academicYear' | translate}}</mat-label>
                                        <mat-select [formControl]="academicYear"
                                            (selectionChange)="onMainFilterSubmit('year')">
                                            <mat-option *ngFor="let year of acYear" [value]="year.id">
                                                {{webStorage.languageFlag ==
                                                'EN'?year.eductionYear:year.eductionYear_M}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.ExamType' | translate}}</mat-label>
                                        <mat-select [formControl]="examType" (selectionChange)="onMainFilterSubmit()">
                                            <mat-option *ngFor="let exam of examTypeData" [value]="exam.id">
                                                {{webStorage.languageFlag ==
                                                'EN'?exam.examType:exam.m_ExamType}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-stroked-button class="btn-main btn-icon" (click)="drawer.toggle()">
                                <mat-icon>filter_alt</mat-icon>
                            </button>
                        </div>
                    </div>
                </li>
            </ol>
        </nav>

        <div class="row mb-3 g-2" id="dash-stats">
            <div class="col-sm-3">
                <div class="card card-body bg-blue" routerLink="../school-registration">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/School-white.svg" class="bg-image">
                            <p>{{'Labels.SchoolName' | translate}}</p>
                            <h3>{{dashboardCountData[0]?.schoolCount ||0}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/School.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-cyan">
                    <div class="d-flex justify-content-between align-items-center" routerLink="../teacher-registration">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/Teacher-white.svg" class="bg-image">
                            <p>{{'Labels.teachers' | translate}}</p>
                            <h3>{{dashboardCountData[0]?.teacherCount ||0}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/Teacher.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-voilet">
                    <div class="d-flex justify-content-between align-items-center" routerLink="../student-registration">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/Student-white.svg" class="bg-image">
                            <p>{{'Labels.students' | translate}}</p>
                            <h3>{{dashboardCountData[0]?.studentCount ||0}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/Student.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-magenta">
                    <div class="d-flex justify-content-between align-items-center"
                        routerLink="../office-user-registration">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/ZP-Officer-white.svg" class="bg-image">
                            <p>{{'Labels.zpOfficer' | translate}}</p>
                            <h3>{{dashboardCountData[0]?.zpOfficerCount ||0}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/ZP-Officer.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-2">
            <div class="col-sm-4">
                <mat-card class="plain-card w-100 h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.map' | translate}}</h6>
                    </mat-card-header>
                    <mat-card-content class="card-body h-100">
                        <div id="mapsvg1"></div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-8">
                <mat-card class="plain-card w-100 h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.SchoolwisePerformance' | translate}}</h6>
                    </mat-card-header>
                    <mat-card-header class="card-header border-0 mb-0 pb-0">
                        <form class="w-100" [formGroup]="filterForm">
                            <div class="row g-2">
                                <div class="col-sm-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.Evaluator' | translate}}</mat-label>
                                        <mat-select formControlName="evaluatorId"
                                            (selectionChange)="getAllTeacherOfficerByEvaluatorId();getSchoolwiseBarDetails()">
                                            <mat-option *ngFor="let data of evaluatorDataArray"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.evaluator
                                                :data.m_Evaluator}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.user' | translate}}</mat-label>
                                        <mat-select formControlName="userId"  (selectionChange)="getSchoolwiseBarDetails()">
                                            <mat-select-filter [displayMember]="'teacherOfficer'" [array]="allTeacherOfficerData" (filteredReturn)="allTeacherOfficerDataList =$event"></mat-select-filter>
                                            <mat-option *ngFor="let data of allTeacherOfficerDataList" [value]="data.id">
                                                {{webStorage.languageFlag == 'EN'?data.teacherOfficer
                                                :data.m_TeacherOfficer}}
                                            </mat-option>
                                        </mat-select>
                                        <!-- <mat-select formControlName="userId"
                                            (selectionChange)="getSchoolwiseBarDetails()">
                                            <mat-option *ngFor="let data of allTeacherOfficerData"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.teacherOfficer
                                                :data.m_TeacherOfficer}}</mat-option>
                                        </mat-select> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllClass' | translate}}</mat-label>
                                        <mat-select formControlName="classId"
                                            (selectionChange)="getSchoolwiseBarDetails()">
                                            <mat-option *ngFor="let data of standardResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.standard
                                                :data.m_Standard}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllSubject' | translate}}</mat-label>
                                        <mat-select formControlName="subjectId"
                                            (selectionChange)="getSchoolwiseBarDetails()">
                                            <mat-option *ngFor="let data of subjectResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.subject
                                                :data.m_Subject}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row g-2" *ngIf="totalStudentCountSchoolwise">{{('Labels.totalAssessmentStudent'
                                | translate)+" : " +totalStudentCountSchoolwise}}</div>
                        </form>
                    </mat-card-header>
                    <mat-card-content class="card-body pt-0">
                        <div id="schoolwiseChart">
                            <ng-container *ngIf="schoolwiseChartOptions">
                                <apx-chart [series]="schoolwiseChartOptions?.series"
                                    [chart]="schoolwiseChartOptions?.chart"
                                    [dataLabels]="schoolwiseChartOptions?.dataLabels"
                                    [plotOptions]="schoolwiseChartOptions?.plotOptions"
                                    [xaxis]="schoolwiseChartOptions?.xaxis"
                                    [colors]="schoolwiseChartOptions?.colors"></apx-chart>
                            </ng-container>
                            <ng-container *ngIf="!schoolwiseChartOptions">
                                <div class="alert alert-danger text-center p-2" role="alert">
                                    {{'Labels.dataNotFound' | translate}}
                                </div>
                            </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="plain-card w-100 h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.map' | translate}}</h6>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart" *ngIf="piechartOptions">
                            <apx-chart [series]="piechartOptions?.series" [plotOptions]="piechartOptions?.plotOptions"
                                [legend]="piechartOptions?.legend" [chart]="piechartOptions?.chart"
                                [theme]="piechartOptions?.theme" [fill]="piechartOptions?.fill"
                                [tooltip]="piechartOptions?.tooltip" [labels]="piechartOptions?.labels"
                                [responsive]="piechartOptions?.responsive" [colors]="piechartOptions?.colors"
                                [dataLabels]="piechartOptions?.dataLabels">
                            </apx-chart>
                        </div>
                        <ng-container *ngIf="!piechartOptions">
                            <div class="alert alert-danger text-center p-2" role="alert">
                                {{'Labels.dataNotFound' | translate}}
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-8">
                <mat-card class="plain-card pt-0 w-100 h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.TeacherWisePerformance' | translate}}</h6>
                    </mat-card-header>
                    <mat-card-header class="card-header border-0 mb-0 pb-0">
                        <form class="w-100" [formGroup]="filterFormTeacherWise">
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.Teacher' | translate}}</mat-label>
                                        <mat-select formControlName="evaluatorId"  (selectionChange)="getTeacherwiseBarDetails()">
                                            <mat-select-filter [displayMember]="'teacherName'" [array]="teacherResp" (filteredReturn)="teacherRespFilteredList =$event"></mat-select-filter>
                                            <mat-option *ngFor="let data of teacherRespFilteredList" [value]="data.id">
                                                {{webStorage.languageFlag == 'EN'?data.teacherName
                                                :data.m_TeacherName}}
                                            </mat-option>
                                        </mat-select>
                                        <!-- <mat-select formControlName="evaluatorId"
                                            (selectionChange)="getTeacherwiseBarDetails()">
                                            <mat-option *ngFor="let data of teacherResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.teacherName
                                                :data.m_TeacherName}}</mat-option>
                                        </mat-select> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllClass' | translate}}</mat-label>
                                        <mat-select formControlName="classId"
                                            (selectionChange)="getTeacherwiseBarDetails()">
                                            <mat-option *ngFor="let data of standardResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.standard
                                                :data.m_Standard }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllSubject' | translate}}</mat-label>
                                        <mat-select formControlName="subjectId"
                                            (selectionChange)="getTeacherwiseBarDetails()">
                                            <mat-option *ngFor="let data of subjectResp" [value]="data.id">{{
                                                webStorage.languageFlag == 'EN'?data.subject
                                                :data.m_Subject}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row g-2" *ngIf="totalStudentCountTeacharwise">{{('Labels.totalAssessmentStudent'
                                | translate)+" : " +totalStudentCountTeacharwise}}</div>
                        </form>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="teacherwiseChart">
                            <ng-container *ngIf="teacherwiseChartOptions">
                                <apx-chart [series]="teacherwiseChartOptions?.series"
                                    [chart]="teacherwiseChartOptions?.chart"
                                    [dataLabels]="teacherwiseChartOptions?.dataLabels"
                                    [plotOptions]="teacherwiseChartOptions?.plotOptions"
                                    [xaxis]="teacherwiseChartOptions?.xaxis"
                                    [colors]="teacherwiseChartOptions?.colors"></apx-chart>
                            </ng-container>
                            <ng-container *ngIf="!teacherwiseChartOptions">
                                <div class="alert alert-danger text-center p-2" role="alert">
                                    {{'Labels.dataNotFound' | translate}}
                                </div>
                            </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.Classwiseperformance' | translate}}</h6>
                    </mat-card-header>
                    <mat-card-header class="card-header border-0 mb-0 pb-0">
                        <form class="w-100" [formGroup]="classwiseFilterForm">
                            <div class="row g-2">
                                <!-- <div class="col-sm-6">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>{{'Labels.AllClass' | translate}}</mat-label>
                                            <mat-select formControlName="classId" (selectionChange)="getClasswiseBarDetails()">
                                                <mat-option *ngFor="let data of standardResp"
                                                    [value]="data.id">{{webStorage.languageFlag == 'EN'?data.standard
                                                    :data.m_Standard}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
    
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>{{'Labels.level' | translate}}</mat-label>
                                            <mat-select formControlName="levelId"
                                                (selectionChange)="getClasswiseBarDetails()">
                                                <mat-option *ngFor="let data of graphLevelArr"
                                                    [value]="data.id">{{webStorage.languageFlag == 'EN'?data.graphLevel
                                                    :data.m_GraphLevel}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div> -->
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllSubject' | translate}}</mat-label>
                                        <mat-select formControlName="subjectId"
                                            (selectionChange)="getClasswiseBarDetails()">
                                            <mat-option *ngFor="let data of subjectResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.subject
                                                :data.m_Subject}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row g-2" *ngIf="totalStudentCountClasswise">{{('Labels.totalAssessmentStudent' |
                                translate)+" : " +totalStudentCountClasswise}}</div>
                        </form>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="classwiseChart">
                            <ng-container *ngIf="classwiseChartOptions">
                                <apx-chart [series]="classwiseChartOptions?.series"
                                    [chart]="classwiseChartOptions?.chart"
                                    [dataLabels]="classwiseChartOptions?.dataLabels"
                                    [plotOptions]="classwiseChartOptions?.plotOptions"
                                    [xaxis]="classwiseChartOptions?.xaxis"
                                    [colors]="classwiseChartOptions?.colors"></apx-chart>
                            </ng-container>
                            <ng-container *ngIf="!classwiseChartOptions">
                                <div class="alert alert-danger text-center p-2" role="alert">
                                    {{'Labels.dataNotFound' | translate}}
                                </div>
                            </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">{{'Labels.SubjectWisePerformance' | translate}}</h6>
                    </mat-card-header>
                    <mat-card-header class="card-header border-0 mb-0 pb-0">
                        <form class="w-100" [formGroup]="subjectWiseFilterForm">
                            <div class="row g-2">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.level' | translate}}</mat-label>
                                        <mat-select formControlName="levelId"
                                            (selectionChange)="getSubjectwiseBarDetails()">
                                            <mat-option *ngFor="let data of graphLevelArr"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.graphLevel
                                                :data.m_GraphLevel}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllClass' | translate}}</mat-label>
                                        <mat-select formControlName="classId"
                                            (selectionChange)="getSubjectwiseBarDetails()">
                                            <mat-option *ngFor="let data of standardResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.standard
                                                :data.m_Standard}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-sm-6">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>{{'Labels.AllSubject' | translate}}</mat-label>
                                            <mat-select formControlName="subjectId"
                                                (selectionChange)="getSubjectwiseBarDetails()">
                                                <mat-option *ngFor="let data of subjectResp"
                                                    [value]="data.id">{{webStorage.languageFlag == 'EN'?data.subject
                                                    :data.m_Subject}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div> -->

                            </div>
                            <div class="row g-2" *ngIf="totalStudentCountSubjectwise">{{('Labels.totalAssessmentStudent'
                                |
                                translate)+" : " +totalStudentCountSubjectwise}}</div>
                        </form>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="subjectWiseChart">
                            <ng-container *ngIf="subjectWiseChartOptions">
                                <apx-chart [series]="subjectWiseChartOptions?.series"
                                    [chart]="subjectWiseChartOptions?.chart"
                                    [dataLabels]="subjectWiseChartOptions?.dataLabels"
                                    [plotOptions]="subjectWiseChartOptions?.plotOptions"
                                    [xaxis]="subjectWiseChartOptions?.xaxis"
                                    [colors]="subjectWiseChartOptions?.colors"></apx-chart>
                            </ng-container>
                            <ng-container *ngIf="!subjectWiseChartOptions">
                                <div class="alert alert-danger text-center p-2" role="alert">
                                    {{'Labels.dataNotFound' | translate}}
                                </div>
                            </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>