<ng-container>
    <div class="row g-3 mb-3">
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-school">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.school) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.SchoolName' | translate}}1</p>
                        </div>
                        <img src="assets/images/menu-icons/school-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.urban) }}</h5>
                            <p class="mb-0">{{'Labels.Urban' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.rural) }}</h5>
                            <p class="mb-0">{{'Labels.Rural' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-teacher">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.teacher) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.Teacher' | translate}}</p>
                        </div>
                        <img src="assets/images/menu-icons/teacher-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.female) }}</h5>
                            <p class="mb-0">{{'Labels.Female' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.male) }}</h5>
                            <p class="mb-0">{{'Labels.Male' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-students">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.students) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.Student' | translate}}</p>
                        </div>
                        <img src="assets/images/menu-icons/student-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.girls) }}</h5>
                            <p class="mb-0">{{'Labels.Girls' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.boys) }}</h5>
                            <p class="mb-0">{{'Labels.Boys' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-designation">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/Designation-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.designation) }}</h5>
                            <p class="mb-0">{{'Labels.Designation' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-users">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/User-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.officeUser) }}</h5>
                            <p class="mb-0">{{'Labels.OfficeUsers' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-agency">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/Agency-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.agencyRegistration)
                                }}</h5>
                            <p class="mb-0">{{'Labels.agencyReg' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</ng-container>

<!-- <ng-container>
    <div class="row g-3 mb-3">
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-school">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.school) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.SchoolName' | translate}}1</p>
                        </div>
                        <img src="assets/images/menu-icons/school-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.urban) }}</h5>
                            <p class="mb-0">{{'Labels.Urban' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.rural) }}</h5>
                            <p class="mb-0">{{'Labels.Rural' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-teacher">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.teacher) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.Teacher' | translate}}</p>
                        </div>
                        <img src="assets/images/menu-icons/teacher-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.female) }}</h5>
                            <p class="mb-0">{{'Labels.Female' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.male) }}</h5>
                            <p class="mb-0">{{'Labels.Male' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-students">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.students) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.Student' | translate}}</p>
                        </div>
                        <img src="assets/images/menu-icons/student-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.girls) }}</h5>
                            <p class="mb-0">{{'Labels.Girls' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.boys) }}</h5>
                            <p class="mb-0">{{'Labels.Boys' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-designation">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/Designation-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.designation) }}</h5>
                            <p class="mb-0">{{'Labels.Designation' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-users">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/User-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.officeUser) }}</h5>
                            <p class="mb-0">{{'Labels.OfficeUsers' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-agency">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/Agency-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.agencyRegistration)
                                }}</h5>
                            <p class="mb-0">{{'Labels.agencyReg' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="row g-3 mb-3">
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-school">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.school) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.SchoolName' | translate}}1</p>
                        </div>
                        <img src="assets/images/menu-icons/school-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.urban) }}</h5>
                            <p class="mb-0">{{'Labels.Urban' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.rural) }}</h5>
                            <p class="mb-0">{{'Labels.Rural' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-teacher">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.teacher) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.Teacher' | translate}}</p>
                        </div>
                        <img src="assets/images/menu-icons/teacher-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.female) }}</h5>
                            <p class="mb-0">{{'Labels.Female' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.male) }}</h5>
                            <p class="mb-0">{{'Labels.Male' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-students">
                <mat-card-content class="card-body">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="text-end">
                            <h1 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.students) }}</h1>
                            <p class="mb-0 fw-bold fs-6">{{'Labels.Student' | translate}}</p>
                        </div>
                        <img src="assets/images/menu-icons/student-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center border-end border-secondary">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.girls) }}</h5>
                            <p class="mb-0">{{'Labels.Girls' | translate}}</p>
                        </div>
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.boys) }}</h5>
                            <p class="mb-0">{{'Labels.Boys' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-designation">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/Designation-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.designation) }}</h5>
                            <p class="mb-0">{{'Labels.Designation' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-users">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/User-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.officeUser) }}</h5>
                            <p class="mb-0">{{'Labels.OfficeUsers' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-12 col-sm-2">
            <mat-card class="plain-card card-agency">
                <mat-card-content class="card-body">
                    <div class="text-center">
                        <img src="assets/images/menu-icons/Agency-grey.svg">
                    </div>
                </mat-card-content>
                <mat-card-footer class="card-footer border-top-0">
                    <div class="d-flex">
                        <div class="flex-fill text-center">
                            <h5 class="mb-0">{{ webStorage.numberTransformFunction(statisticsArray[0]?.agencyRegistration)
                                }}</h5>
                            <p class="mb-0">{{'Labels.agencyReg' | translate}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</ng-container> -->
