<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.setting' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.criteriawisequestion' | translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
            <div class="text-main fw-bold">
                {{'Labels.criteriawisequestion' | translate}}
            </div>
            <button mat-flat-button class="btn-main" (click)="openDialog()">
                <mat-icon>add</mat-icon>
                {{'Labels.addcriteriawisequestion'| translate}}
            </button>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header pb-0 border-bottom-0">
        <form class="w-100" [formGroup]="filterForm">
            <div class="row gx-2">
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.state' | translate}}</mat-label>
                        <mat-select formControlName="stateId"
                            (selectionChange)="clearFilter('state'); getDistrict();callCritetiaApi()">
                            <mat-option *ngFor="let data of stateArr" [value]="data.id">
                                {{webService.getLangauge() == 'EN' ? data.state : data.m_State}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.district' | translate}}</mat-label>
                        <mat-select formControlName="districtId" (selectionChange)="clearFilter('district');callCritetiaApi()">
                            <mat-option *ngFor="let data of districtArr" [value]="data.id">
                                {{webService.getLangauge() == 'EN' ?  data.district : data.m_District}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label> {{'Labels.standard'| translate}}</mat-label>
                        <mat-select formControlName="standardId" (selectionChange)="clearFilter();callCritetiaApi()">
                            <mat-option *ngFor="let data of standardArr" [value]="data.id">
                                {{webService.getLangauge() == 'EN' ?  data.standard : data.m_Standard}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.Subject' | translate}}</mat-label>
                        <mat-select formControlName="subjectId" (selectionChange)="clearFilter();callCritetiaApi()">
                            <mat-option *ngFor="let sub of subjectArr" [value]="sub.id">
                                {{webService.getLangauge() == 'EN' ?  sub.subject : sub.m_Subject}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.QuestionType' | translate}}</mat-label>
                        <mat-select formControlName="questionTypeId" (selectionChange)="clearFilter();callCritetiaApi()">
                            <mat-option *ngFor="let que of questionArr" [value]="que.id">
                                {{webService.getLangauge() == 'EN' ?  que.questionType : que.m_QuestionType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.EducationalYear' | translate}}</mat-label>
                        <mat-select formControlName="educationalYearId" (selectionChange)="clearFilter();callCritetiaApi()">
                            <mat-option *ngFor="let educationYear of educationYearArr" [value]="educationYear.id">
                                {{webService.getLangauge() == 'EN' ?  educationYear.eductionYear :
                                educationYear.eductionYear_M}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.Criteria' | translate}}</mat-label>
                        <mat-select formControlName="criteriaId">
                            <mat-option *ngFor="let criteria of criteriaArr" [value]="criteria.id">
                                {{webService.getLangauge() == 'EN' ?  criteria.question : criteria.m_Question}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label> {{'Labels.criteriawisequestion' | translate}}</mat-label>
                        <input matInput formControlName="textSearch">
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <button mat-stroked-button class="btn-main" (click)="getTableData('filter')">{{'Labels.filter' | translate}}</button>
                    <button type="button" mat-stroked-button class="btn-second ms-2" (click)="clearFilterForm()">{{'Labels.clear' | translate}}</button>
                </div>
            </div>
        </form>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <div class="table-responsive">
            <app-table (recObjToChild)="childCompInfo($event)"></app-table>
        </div>
    </mat-card-content>
</mat-card>