<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex align-items-center justify-content-between w-100">
                <h6 class="text-main mb-0 fw-bold">{{editFlag ? ('Labels.UpdatedoutwardItems'|
                    translate):('Labels.OutwardItmes'|
                    translate)}}</h6>
                <button mat-icon-button mat-dialog-close class="btn-modal-close">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body scrollbar card-height-sm">
            <!-- <mat-card-subtitle class="mb-2 fw-bold">{{'Labels.personalDetails'| translate}}</mat-card-subtitle> -->
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{'Labels.CategoryName'| translate}}</mat-label>
                        <mat-select formControlName="categoryId"
                            (selectionChange)="onChangeDropD('category');getSubCategory(itemForm.controls['categoryId'].value)">
                            <mat-option *ngFor="let data of categoryresp" [value]="data.id">
                                {{webStorage.getLangauge() == 'EN' ?
                                data.category : data.m_Category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{'Labels.subcategoryname'| translate}}</mat-label>
                        <mat-select formControlName="subcategoryId"
                            (selectionChange)="onChangeDropD('subcategory');getItem(itemForm.controls['subcategoryId'].value)">
                            <mat-option *ngFor="let data of subcategoryresp" [value]="data.id">
                                {{webStorage.getLangauge() == 'EN' ?
                                data.subCategory : data.m_SubCategory}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{'Labels.itemName'| translate}}</mat-label>
                        <mat-select formControlName="itemId" (selectionChange)="getOpeningStock();">
                            <mat-option *ngFor="let item of itemresp" [value]="item.id">
                                {{webStorage.getLangauge() == 'EN' ?
                                item.itemName : item. m_ItemName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex justify-content-start mt-2">
                        <p class="text-main mb-0 fw-bold">{{'Labels.Openingstock'| translate}} :</p>
                        <p class="text-main mb-0 ps-2">{{openingStock}}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{'Labels.Units'| translate}}</mat-label>
                        <input matInput formControlName="unit"
                            (keypress)="Validation.noFirstSpaceAllow($event);Validation.onlyDigits($event)"
                            (change)="getUnitByQty()">
                    </mat-form-field>
                    <!-- <mat-error *ngIf="openingStockFlag == true">Unit Should Be Less Than Opening Stock</mat-error> -->
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{'Labels.SellPrice'| translate}}</mat-label>
                        <input matInput formControlName="sellprice" (keypress)="Validation.noFirstSpaceAllow($event);Validation.NumericWithDot($event)"
                        maxlength="20">
                        <mat-error *ngIf="f['sellprice'].hasError('pattern')">Invalid Sell Price</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.SellDate'| translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly
                            formControlName="date" [max]="currentDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{'Labels.Assignto'| translate}}</mat-label>
                        <textarea matInput rows="1" cols="10" formControlName="onwordto"
                            (keypress)="Validation.noFirstSpaceAllow($event)"></textarea>
                    </mat-form-field>
                </div>
               
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{'Labels.remark'| translate}}</mat-label>
                        <textarea matInput rows="2" cols="10" formControlName="remark"
                            (keypress)="Validation.noFirstSpaceAllow($event)"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="upload-btn-wrapper">
                            <button class="upload-btn" type="button"
                                matTooltip="{{uploadImg ? uploadImg.split('/').pop() :''}}" matTooltipPosition="below"
                                matTooltipClass="tooltip" (click)="uploadImage.click()">{{'Labels.uploadPhotodocument' |
                                translate}}</button>
                            <!-- <input type="file" name="myfile"  [disabled]="uploadImg" multiple accept=".png, .jpg, .jpeg"
                                 #uploadImage (change)="multipleImgUpload($event)"/> -->

                            <input type="file" name="myfile" formControlName="photo" multiple accept=".png, .jpg, .jpeg, .pdf, .doc, .txt"
                                #uploadImage (change)="multipleImgUpload($event)" />
                                <mat-error *ngIf="imgValidation == false && (uploadImg == '' || uploadImg == undefined)">
                                    Photo Is Required
                                </mat-error>

                        </div>

                        <!-- <div class="action-btn" *ngIf="uploadImg">
                            <button mat-icon-button class="btn-icon text-primary" type="button"
                                 matTooltip="{{'Labels.View' | translate}}"
                                matTooltipPosition="below" matTooltipClass="tooltip" (click)="viewImg()">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-icon text-danger" type="button"
                                 matTooltip="{{'Labels.delete' | translate}}"
                                matTooltipPosition="below" matTooltipClass="tooltip" (click)="clearImg()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div> -->
                    </div>
                    <p style="font-size: 11px;" class="mb-0 pt-1">{{'Labels.NoteImgPdfFormat' | translate}}</p>
                </div>

              


                <div class="col-sm-12 mt-3">
                    <div class="d-flex flex-wrap gap-4">
                        <ng-container *ngFor="let data of imgArray; let i = index">
                            <div class="gallery position-relative">
                                <img [src]="data.docFlag?'assets/images/pdf-image.png':data.photo" height="110px" width="110px" class="border"
                                (click)="onViewDoc(i)">
                                <span class="position-absolute" style="top:-17px;right:-17px;">
                                    <button type="button" mat-icon-button
                                        class="bg-danger bg-opacity-25 text-danger material-icons"
                                        (click)="clearMultipleImg(i)" matTooltip="{{'Labels.delete' | translate}}"
                                        matTooltipPosition="right" matTooltipClass="tooltip">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>


            </div>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <div class="d-flex w-100 align-items-center justify-content-end">
                <button mat-flat-button mat-dialog-close class="btn-second me-2">{{'Labels.cancel' |
                    translate}}</button>
                <button mat-flat-button class="btn-main" type="submit">{{editFlag ?( 'Labels.update' | translate)
                    :('Labels.submit' |
                    translate)}}</button>
            </div>
        </mat-card-footer>
    </mat-card>
</form>