.footer-privacy-policy{
    padding-top: 10px;
}
.footer-privacy-policy h6{
    background-color: #12968b;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    font-weight: 600;
}
.footer-privacy-policy h5{
    font-weight: 600;
}
.footer-privacy-policy P{
   font-size: 0.85rem;
   color: #1c1c1cf0;
}
.contact-us {
    padding-top: 45px;
    background-image: url(../../../assets/images/home-page/AboutUs-Background-image.png);
    height: 228px;
    background-repeat: no-repeat;
    background-size: auto;
}

.contact-us h1{
    font-size: 2.7rem;
    font-weight: 600;
    color: white;
    padding-top: 50px;
}