<mat-card class="plain-card overflow-hidden">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="mb-0 text-main fw-bold">{{'Labels.myprofile' | translate}}</h6>
            <button type="button" mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">
    <mat-card-content class="card-body">
        <div class="text-center mb-3">
            <div class="upload-btn-wrapper">
                <img  src="{{uploadImg}}" alt="profile-img" width="100" class="profile-image">
                <input type="file" id="img-upload" #uploadImage (change)="fileUpload($event)"/>
                    <div *ngIf="this.userType.userTypeId == 4 && this.userType.subUserTypeId == 14 || this.userType.subUserTypeId == 15" class="profile-buttons d-flex flex-column">
                    <button *ngIf="!showButton" type="button" class="btn bg-light text-primary" (click)="uploadImage.click()">
                        <i class='bx bx-plus'></i>
                    </button>
                    <button *ngIf="showButton" type="button" class="border border-0 btn bg-light text-danger" (click)="removeImg()">
                        <i class='bx bx-trash'></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.name' | translate}}</mat-label>
                    <input matInput formControlName="name" [readonly]="this.userType.subUserType == 'Admin'" (keypress)="validation.noFirstSpaceAllow($event); validation.alphabetsWithSpaces($event)">
                </mat-form-field>
            </div>
            <!-- <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middleName">
                </mat-form-field>
            </div> -->
            <!-- <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div> -->
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.contactNo.' | translate}}</mat-label>
                    <input matInput formControlName="mobileNo" maxlength="10" (keypress)="validation.onlyDigits($event)" [readonly]="this.userType.subUserType == 'Admin'">
                    <mat-error *ngIf="fc['mobileNo'].hasError('pattern')">{{'Labels.pleaseEnterValidMobileNumber' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.emailID' | translate}}</mat-label>
                    <input matInput formControlName="emailId" maxlength="50" (keypress)="validation.noFirstSpaceAllow($event); validation.emailRegex($event)" [readonly]="this.userType.subUserType == 'Admin'">
                    <mat-error *ngIf="fc['emailId'].hasError('pattern')">{{'Labels.pleaseEnterValidEmailId' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-6" *ngIf="this.userType.userTypeId!= 1 && this.userType.userTypeId!= 4">
            <mat-form-field appearance="outline" class="w-100 " >
                <mat-label>{{'Labels.Designation' | translate}}</mat-label>
                <mat-select formControlName="designationLevelId" (Change)="getDesignation()">
                    <mat-option *ngFor="let data of designationData"
                        [value]="data.id">{{webStorage.getLangauge() == 'EN' ?
                        data.designationType : data.m_DesignationType}}</mat-option>                           
                </mat-select>                
            </mat-form-field>
           </div>
           <div class="col-sm-6" *ngIf="this.userType.userTypeId == 4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'Labels.Designation' | translate}}</mat-label>
                <input matInput formControlName="subUserTypeId" maxlength="50" >
                <!-- <mat-error *ngIf="fc['emailId'].hasError('pattern')">{{'Labels.pleaseEnterValidEmailId' | translate}}</mat-error> -->
            </mat-form-field>
           </div>
         
        </div>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <div class="d-flex w-100 justify-content-end align-items-center">
            <button type="button" mat-dialog-close mat-flat-button class="btn-second me-2">{{'Labels.cancel' | translate}}</button>
            <ng-container *ngIf="userType.userType != 'Admin'">
                <button type="submit" mat-flat-button class="btn-main me-3" >{{'Labels.update' | translate}}</button>
            </ng-container>
           
        </div>
    </mat-card-footer>
   </form>
</mat-card>