<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.schoolprofile' | translate}}</li>
    </ol>
</nav>
<app-page-statistics></app-page-statistics>
<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
            <div class="text-main fw-bold">
                {{'Labels.schoolprofileList' | translate}}
            </div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="student-details">
                    <div class="d-flex">
                        <div class="flex-shrink-0" *ngIf="showImg">
                            <img src="assets/images/user.png"
                                alt="student-image">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1 fw-bold text-break">scholl name</h5>
                            <p class="text-muted mb-0" style="height:32px;">village name
                            </p>

                            <div class="data-container">
                                <div class="row g-2">
                                    <div class="col-sm-6" >
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <!-- <span class="data-label text-break"
                                                    *ngIf="data?.checkbox != head">{{head}}</span> -->
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break" >
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div>
                                            <div class="col-sm-5 col-6">
                                                <span class="data-label">{{'Labels.school'| translate}}</span>
                                            </div>
                                            <div class="data-text p-0 col-6 col-sm-7 d-flex flex-wrap">
                                                <!-- : {{webStorage.languageFlag == 'EN' ?
                                                data?.Obj?.teacherDetails.schoolName :
                                                data?.Obj?.teacherDetails.m_SchoolName || '-'}} -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2 col-6">
                                                <!-- <span class="data-label"
                                                    *ngIf="data?.checkbox == 'Subject' || data?.checkbox == 'विषय'">{{'Labels.Subject'|
                                                    translate}} </span> -->
                                            </div>
                                            <div class=" col-6 col-sm-10 ">
                                                <div class="data-text ms-4  d-flex flex-wrap">
                                                    <div 
                                                        class="lang-badge">
                                                        <!-- {{webStorage.languageFlag == 'EN' ? assign.subjectName
                                                        :assign.m_SubjectName || '-'}} -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- show kendra Array for office registration -->
                                    <div class="col-sm-12" >
                                        <div class="row">
                                            <div class="col-sm-2 col-6">
                                                <!-- <span class="data-label"
                                                    *ngIf="data?.checkbox == 'Center' || data?.checkbox == 'केंद्र'">{{data?.checkbox}}
                                                </span> -->
                                            </div>

                                            <div class=" col-6 col-sm-10 ">
                                                <div class="data-text ms-4  d-flex flex-wrap">
                                                    <!-- <div *ngFor="let assign of data?.Obj?.officeCenterSchoolResponseModel"
                                                        class="lang-badge">
                                                        {{webStorage.languageFlag == 'EN' ? assign.center
                                                        :assign.m_Center || '-'}}
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive table-height-xs scrollbar">
                    <table mat-table [dataSource]="dataSource" class="dashboard-table">

                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let element"> 
                            <img src="	https://zposmservices.mahamining.com/Uploads/Upload/png_03272023053046PM.png" class="table-img">
                          </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="TeacherName">
                          <th mat-header-cell *matHeaderCellDef> Teacher Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.TeacherName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="EmailID">
                            <th mat-header-cell *matHeaderCellDef> Email ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.EmailID}} </td>
                          </ng-container>

                        <ng-container matColumnDef="MobileNo">
                          <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.MobileNo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Desgination">
                          <th mat-header-cell *matHeaderCellDef>Desgination</th>
                          <td mat-cell *matCellDef="let element"> {{element.Desgination}}</td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
