<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">
            {{'Labels.schoolprofile' | translate}}
        </li>
    </ol>
</nav>
<!-- <app-page-statistics></app-page-statistics> -->
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
            <div class="text-main fw-bold">{{'Labels.SchoolProfileDetails' | translate}}</div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body">
        <div class="row mb-3">
            <div class="col-sm-12 mb-3">
                <div class="student-details">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img
                                src="schoolresp?.uploadImage?'schoolresp?.uploadImage':'../../../../../assets/images/user.png'">
                            <!-- <img src="../../../../../assets/images/user.png"> -->
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1 fw-bold text-break">{{schoolresp?.schoolName}}</h5>
                            <div class="data-container">
                                <div class="row g-2">
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.district' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.district}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.taluka' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.taluka}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.taluka' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.center}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.village' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.village}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.HighestSchoolName' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.highestSchoolName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.LowestSchoolName' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.lowestSchoolName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.TotalStudent' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.totalStudent}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.TotalStudentmale' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.totalStudentMale}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.TotalStudentfemale' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.totalStudentFeMale}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label text-break">{{'Labels.TotalTeachers' | translate}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text text-break">
                                                    : {{schoolresp?.totalTeacher}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- show kendra Array for office registration -->
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2 col-6">
                                                <!-- <span class="data-label"
                                                    *ngIf="data?.checkbox == 'Center' || data?.checkbox == 'केंद्र'">{{data?.checkbox}}
                                                </span> -->
                                            </div>

                                            <div class=" col-6 col-sm-10 ">
                                                <div class="data-text ms-4  d-flex flex-wrap">
                                                    <!-- <div *ngFor="let assign of data?.Obj?.officeCenterSchoolResponseModel"
                                                        class="lang-badge">
                                                        {{webStorage.languageFlag == 'EN' ? assign.center
                                                        :assign.m_Center || '-'}}
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 border-end">
                <h6 class="text-main mb-0 fw-bold">{{'Labels.Schoolphotos' | translate}}</h6>
                <div class="col-3 col-sm-3">
                    <img *ngFor="let item of items; index as i" [lightbox]="i" [src]="item.data.thumb" class="gallery-img">
                </div>
            </div>
            <div class="col-sm-6">
                <h6 class="text-main mb-0 fw-bold">{{'Labels.documnentphotos' | translate}}</h6>
                <div class="col-3 col-sm-3">
                    <img *ngFor="let item of items; index as i" [lightbox]="i" [src]="item.data.thumb" class="gallery-img">
                </div>
            </div>
            <div class="col-sm-12 mt-3">
                <app-table (recObjToChild)="childCompInfo($event)"></app-table>
            </div>
        </div>
    </mat-card-content>
</mat-card>