<mat-drawer-container class="example-container scrollbar" hasBackdrop="false">
    <mat-drawer #drawer mode="over" position="end">
        <mat-card class="plain-card">
            <mat-card-header class="card-header pb-0">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-main mb-0 fw-bold">{{'Labels.filterclick' | translate}}</h6>
                    <button mat-icon-button class="btn-modal-close" mat-dialog-close (click)="this.drawer.close()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <!-- filter when user click on Dashboard graph  -->
            <mat-card-content class="card-body mt-lg-0 mb-0 pb-0 card-height-sm scrollbar" *ngIf="chartObj">
                <form [formGroup]="mainFilterForm">
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.academicYear' | translate}}</mat-label>
                            <mat-select formControlName="acYearId">
                                <mat-option *ngFor="let year of acYear" [value]="year.id">
                                    {{webStorage.languageFlag == 'EN'? year.eductionYear:year.eductionYear_M}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectState' | translate}}</mat-label>
                            <mat-select formControlName="stateId"
                                (selectionChange)="clearDropdown('state') ; getDistrict()">
                                <mat-option *ngFor="let state of stateData" [value]="state.id">
                                    {{webStorage.languageFlag == 'EN' ? state.state:state.m_State}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectDistrict' | translate}}</mat-label>
                            <mat-select formControlName="districtId"
                                (selectionChange)="clearDropdown('districtId');getTaluka()">
                                <mat-option *ngFor="let district of districtData" [value]="district.id">
                                    {{webStorage.languageFlag == 'EN' ? district.district:district.m_District}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                            <mat-select formControlName="talukaId"
                                (selectionChange)="clearDropdown('talukaId');getAllCenter()">
                                <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{selectedLang ==
                                    'English' ?
                                    tal.taluka:tal.m_Taluka }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                            <mat-select formControlName="centerId"
                                (selectionChange)="clearDropdown('centerId');getVillage()">
                                <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{selectedLang ==
                                    'English'
                                    ?cen.center:cen.m_Center}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.selectVillage' | translate}}</mat-label>
                            <mat-select formControlName="villageId"
                                (selectionChange)="clearDropdown('villageId'); getAllSchoolsByCenterId()">
                                <mat-option *ngFor="let village of villageArr" [value]="village.id">
                                    {{selectedLang == 'English'? village.village:village.m_Village}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                            <mat-select formControlName="schoolId"
                                (selectionChange)="clearDropdown('schoolId') ; getStandard()">
                                <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{selectedLang ==
                                    'English' ?
                                    sch.schoolName:sch. m_SchoolName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.standard'| translate}}</mat-label>
                            <mat-select formControlName="standardId">
                                <mat-option *ngFor="let stan of standardArr" [value]="stan.id">{{selectedLang ==
                                    'English'
                                    ?stan.standard:stan.m_Standard}}</mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>{{'Labels.Subject'| translate}}</mat-label>
                            <mat-select formControlName="subjectId">
                                <mat-option *ngFor="let sub of subjectArr" [value]="sub.id">{{selectedLang ==
                                    'English'
                                    ?sub.subject:sub.m_Subject}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100 mb-0">
                            <mat-label>{{'Labels.Evaluator' | translate}}</mat-label>
                            <mat-select formControlName="evaluatorId">
                                <mat-option *ngFor="let data of evaluatorDataArray"
                                    [value]="data.id">{{webStorage.languageFlag == 'EN'?data.evaluator
                                    :data.m_Evaluator}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <!-- <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.ExamType' | translate}}</mat-label>
                            <mat-select formControlName="examTypeId" placeholder="All">
                                <mat-option *ngFor="let examType of ExamTypeArray" [value]="examType.id">
                                    {{webStorage.languageFlag == 'EN'?examType.examType : examType.m_ExamType }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div> -->

                    <div class="card-footer px-0 d-flex justify-content-end">
                        <button mat-flat-button type="button" class="me-2 btn-second" mat-dialog-close
                            (click)="resetFilter()">{{'Labels.reset'|
                            translate}}</button>
                        <button mat-flat-button (click)="getTableData('filter');drawer.close()"
                            class="btn-main btn">{{'Labels.filterclick' |
                            translate}}</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-drawer>
</mat-drawer-container>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li class="breadcrumb-item w-100 d-flex justify-content-between">
            <button mat-stroked-button class="btn-main btn-icon me-2" routerLink="/dashboard">
                <mat-icon>home</mat-icon>
            </button>
            <div class="d-flex justify-content-between w-100">
                <span class="mt-2" *ngIf="chartObj">
                    <!-- {{('Labels.dashboard2' | translate)}} -->
                    {{(webStorage.languageFlag == 'EN'?'Dashboard 2':'डॅशबोर्ड 2')}}

                    {{mainFilterForm.value.stateId ?
                    (' / '+ (webStorage.languageFlag == 'EN'?'Maharashtra':'महाराष्ट्र')) : ''}}

                    {{(mf['districtId'].value ? (' / '+(webStorage.languageFlag ==
                    'EN' ? districtLable?.district : districtLable?.m_District)) : '') + 
                
                    (mf['talukaId'].value? (' / '+(webStorage.languageFlag ==
                            'EN' ? talukaLable?.taluka : talukaLable?.m_Taluka)):'') +
                        
                    (mf['centerId'].value? (' / '+(webStorage.languageFlag ==
                            'EN' ? centerLable?.center : centerLable?.m_Center)):'') +
                            
                    (mf['villageId'].value? (' / '+(webStorage.languageFlag ==
                                    'EN' ? villageLable?.village : villageLable?.m_Village)):'') +
                    
                    (mf['schoolId'].value? (' / '+(webStorage.languageFlag ==
                                    'EN' ? schoolLable?.schoolName : schoolLable?.m_SchoolName)):'') 
                    }}

                </span>
                <!-- <div *ngIf="!chartObj" class="d-flex align-items-center flex-wrap justify-content-between w-100">
                    <h6 class="text-main fw-bold">{{'Labels.studentReportCard' | translate}} </h6>
                </div> -->
                <span *ngIf="!chartObj" class="d-flex align-items-center">
                    <li class="breadcrumb-item ms-2" aria-current="page">{{'Labels.reports' | translate}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{'Labels.studentReportCard' | translate}}</li>
                </span>
                        
                
        
                <div class="d-flex gap-2"  *ngIf="chartObj">
                    <button mat-stroked-button class="btn-main btn-icon" (click)="drawer.toggle()">
                        <mat-icon>filter_alt</mat-icon>
                    </button>
                </div>
            </div>
        </li>
    </ol>
</nav>
<mat-card class="plain-card">
    <!-- <mat-card-header class="card-header border-bottom-0 pb-0" *ngIf="!chartObj">
        <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
            <h6 class="text-main fw-bold">{{'Labels.studentReportCard' | translate}} </h6>
        </div>
    </mat-card-header> -->
    <!-- show filter when user click on menu  -->
    <mat-card-header class="card-header border-bottom-0 pb-0" *ngIf="!chartObj">
        <form [formGroup]="mainFilterForm">
            <div class="row gx-2">
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.selectState' | translate}}</mat-label>
                        <mat-select formControlName="stateId"
                            (selectionChange)="clearDropdown('state');getDistrict()">
                            <mat-option *ngFor="let state of stateData" [value]="state.id">
                                {{webStorage.languageFlag == 'EN' ? state.state:state.m_State}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.selectDistrict' | translate}}</mat-label>
                        <mat-select formControlName="districtId"
                            (selectionChange)="clearDropdown('districtId');getTaluka()">
                            <mat-option *ngFor="let district of districtData" [value]="district.id">
                                {{webStorage.languageFlag == 'EN' ? district.district:district.m_District}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropdown('talukaId');getAllCenter()">
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{selectedLang ==
                                'English' ?
                                tal.taluka:tal.m_Taluka }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                        <mat-select formControlName="centerId"
                            (selectionChange)="clearDropdown('centerId');getVillage()">
                            <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{selectedLang ==
                                'English'
                                ?cen.center:cen.m_Center}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.selectVillage' | translate}}</mat-label>
                        <mat-select formControlName="villageId"
                            (selectionChange)="clearDropdown('villageId'); getAllSchoolsByCenterId()">
                            <mat-option *ngFor="let village of villageArr" [value]="village.id">
                                {{selectedLang == 'English'? village.village:village.m_Village}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                        <mat-select formControlName="schoolId"
                            (selectionChange)="clearDropdown('schoolId') ; getStandard()">
                            <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{selectedLang ==
                                'English' ?
                                sch.schoolName:sch. m_SchoolName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.standard'| translate}}</mat-label>
                        <mat-select formControlName="standardId">
                            <mat-option *ngFor="let stan of standardArr" [value]="stan.id">{{selectedLang ==
                                'English'
                                ?stan.standard:stan.m_Standard}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.Subject'| translate}}</mat-label>
                        <mat-select formControlName="subjectId">
                            <mat-option *ngFor="let sub of subjectArr" [value]="sub.id">{{selectedLang ==
                                'English'
                                ?sub.subject:sub.m_Subject}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.ExamType' | translate}}</mat-label>
                        <mat-select formControlName="examTypeId" placeholder="All">
                            <mat-option *ngFor="let examType of ExamTypeArray" [value]="examType.id">
                                {{webStorage.languageFlag == 'EN'?examType.examType :
                                examType.m_ExamType }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.academicYear' | translate}}</mat-label>
                        <mat-select formControlName="acYearId">
                            <mat-option *ngFor="let year of acYear" [value]="year.id">
                                {{webStorage.languageFlag == 'EN'? year.eductionYear:year.eductionYear_M}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-auto mb-2 mb-lg-0 text-end">
                    <button mat-flat-button class="btn-main" (click)="getTableData('filter')">{{'Labels.filter' | translate}}</button>
                    <button mat-flat-button class="btn-second ms-2" (click)="resetFilter()">{{'Labels.clear' |translate}}</button>
                </div>
            </div>
        </form>
    </mat-card-header>

    <mat-card-content class="card-body">
        <div class="row gx-2">
            <div class="col-sm-4">
                <h6 class="fw-bold">{{'Labels.TotalStudent' | translate}} : {{tableDatasize}}</h6>
                <ng-container>
                    <div class="table-responsive">
                        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
                    </div>
                </ng-container>
            </div>

            <div class="col-sm-8 scrollbar" *ngIf="viewDetailsObj || StudentData">
                <mat-card class="plain-card pt-0">
                    <mat-card-content class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="student-details mt-lg-0 mt-4">
                                    <div class="d-flex flex-lg-row flex-column">
                                        <div class="flex-shrink-0 text-center text-lg-start mb-2">
                                           <div class="d-flex justify-content-center flex-column">
                                            <img alt="student-image" height="80px" class="mb-2"
                                            src="{{viewDetailsObj?.profilePhoto ? viewDetailsObj?.profilePhoto : 'https://zposmservices.mahamining.com/Uploads/Upload/image_2023_03_02T09_36_23_388Z.png'}}">
                                            <small class=" mx-auto fw-bold mt-1">
                                                ( {{selectedLang == 'English' ? viewDetailsObj?.gender :
                                                viewDetailsObj?.m_Gender}} )
                                            </small>
                                           </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <div class="d-flex align-items-center gap-2 mb-2">
                                                    <h5 class="mb-0 fw-bold">
                                                        {{selectedLang == 'English' ? viewDetailsObj?.fullName
                                                        :viewDetailsObj?.m_FullName}}
                                                    </h5>
                                                   
                                                    <div class="data-text">
                                                        <!-- {{selectedLang == 'English' ? StudentData?.educationYear : StudentData?.m_EducationYear}} -->
                                                       ( 2015 - 2023 )
                                                    </div>
                                                </div>

                                                <!-- <span class="badge px-2 py-2 border"
                                                    [ngClass]="viewDetailsObj?.graphLevelId == 1 ? 'text-danger' : viewDetailsObj?.graphLevelId == 2 ? 'text-primary' : 'text-success'">
                                                    {{selectedLang == 'English' ? viewDetailsObj?.graphLevel :
                                                    viewDetailsObj?.m_GraphLevel}}
                                                </span> -->
                                                <!-- <button mat-flat-button class="btn-main-light btn-icon border"
                                                        title="Download" [routerLink]="['/print-student-details']">
                                                        <mat-icon class="text-main">download</mat-icon>
                                                    </button> -->
                                                <!-- <div class="d-flex justify-content-between gap-2 data-container">
                                                    <span class="data-label"> {{'Labels.academicYear'|
                                                        translate}}:</span>
                                                   
                                                </div> -->
                                            </div>

                                            <div class="data-container">
                                                <div class="row mb-2 gy-2">
                                                    <div class="col-sm-8 mb-2">
                                                        <div class="d-flex gap-1">
                                                            <span class="data-label">
                                                                {{'Labels.parentName'| translate}} :
                                                            </span>
                                                            <p class="data-text mb-0">
                                                                {{selectedLang == 'English' ? StudentData?.gaurdianName
                                                                : StudentData?.m_GaurdianName}}
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 mb-2">
                                                        <div class="d-flex gap-1">
                                                            <span class="data-label">
                                                                {{'Labels.parentMobileNo'| translate}} :
                                                            </span>
                                                            <p class="data-text mb-0">
                                                                {{StudentData?.mobileNo}}
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5 mb-2">
                                                        <div class="row gx-0">
                                                            <div class="col-sm-3">
                                                                <span class="data-label">
                                                                    {{'Labels.saralId'|translate}}
                                                                </span>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <p class="data-text mb-0">
                                                                    :{{ StudentData?.saralId}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3 mb-2">
                                                        <div class="row gx-0">
                                                            <div class="col-sm-6">
                                                                <span class="data-label">
                                                                    {{'Labels.standard' | translate}} :
                                                                </span>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p class="data-text mb-0">
                                                                    {{selectedLang == 'English' ? StudentData?.standard
                                                                    :
                                                                    StudentData?.m_Standard}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 mb-2">
                                                        <div class="row gx-0">
                                                            <div class="col-sm-4">
                                                                <span class="data-label">
                                                                    {{'Labels.kendra' | translate}} :
                                                                </span>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                <p class="data-text mb-0 text-break">
                                                                    {{selectedLang == 'English' ? StudentData?.center :
                                                                    StudentData?.m_Center}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 mb-2">
                                                        <div class="row gx-2">
                                                            <div class="col-sm-auto">
                                                                <span class="data-label">
                                                                    {{'Labels.SchoolName' | translate}} :
                                                                </span>
                                                            </div>
                                                            <div class="col-sm">
                                                                <p class="data-text mb-0 text-break">
                                                                    {{selectedLang == 'English' ?
                                                                    StudentData?.schoolName :
                                                                    StudentData?. m_SchoolName}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider class="mb-2"></mat-divider>
                            </div>

                            <div class="col-sm-12 data-container">
                                <h6 class="data-text">{{'Labels.AssessmentSubject' | translate}}</h6>
                                <div class="table-responsive">
                                    <table class="table dashboard-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">{{'Labels.SrNo' | translate}}</th>
                                                <th scope="col">{{'Labels.Subject' | translate}}</th>
                                                <th scope="col">{{'Labels.AssesDate' | translate}}</th>
                                                <th scope="col">{{'Labels.iAssesed' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let data of viewDetailsObj?.assessedSubjectListModel;let i =index">
                                                <td scope="row">{{i+1}}</td>
                                                <td>{{selectedLang == 'English' ?
                                                    data?.subjectName :
                                                    data?.m_SubjectName}}</td>
                                                <td>{{data?.assessmentDate || '-'}}</td>
                                                <td>
                                                    <mat-icon *ngIf="data.isAssessed"
                                                        class="text-success">check_circle</mat-icon>
                                                    <mat-icon *ngIf="!data.isAssessed"
                                                        class="text-danger">cancel</mat-icon>
                                                    <!-- <button mat-icon-button *ngIf="data.isAssessed" class="text-success bg-sucess">
                                                            <mat-icon>check_circle</mat-icon>
                                                        </button> -->
                                                    <!-- <button mat-icon-button *ngIf="!data.isAssessed" class="text-danger bg-danger">
                                                            <mat-icon>close</mat-icon>
                                                        </button> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="plain-card border px-0">
                    <mat-card-header class="card-header pb-0 border-0">
                        <!-- <form [formGroup]="filterForm"> -->
                        <div class="row gx-2">
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.academicYear' | translate}}</mat-label>
                                    <mat-select [formControl]="academicYearId"
                                        (selectionChange)="clearDropdownGraph();getProgressIndicatorData()">
                                        <mat-option *ngFor="let year of acYear" [value]="year.id">
                                            {{webStorage.languageFlag ==
                                            'EN'?year.eductionYear:year.eductionYear_M}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.AllClass' | translate}}</mat-label>
                                    <mat-select [formControl]="standardId"
                                        (selectionChange)="clearDropdownGraph();getProgressIndicatorData()">
                                        <mat-option *ngFor="let data of standardResp"
                                            [value]="data.id">{{webStorage.languageFlag == 'EN'?data.standard
                                            :data.m_Standard}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.Subject' | translate}}</mat-label>
                                    <mat-select [formControl]="subjectId"
                                        (selectionChange)="clearDropdownGraph();getProgressIndicatorData()">
                                        <mat-option *ngFor="let data of subjectResp"
                                            [value]="data.id">{{webStorage.languageFlag == 'EN'?data.subject
                                            :data.m_Subject}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.ExamType' | translate}}</mat-label>
                                    <mat-select [formControl]="examId" (selectionChange)="barChartData()">
                                        <mat-option *ngFor="let res of graphResponse"
                                            [value]="res.examTypeId">{{webStorage.languageFlag == 'EN'?res.examType
                                            :res.m_ExamType}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <!-- </form> -->
                    </mat-card-header>
                    <mat-card-content class="card-body" *ngIf="chartArray">
                        <div class="row">
                            <div class="col-sm-6  mb-0" *ngFor="let res of chartArray ; let i = index">
                                <ng-container *ngIf="res">
                                    <h6 class="fw-bold" *ngIf="questionArr">{{selectedLang == 'English' ?
                                        questionArr?.[i]?.question: questionArr?.[i]?.m_Question}}</h6>
                                    <div class="chart-container">
                                        <apx-chart [series]="res.series" [chart]="res.chart"
                                            [dataLabels]="res.dataLabels" [plotOptions]="res.plotOptions"
                                            [yaxis]="res?.yaxis" [xaxis]="res.xaxis" [colors]="res.colors"
                                            [dataLabels]="res.dataLabels" [tooltip]="res.tooltip" [grid]="res.grid">
                                        </apx-chart>
                                    </div>
                                    <div *ngIf="questionArr" class="mb-3 text-center">
                                        <span *ngFor="let param of questionArr?.[i]?.parameterArr" class="small fw-bold">
                                            {{ param?.optionGrade }}: {{selectedLang == 'English' ? param?.optionName :
                                            param?.m_OptionName}}
                                        </span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-card-content>
                    <ng-container *ngIf="chartArray.length == 0">
                        <div class="alert alert-danger text-center p-2" role="alert">
                            {{'Labels.dataNotFound' | translate}}
                        </div>
                    </ng-container>
                </mat-card>
            </div>
            <div class="col-sm-8" *ngIf="!viewDetailsObj">
                <div class="alert alert-danger text-center py-2 ">
                    <span>{{ webStorage.languageFlag == 'EN' ? 'Data not available' : 'डेटा उपलब्ध नाही'}}</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>