<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.studentDetails' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.studentDetails' | translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-content class="card-body">
        <div class="row gx-2">
            <div class="col-sm-4">
                <h6 class="fw-bold">{{'Labels.TotalStudent' | translate}} :</h6>
                <ng-container>
                    <div class="table-responsive">
                        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
                    </div>
                </ng-container>
            </div>
            <div class="col-sm-8">
                <mat-card class="plain-card scrollbar pt-0">
                    <mat-card-content class="card-body pt-0 pe-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="student-details mt-lg-0 mt-4">
                                    <div class="d-flex flex-lg-row flex-column">
                                        <div class="flex-shrink-0 text-center text-lg-start mb-2">
                                            <img alt="student-image" height="80px"
                                                src="{{viewDetailsObj?.profilePhoto}}">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="mb-0 fw-bold">{{viewDetailsObj?.fullName}}</h5>
                                                <button mat-flat-button class="btn-main-light btn-icon border"
                                                    title="Download" [routerLink]="['/print-student-details']">
                                                    <mat-icon class="text-main">download</mat-icon>
                                                </button>
                                            </div>
                                            <p class="text-muted mb-2">{{viewDetailsObj?.gender}}</p>
                                            <div class="data-container">
                                                <div class="row mb-2 gy-2">
                                                    <div class="col-sm-4">
                                                        <span class="data-label">Father Name :</span>
                                                        <div class="data-text">{{'-'}} </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span class="data-label">Mother Name :</span>
                                                        <div class="data-text">{{'-'}} </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span class="data-label">Parent Mobile No.:</span>
                                                        <div class="data-text">{{'-'}}</div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span class="data-label">Academic Year :</span>
                                                        <div class="data-text">{{'-'}}</div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span class="data-label">Aadhaar No.:</span>
                                                        <div class="data-text">{{'-'}}</div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span class="data-label">Standard :</span>
                                                        <div class="data-text">{{viewDetailsObj?.standard}}</div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span class="data-label">kendra:</span>
                                                        <div class="data-text">{{viewDetailsObj?.center}}</div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <span class="data-label">School Name :</span>
                                                        <div class="data-text">{{viewDetailsObj?.schoolName}}</div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="row gx-2">
                                                            <div class="col-sm-auto">
                                                                <p class="data-text">Subject Details :</p>
                                                            </div>
                                                            <div class="col-sm">
                                                                ZILLA PARISHAD PRIMARY SCHOOL,GOJWADA 
                                                            </div>
                                                        </div>
                                                        <div class="row gx-2">
                                                            <div class="col-sm">
                                                               <table class="table">
                                                                 <thead>
                                                                   <tr>
                                                                    <th scope="col">Sr No</th>
                                                                    <th scope="col">Subject Name</th>
                                                                    <th scope="col">Assessment Date</th>
                                                                    <th scope="col">Is Assessed</th>
                                                                   </tr>
                                                                 </thead>
                                                                 <tbody>
                                                                    <tr *ngFor="let data of viewDetailsObj?.assessedSubjectListModel;let i =index">
                                                                        <th scope="row">{{i+1}}</th>
                                                                        <td>{{data?.subjectName}}</td>
                                                                        <td>{{data?.assessmentDate || '-'}}</td>
                                                                        <td>
                                                                            <span *ngIf="data.isAssessed" class="material-symbols-outlined text-bg-success"> check </span>
                                                                            <span *ngIf="!data.isAssessed" class="material-symbols-outlined text-bg-danger"> close  </span>
                                                                        </td>
                                                                      </tr>
                                                                 </tbody>
                                                               </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="plain-card border">
                    <mat-card-header class="card-header pe-2 pb-0 border-0">
                        <form [formGroup]="filterForm">
                            <div class="row gx-2 w-100">
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.academicYear' | translate}}</mat-label>
                                <mat-select formControlName="acYearId" >
                                    <mat-option *ngFor="let year of acYear" [value]="year.id">
                                        {{webStorage.languageFlag == 'EN'?year.eductionYear:year.eductionYear_M}}
                                    </mat-option>
                                </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllClass' | translate}}</mat-label>
                                        <mat-select formControlName="classId"
                                            >
                                            <mat-option *ngFor="let data of standardResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.standard
                                                :data.m_Standard}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>{{'Labels.AllSubject' | translate}}</mat-label>
                                        <mat-select formControlName="subjectId"
                                            >
                                            <mat-option *ngFor="let data of subjectResp"
                                                [value]="data.id">{{webStorage.languageFlag == 'EN'?data.subject
                                                :data.m_Subject}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        tab
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>

