<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.master'| translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.teacherRegistration'| translate}}</li>
    </ol>
</nav>
<app-page-statistics></app-page-statistics>

<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
            <div class="text-main fw-bold mb-sm-0 mb-2">
                {{'Labels.teacherList'| translate}} ({{'Labels.total' | translate }} -
                {{webStorageS.numberTransformFunction(totalCount)}})
            </div>
            <div class="d-flex flex-wrap justify-content-start align-items-center justify-content-lg-end gap-2">
                <button mat-flat-button class="bg-danger btn-icon text-white"
                    matTooltip="{{'Labels.DownloadPdf' | translate}}" matTooltipPosition="below"
                    matTooltipClass="tooltip" (click)="getTableData('pdfFlag')">
                    <mat-icon>
                        description
                    </mat-icon>
                </button>
                <button mat-flat-button class="bg-success btn-icon text-white"
                    matTooltip="{{'Labels.Downloadexcel' | translate}}" matTooltipPosition="below"
                    matTooltipClass="tooltip" (click)="getTableData('excel')">
                    <mat-icon class="material-symbols-outlined">table</mat-icon>
                </button>
                <!-- <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
                    <mat-icon>
                        download
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="downloadPdf()">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <span>PDF</span>
                            <i class='bx bxs-file-pdf text-danger'></i>
                        </div>
                    </button>
                </mat-menu> -->
                <button *ngIf="isWriteRight === true" mat-flat-button class="btn-main" (click)="addUpdateTeacher()">
                    <mat-icon>add</mat-icon>
                    {{'Labels.addTeacher'| translate}}
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header pb-0 border-bottom-0">
        <div class="row gx-2 w-100">
            <div class="col-sm-auto">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                    <mat-select [formControl]="talukaId" (selectionChange)="onChangeFilter('taluka'); getCluster();">
                        <mat-option *ngFor="let talukaObj of talukaArray" [value]="talukaObj.id">
                            {{webStorageS.getLangauge() == 'EN' ?
                            talukaObj.taluka : talukaObj.m_Taluka}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.cluster'| translate}}</mat-label>
                    <mat-select [formControl]="clusterId" (selectionChange)="onChangeFilter('cluster'); getVillage();">
                        <mat-option *ngFor="let cluster of clusterArray"
                            [value]="cluster.id">{{webStorageS.getLangauge() == 'EN' ?
                            cluster.center : cluster.m_Center}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>{{'Labels.village'| translate}}</mat-label>
                    <mat-select [formControl]="villageId">
                        <mat-option *ngFor="let village of villageArray"
                            [value]="village.id">{{webStorageS.getLangauge() == 'EN' ?
                            village.village : village.m_Village}}</mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="td['clusterId'].hasError('required')">Cluster Is Required</mat-error>                        -->
                </mat-form-field>
            </div>

            <div class="col-sm-auto">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.searchbyNameContactEmailTeacher'| translate}}</mat-label>
                    <input matInput [formControl]="searchContent" (keypress)="validation.noFirstSpaceAllow($event)"
                        (keyup.enter)="getTableData()">
                </mat-form-field>
            </div>

            <div class="col-sm-auto mb-lg-0 mb-2">
                <button mat-flat-button class="btn-main" (click)="getTableData('filter')">{{'Labels.filter'|
                    translate}}</button>
                <button mat-flat-button class="btn-second ms-2" (click)="clearFilterData()">{{'Labels.clear'|
                    translate}}</button>
            </div>
        </div>
    </mat-card-header>

    <mat-card-content class="card-body pt-0">
        <ng-container *ngIf="!cardViewFlag">
            <app-table (recObjToChild)="childCompInfo($event)"></app-table>
        </ng-container>

        <ng-container *ngIf="cardViewFlag">
            <app-grid-view (gridToChild)="childGridInfo($event)"></app-grid-view>
            <!-- <div class="row">
                <div class="col-sm-4 mb-3" *ngFor="let data of tableDataArray; let i=index">
                    <mat-card>
                        <mat-card-header class="d-flex justify-content-end">
                            <button mat-flat-button [matMenuTriggerFor]="menu">
                                <span class="material-symbols-outlined">
                                    more_horiz
                                </span>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="addUpdateTeacher(data)">Edit
                                    <span class="material-symbols-outlined">
                                        create
                                    </span>
                                </button>
                                <button mat-menu-item (click)="globalDialogOpen(data)">Delete
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </mat-menu>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="text-center">
                                <ng-container *ngIf="data.uploadImage">
                                    <img src="{{data.uploadImage}}" height="60px">
                                </ng-container>

                                <ng-container *ngIf="!data.uploadImage">
                                    <img src="assets/images/user.png" height="60px">
                                </ng-container>
                                <p>{{webStorageS.getLangauge() == 'EN' ? data.name : data.m_Name}}</p>
                                <p>{{webStorageS.getLangauge() == 'EN' ? data.educationalQualification : data.educationalQualification}}</p>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm  form-label">
                                    {{'Labels.mobileNo'| translate}} :
                                </div>
                                <div class="col-6 col-sm  form-deta">
                                    {{webStorageS.getLangauge() == 'EN' ?
                                    data.mobileNo : data.mobileNo}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm form-label">
                                    {{'Labels.emailID'| translate}} :
                                </div>
                                <div class="col-6 col-sm form-deta">
                                    {{data.emailId}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm form-label">
                                    {{'Labels.gender'| translate}} :
                                </div>
                                <div class="col-6 col-sm form-deta">
                                    {{webStorageS.getLangauge() == 'EN' ?
                                    data.gender : data.m_Gender}}
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <button mat-flat-button class="btn-main" (click)="openDetailsDialog(data)">{{'Labels.readMore' | translate}}</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div> -->
            <!-- <ng-container *ngIf="tableDataArray.length >= 10">
            <mat-paginator [length]="totalCount" [pageIndex]="cardCurrentPage" [pageSize]="10"
                [pageSizeOptions]="[10]" [showFirstLastButtons]="true" (page)="onPageChanged($event)">
            </mat-paginator>
            </ng-container>

            <div *ngIf="tableDataArray.length ==0">
                <div class="alert alert-danger text-center py-2 ">
                    Data not available
                </div>
            </div> -->
        </ng-container>
    </mat-card-content>
</mat-card>