@use '@angular/material' as mat;
@import "@angular/material/theming";
@import './assets/css/MaterialStyleSheet.scss';

@include mat.core();
$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);
$angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));



@include mat.all-component-themes($angular-default-theme);
$angular-dark-theme: mat.define-dark-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans Devanagari', sans-serif;
  background-color: #EEEEEE
}

// :root {
//   --main-color: rgb(3, 146, 134);
//   --main-light-color: rgb(221, 255, 252);
//   --main-dark-color: rgb(0, 95, 87);
// }
:root {
  --main-color: rgb(244 92 14);
  --main-light-color: rgb(254 239 231);
  --main-dark-color: rgb(227, 59, 3);
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-main-light {
  background-color: var(--main-light-color) !important;
}

.bg-main-dark {
  background-color: var(--main-dark-color);
}

.btn-main {
  font-family: 'Noto Sans Devanagari', sans-serif !important;
  background-color: var(--main-color) !important;
  color: #fff !important;
  font-size: 0.85rem;
}

.btn-main:hover {
  background-color: var(--main-dark-color) !important;
  color: #fff;
}

.btn-icon {
  width: 34px !important;
  min-width: 38px !important;
}

.btn-icon .material-icons {
  font-size: 18px !important;
  line-height: 1.2rem !important;
  overflow: unset;
  margin: 0 !important;
}

.btn-modal-close {
  width: 34px !important;
  min-width: 34px !important;
  height: 34px !important;
  line-height: 38px !important;
  padding: 3px !important;
}

.btn-modal-close:focus,
.btn-modal-close:active {
  background-color: #fff !important;
  --mat-mdc-button-persistent-ripple-color: #fff !important;
}

.btn-second {
  font-size: 0.85rem !important;
  color: #A8A8A8 !important;
  border: solid 1px #A8A8A8 !important;
  border-radius: 0.375rem !important;
  background-color: transparent !important;
  font-family: 'Noto Sans Devanagari', sans-serif !important;
}

.breadcrumb {
  font-size: 0.85rem;
  font-weight: 500;
}

.dashboard-table {
  font-family: 'Noto Sans Devanagari', sans-serif !important;
  width: 100%;
}

.dashboard-table th,
.dashboard-table .mat-mdc-header-cell {
  font-size: 0.85rem !important;
  font-weight: 600;
  font-family: 'Noto Sans Devanagari', sans-serif !important;
  vertical-align: middle;
  background-color: var(--main-light-color) !important;
  padding: 0 8px !important
}

.dashboard-table td,
.dashboard-table .mat-mdc-cell {
  font-size: 0.85rem !important;
  font-family: 'Noto Sans Devanagari', sans-serif !important;
  vertical-align: middle !important;
  border-bottom-width: 0.01px !important;
  padding: 0 8px !important
}

.dashboard-table .mat-mdc-icon-button.mat-mdc-button-base {
  height: 34px !important;
  width: 34px !important;
  padding: 8px 5px !important;
  background-color: #EEEEEE !important;
  border-radius: 5px !important;
  margin: 2px;
}

.dashboard-table button mat-icon {
  font-size: 18px !important;
}

.dashboard-table .mat-mdc-row:hover,
.dashboard-table .highlightedRow {
  background-color: #eee !important;
  color: var(--main-color) !important;
  cursor: pointer;
}

.dashboard-table .mat-column-docPath,
.dashboard-table .mat-column-srNo {
  min-width: 77px !important;
  width: 77px !important;
}

.dashboard-table .mat-column-action {
  max-width: 120px !important;
  width: 120px !important;
}

.dashboard-table .table-img {
  height: 40px;
  width: 40px;
  margin-block: 5px;
  border-radius: 50%;
}

.plain-card {
  box-shadow: none !important;
  border-radius: 10px;
}

.plain-card .card-header {
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
}

.plain-card .card-footer {
  border-top: 1px solid #eee;
  padding: 10px 15px;
  font-size: 0.85rem;
}

.plain-card .card-body {
  padding: 10px 15px;
  font-size: 0.85rem;
}

.mat-mdc-snack-bar-container {
  background: #333333 !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #fff !important;
  border-radius: 0 !important;
}

.snack-success .mdc-snackbar__surface {
  border-left: 7px solid #198754;
}

.snack-danger .mdc-snackbar__surface {
  border-left: 7px solid #ff4141;
}

.snack-warning .mdc-snackbar__surface {
  border-left: 7px solid #ffc107;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: #333333 !important;
}

.mat-mdc-snack-bar-container {
  background: #fff !important;
}

// profile pic upload CSS
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: auto;
  cursor: pointer !important;
}

.upload-btn-wrapper input[type=file] {
  font-size: 0.85rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  z-index: -9999;
}

.profile-image {
  width: 158px;
  height: 158px;
  border-radius: 50%;
  object-fit: cover;
  object-position: middle;
}

.profile-buttons {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.profile-buttons .btn {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  line-height: 16px;
  font-size: 0.85rem;
  text-align: center;
  padding: 0;
  border-color: var(--main-color);
}

// upload button CSS
.upload-btn {
  border: 1px solid var(--main-color);
  color: #fff;
  background-color: var(--main-color);
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 0.375rem;
  padding: 7px 19px;
  cursor: pointer !important;
}

.no-axis .apexcharts-yaxis-texts-g,
.no-axis .apexcharts-grid-borders,
.no-axis .apexcharts-grid {
  display: none !important;
}

.apexcharts-legend-text {
  font-family: "Noto Sans Devanagari", sans-serif !important;
}

.card-height-full {
  max-height: 77vh;
  overflow-y: auto;
}

.card-height-mid {
  max-height: 74vh;
  overflow-y: auto;
}

.scrollbar,
.mat-mdc-select-panel {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior: auto;
  scrollbar-color: #989ea6 transparent;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb,
.mat-mdc-select-panel:hover::-webkit-scrollbar,
.mat-mdc-select-panel:hover::-webkit-scrollbar-thumb,
.mat-mdc-select-panel:hover:focus::-webkit-scrollbar,
.mat-mdc-select-panel:hover:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scrollbar::-webkit-scrollbar,
.mat-mdc-select-panel::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: transparent;
  height: 0.375rem;
  visibility: hidden;
  width: 0.375rem;
}

.mat-mdc-select-min-line {
  color: black !important;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner,
.mat-mdc-select-panel::-webkit-scrollbar-button,
.mat-mdc-select-panel::-webkit-scrollbar-corner {
  display: none;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner {
  display: none;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb,
.mat-mdc-select-panel:hover::-webkit-scrollbar,
.mat-mdc-select-panel:hover::-webkit-scrollbar-thumb,
.mat-mdc-select-panel:hover:focus::-webkit-scrollbar,
.mat-mdc-select-panel:hover:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scrollbar::-webkit-scrollbar-thumb,
.mat-mdc-select-panel::-webkit-scrollbar-thumb {
  background-color: hsla(214, 7%, 62%, .4);
  border-radius: 3px;
  visibility: hidden;
}

.form-check {
  margin-bottom: 0;
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0em;
}

.inner-table {
  border: solid 2px var(--main-light-color);
  font-size: 0.85rem;
}

.inner-table thead th {
  background-color: var(--main-light-color);
  width: 300px !important;
}

.inner-table thead th,
.inner-table tbody td {
  vertical-align: top;
}

.inner-table tbody td {
  text-align: center;
}

.inner-table thead tr th:first-child,
.inner-table tbody tr td:first-child {
  width: 10rem !important;
  vertical-align: middle;
  text-align: left !important;
}

.inner-table .table-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.data-container .data-label {
  color: #666;
  font-size: 0.85rem;
}

.data-container .data-text {
  color: #000;
  font-size: 0.85rem;
  font-weight: 600;
}

#taluka-charts .apexcharts-legend {
  display: none !important;
}

#taluka-charts .apexcharts-canvas {
  margin: -21px !important;
}

.mapsvg-scrollpane svg {
  margin-top: 0px !important;
}

.apexcharts-legend.apx-legend-position-right {
  width: 150px;
  right: 20px !important;
}

.talActive {
  pointer-events: auto;
  fill: var(--main-dark-color) !important;
}

#mapsvg {
  width: 100%;
  height: 0;
  padding-bottom: 20.6rem !important;
  margin-top: -5rem !important;
  background: transparent !important;
}

.mapsvg svg {
  // -webkit-user-select: none;
  // user-select: none;
  // max-width: none !important;
  // max-height: none !important;
  // width: 660px !important;
  // height: 394px !important;
  // position: relative;
  // transition: transform .40s;
  // transform-origin: 0% 0%;
  // -webkit-transform-origin: 0% 0%;
  // transform: rotate(28deg) !important;
  transform: scale(1) !important;
  top: 85px;
}

.swal2-icon.swal2-warning {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}

.mat-drawer.mat-drawer-end {
  max-height: 65vh;
  right: 0px;
  top: 37px;
  height: 65vh;
}

.form-container {
  font-size: 0.85rem;
}

.form-container .form-label {
  color: #858585;
}

.form-container .form-data {
  color: #333;
  font-weight: 600;
}

.form-container .material-icons {
  font-size: 18px !important;
  line-height: 1.5rem !important;
}

.table-height {
  max-height: 140vh;
  overflow-y: auto;
}

.table-height-sm {
  max-height: 50vh;
  overflow-y: auto;
}

.table-height-xs {
  max-height: 30vh;
  overflow-y: auto;
}

.table-height thead,
.table-height-sm thead,
.table-height-xs thead {
  position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  position: sticky;
  top: 0;
  z-index: 1; // any positive value, layer order is global
}

.status {
  height: 16px;
  width: 16px;
  line-height: 24px;
  border-radius: 50%;
}

.status.green {
  background: #65C889;
  animation: ripple-green 1s linear infinite;
}

.status.orange {
  background: #EFB45B;
  animation: ripple-orange 1s linear infinite;
}

.status.dark-orange {
  background: #E98754;
  animation: ripple-do 1s linear infinite;
}

.status.light-red {
  background: #E76A63;
  animation: ripple-lr 1s linear infinite;
}

.status.red {
  background: #CB4B4B;
  animation: ripple-red 1s linear infinite;
}

@keyframes ripple-green {
  0% {
    box-shadow: 0 0 0 0 #BBE6D2,
  }

  100% {
    box-shadow: 0 0 0 0.5em #BBE6D2,
  }
}

@keyframes ripple-orange {
  0% {
    box-shadow: 0 0 0 0 #F7DBB1,
  }

  100% {
    box-shadow: 0 0 0 0.5em #F7DBB1,
  }
}

@keyframes ripple-do {
  0% {
    box-shadow: 0 0 0 0 #F4C3A9,
  }

  100% {
    box-shadow: 0 0 0 0.5em #F4C3A9,
  }
}

@keyframes ripple-lr {
  0% {
    box-shadow: 0 0 0 0 #F2ABA8,
  }

  100% {
    box-shadow: 0 0 0 0.5em #F2ABA8,
  }
}

@keyframes ripple-red {
  0% {
    box-shadow: 0 0 0 0 #E8B0B0,
  }

  100% {
    box-shadow: 0 0 0 0.5em #E8B0B0,
  }
}

.table-cell {
  color: #fff !important;
  text-align: center;
}

.table-cell.bg-green {
  background: #65C889;
}

.table-cell.bg-orange {
  background: #EFB45B;
}

.table-cell.bg-dark-orange {
  background: #E98754;
}

.table-cell.bg-light-red {
  background: #E76A63;
}

.table-cell.bg-red {
  background: #CB4B4B;
}

/*-------------Media-Query----------------*/

@media only screen and (max-width: 478px) {
  .plain-card .card-body apx-chart {
    text-align: -webkit-center;
  }

  // .mapsvg svg {
  //   width: 409px !important;
  //   height: 276px !important;
  //   transform: rotate(35deg) !important;
  //   top: -38px;
  //   left: 63px;
  // }

  .profile-image {
    width: 135px;
    height: 135px;
  }

  .plain-card .card-body {
    padding: 0px 15px;
    font-size: 0.85rem;
  }

  .breadcrumb {
    font-size: 0.65rem !important;
    font-weight: 500;
  }

  .mat-drawer.mat-drawer-end {
    max-height: 65vh;
    right: 0px;
    top: 37px;
    height: 65vh;
    width: 230px !important;
  }
}


.chart-container .apexcharts-tooltip {
  font-size: 0.85rem !important;
  left: 20px !important;
}

.text-emphasis-oneline {
  overflow: hidden;
  height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

textarea {
  resize: none !important;
}

.breadcrumb-item .mat-mdc-form-field-subscript-wrapper,
#student-survey .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}