<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">{{'Labels.changePassword' | translate}}</h6>
            <button mat-icon-button class="btn-modal-close" mat-dialog-close>
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(clear)" #clear="ngForm">
        <mat-card-content class="card-body">
            <div class="row">
                <div class="col-sm-5 form-container">
                    <div class="mb-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.enterCurrentPassword' | translate}}</mat-label>
                            <input matInput formControlName="currentPassword" [type]="hide ? 'password' : 'text'"
                                minlength="8" maxlength="10" (keypress)="validation.noFirstSpaceAllow($event)">
                            <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <!-- <mat-error class="mt-2"
                                *ngIf="fc['currentPassword'].hasError('required')">{{'Labels.currentPassIsRequired' |
                                translate}}</mat-error> -->
                            <mat-error class="mt-2"
                                *ngIf="fc['currentPassword'].hasError('pattern')">{{'Labels.pleaseEnterValidCurrentPassword'
                                | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.enterNewPassword' | translate}}</mat-label>
                            <input matInput formControlName="newPassword" [type]="hide1 ? 'password' : 'text'"
                                minlength="8" maxlength="10" (keypress)="validation.noFirstSpaceAllow($event)">
                            <button mat-icon-button type="button" matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <!-- <mat-error class="mt-2"
                                *ngIf="fc['newPassword'].hasError('required')">{{'Labels.newPasswordIsRequired' |
                                translate}}</mat-error> -->
                            <mat-error class="mt-2"
                                *ngIf="fc['newPassword'].hasError('pattern')">{{'Labels.PleaseEnterValidNewPassword' |
                                translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'Labels.confirmPassword' | translate}}</mat-label>
                            <input matInput formControlName="confirmPassword" [type]="hide2 ? 'password' : 'text'"
                                minlength="8" maxlength="10" (keypress)="validation.noFirstSpaceAllow($event)">
                            <button mat-icon-button type="button" matSuffix (click)="hide2 = !hide2"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <!-- <mat-error class="mt-2"
                                *ngIf="fc['confirmPassword'].hasError('required')">{{'Labels.ConfirmPasswordIsRequired'
                                | translate}}</mat-error> -->
                            <mat-error class="mt-2"
                                *ngIf="fc['confirmPassword'].hasError('pattern')">{{'Labels.PleaseEnterValidConfirmPassword'
                                | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-7 text-start">
                    <p class="small fw-bold fs-5">{{'Labels.Passwordsmustcontains' | translate}}</p>
                    <ul class="small">
                        <li>{{'Labels.Atleast8Characterslong' | translate}}</li>
                        <li>{{'Labels.Atleast1LowercaseCharacters(a-z)' | translate}}</li>
                        <li>{{'Labels.Atleast1UpercaseCharacters(A-Z)' | translate}}</li>
                        <!-- <li>{{'Labels.Atleast1Digits(0-9)' | translate}}</li> -->
                        <li>{{'Labels.(*$@#)Atleast1SpecialCharacters(*$@#)' | translate}}</li>
                    </ul>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="card-footer d-flex justify-content-end">
            <div class="d-flex justify-content-between">
                <button mat-flat-button type="button" class="me-2 btn-second" mat-dialog-close>{{'Labels.cancel' |
                    translate}}</button>
                <button mat-flat-button type="submit" class="btn-main btn">{{'Labels.submit' | translate}}</button>
            </div>
        </mat-card-footer>
    </form>
</mat-card>