<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">Masters</li>
        <li class="breadcrumb-item active" aria-current="page">Sub Category</li>
    </ol>
</nav>

<app-page-statistics></app-page-statistics>

<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header">
        <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
            <div class="text-main fw-bold mb-2 mb-lg-0">Sub Category List</div>
            <button mat-flat-button class="btn-main" (click)="openDialog()">
                <mat-icon>add</mat-icon>
                Add Sub Category
            </button>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header mb-0 pb-0 border-bottom-0">
        <div class="row gx-2 w-100">
            <div class="col-sm-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Labels.searchbyNameContactEmail' | translate}}</mat-label>
                    <input matInput maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-sm-auto mb-lg-0 mb-2">
                <button type="button" mat-flat-button class="btn-main">{{'Labels.filter' | translate}}</button>
                <button type="button" mat-flat-button class="btn-second ms-2">{{'Labels.clear' |translate}}</button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="dashboard-table">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Category Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button id="tooltip" matTooltip="{{'Labels.edit' | translate}}"
                            matTooltipPosition="right" matTooltipClass="tooltip">
                            <mat-icon class="text-main">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>