<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.AssetManagement' |translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.subcategoryname' |translate}}</li>
    </ol>
</nav>
<app-page-statistics></app-page-statistics>
<mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header">
        <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
            <div class="text-main fw-bold mb-2 mb-lg-0">{{'Labels.subcategoryList' | translate}} ({{'Labels.total'|
                translate }} - {{totalItem}})</div>
            <div class="d-flex gap-2">
                <button mat-flat-button class="bg-danger btn-icon text-white"
                    matTooltip="{{'Labels.DownloadPdf' | translate}}" matTooltipPosition="below"
                    matTooltipClass="tooltip" (click)="getTableData('pdfFlag')">
                    <mat-icon>description </mat-icon>
                </button>
                <button mat-flat-button class="bg-success btn-icon text-white"
                    matTooltip="{{'Labels.Downloadexcel' | translate}}" matTooltipPosition="below"
                    matTooltipClass="tooltip" (click)="getTableData('excel')">
                    <mat-icon class="material-symbols-outlined">table</mat-icon>
                </button>
                <!-- <button *ngIf="isWriteRight === true" mat-flat-button class="btn-main" (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                    {{'Labels.addSubcategory' | translate}}
                </button> -->
            </div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body p-0">
        
        <div class="row">
            <div class="col-sm-8 border-end">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header mb-0 pb-0 border-bottom-0">
                        <div class="row gx-2 w-100">
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.filterSubCategory' | translate}}</mat-label>
                                    <input matInput maxlength="30" [formControl]="textSearch"
                                        (keypress)="validation.noFirstSpaceAllow($event)" (keyup.enter)="getTableData()">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-auto mb-lg-0 mb-2">
                                <button type="button" mat-flat-button class="btn-main"
                                    (click)="getTableData('filter')">{{'Labels.filter' | translate}}</button>
                                <button type="button" mat-flat-button class="btn-second ms-2"
                                    (click)="clearFilterData()">{{'Labels.clear' |translate}}</button>
                            </div>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="card-body pt-0 pe-0">
                        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <form [formGroup]="subCategoryFrm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header border-bottom-0 ps-0">
                        <h6 class="text-main fw-bold my-2">
                            {{editFlag ? ('Labels.updateSubcategory' | translate):('Labels.addSubcategory' | translate)}}
                        </h6>
                    </mat-card-header>
                   
                    <mat-card-content class="card-body ps-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.Category' | translate}}</mat-label>
                                    <mat-select formControlName="category">
                                        <mat-option *ngFor="let data of categoryresp" [value]="data.id">
                                            {{webStorage.getLangauge() == 'EN' ?
                                            data.category : data.m_Category}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.subcategoryname' | translate}}</mat-label>
                                    <input matInput formControlName="subcategory" maxlength="20"  (keypress)="validation.noFirstSpaceAllow($event);validation.alphaNumericOnly">
                                    <mat-error></mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.SubCategoryMarathi' | translate}}</mat-label>
                                    <input matInput formControlName="m_subcategory" maxlength="20" (keypress)="validation.noSpaceAllow($event);validation.unicodeMarathiValidation($event)">
                                    <mat-error *ngIf="f['m_subcategory'].hasError('pattern')">{{'Labels.invalidItemName'|
                                        translate}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                        <mat-card-actions align="end" class="me-1">
                            <button mat-stroked-button class="btn-second me-2" (click)="clearFormData()" type="button" >{{'Labels.clear'|
                                translate}}</button>
                            <button mat-stroked-button class="btn-main" type="submit">{{editFlag ? ( 'Labels.update' | translate):('Labels.add' |translate)}}</button>
                        </mat-card-actions>
                    </mat-card-footer>
                </mat-card>
            </form>
            </div>
        </div>
    
    </mat-card-content>
</mat-card>