<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
      <li aria-current="page">
        <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
          <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
      </li>
      <li class="breadcrumb-item" aria-current="page">{{'Labels.master' | translate}}</li>
      <li class="breadcrumb-item active" aria-current="page">{{'Labels.HolidayMaster' | translate}}</li>
    </ol>
  </nav>
  
  <app-page-statistics></app-page-statistics>
  
  <mat-card class="plain-card" [class.bg-transparent]="viewStatus == 'Card'">
    <mat-card-header class="card-header">
      <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
        <div class="text-main fw-bold">
          {{'Labels.HolidayMasterList' | translate}}
        </div>
        <button  mat-flat-button class="btn-main" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            {{'Labels.AddHoliday'| translate}}
        </button>
      </div>
    </mat-card-header>
 
    <mat-card-content class="card-body pt-0">
      <app-table (recObjToChild)="childCompInfo($event)"></app-table>
  </mat-card-content>
  </mat-card>