<nav aria-label="breadcrumb">
  <ol class="breadcrumb align-items-center">
    <li aria-current="page">
      <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
        <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
    </li>
    <li class="breadcrumb-item" aria-current="page">Asset Management</li>
    <li class="breadcrumb-item active" aria-current="page">View Stock Report Page</li>
  </ol>
</nav>

<mat-card class="plain-card form-container">
  <mat-card-header class="card-header small">
    <div class="row w-100">
      <div class="col-sm-3">
        <div class="d-flex align-items-center gap-2">
          <div class="form-label">School</div>
          <div class="form-data">:{{languageFlag == 'English' ?
            cardHeaderData[0]?.schoolName:cardHeaderData[0]?.m_SchoolName}}</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="d-flex align-items-center gap-2">
          <div class="form-label">Category</div>
          <div class="form-data">:{{languageFlag == 'English' ?
            cardHeaderData[0]?.category:cardHeaderData[0]?.m_Category}}</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="d-flex align-items-center gap-2">
          <div class="form-label">SubCategory</div>
          <div class="form-data">:{{languageFlag == 'English' ?
            cardHeaderData[0]?.subCategory:cardHeaderData[0]?.m_SubCategory}}</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="d-flex align-items-center gap-2">
          <div class="form-label">Item</div>
          <div class="form-data">:{{languageFlag == 'English' ?
            cardHeaderData[0]?.itemName:cardHeaderData[0]?.m_ItemName}}</div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card-header border-0 bg-transparent">
          <h6 class="text-main fw-bold mb-2 mb-lg-0">Inward</h6>
        </div>
        <div class="card"  *ngFor="let cardInward of cardInwardData">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <div class="d-flex">
                  <div class="form-label">Username</div>
                  <div class="form-data">:- {{cardInward.intwardUserName}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex">
                  <div class="form-label">Date</div>
                  <div class="form-data">:- {{cardInward.inwardDate}}</div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="d-flex">
                  <div class="form-label">Unit</div>
                  <div class="form-data">:- {{cardInward.inwardQuantity}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex">
                  <div class="form-label">Price</div>
                  <div class="form-data">:- {{cardInward.inwardPrice}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="d-flex ">
                  <div class="form-label">Remark</div>
                  <div class="form-data">:- {{cardInward.inwardRemark}}</div>
                </div>
              </div>
              <div class="col-sm-12" >
                <div class="d-flex align-items-center gap-3">
                  <div class="form-label">Photo :</div>
                  <div *ngFor="let cardDoc of cardInward.inwardOutwardDoc1">
                    <img src="{{cardDoc.photo}}" alt="" height="60px" width="60px">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-header border-0 bg-transparent">
          <h6 class="text-main fw-bold mb-2 mb-lg-0">Outward</h6>
        </div>
        <div class="card" *ngFor=" let cardOutWard of cardOutwardData">
          <div class="card-body" >
            <div class="row">
              <div class="col-sm-8">
                <div class="d-flex">
                  <div class="form-label">Username</div>
                  <div class="form-data">:- {{cardOutWard.outwardUserName}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex">
                  <div class="form-label">Date</div>
                  <div class="form-data">:- {{cardOutWard.outwardDate}}</div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="d-flex">
                  <div class="form-label">Unit</div>
                  <div class="form-data">:- {{cardOutWard.outwardQuantity}}</div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="d-flex">
                  <div class="form-label">Price</div>
                  <div class="form-data">:- {{cardOutWard.outwardPrice}}</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="d-flex ">
                  <div class="form-label">Remark</div>
                  <div class="form-data">:- {{cardOutWard.outwardRemark}}</div>
                </div>
              </div>
              <div class="col-sm-12" >
                <div class="d-flex align-items-center gap-3">
                  <div class="form-label">Photo :</div>
                  <div *ngFor="let cardOutWardDoc of cardOutWard.inwardOutwardDoc2">
                    <img src="{{cardOutWardDoc.photo}}" alt="" height="60px" width="60px">
                  </div>

                </div>
              </div>
              <div class="col-sm-12">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
