<nav aria-label="breadcrumb">
    <ol class="breadcrumb align-items-center">
        <li aria-current="page">
            <button mat-stroked-button class="btn-main btn-icon" routerLink="/dashboard">
                <mat-icon>home</mat-icon></button> &nbsp;&nbsp;
        </li>
        <li class="breadcrumb-item" aria-current="page">{{'Labels.setting' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.ExamMaster' | translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
            <div class="text-main fw-bold">
                {{'Labels.ExamMaster' | translate}}
            </div>
            <button mat-flat-button class="btn-main" (click)="openDialog()">
                <mat-icon>add</mat-icon>
                {{'Labels.addExamMaster'| translate}}
            </button>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header pb-0 border-bottom-0">
        <form class="w-100">
            <div class="row gx-2 w-100">
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.state' | translate}}</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{state.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.district' | translate}}</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{state.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.taluka' | translate}}</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{state.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <button mat-stroked-button class="btn-main">{{'Labels.filter' | translate}}</button>
                    <button type="button" mat-stroked-button class="btn-second ms-2">{{'Labels.clear' |
                        translate}}</button>
                </div>
            </div>
        </form>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="dashboard-table">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>