<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0 fw-bold">
                {{data ? ('Labels.UpdateAddQuestionType' | translate) : 'Labels.AddQuestionType' | translate}}
            </h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        <mat-card-content class="card-body card-height-mid scrollbar">
            <div class="row gx-2">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.state'| translate}}</mat-label>
                        <mat-select formControlName="stateId" (selectionChange)="getDistrict();">
                            <mat-option *ngFor="let state of stateArr" [value]="state.id">
                                {{webStorageS.getLangauge() == 'EN' ? state.state : state.m_State}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.district'| translate}}</mat-label>
                        <mat-select formControlName="districtId">
                            <mat-option *ngFor="let district of districtArr" [value]="district.id">
                                {{webStorageS.getLangauge() == 'EN' ?
                                district.district : district.m_District}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.EducationalYear'| translate}}</mat-label>
                        <mat-select formControlName="educationYearId">
                            <mat-option *ngFor="let educationYear of educationYearArr" [value]="educationYear.id">
                                {{webStorageS.getLangauge() == 'EN' ? educationYear.eductionYear :
                                educationYear.eductionYear_M}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.SelectClass'| translate}}</mat-label>
                        <mat-select formControlName="assessmentTypeId">
                            <mat-option *ngFor="let class of assessmentTypeArr" [value]="class.id">
                                {{webStorageS.getLangauge() == 'EN' ? class.assessmentType : class.m_AssessmentType}}
                              </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.standard' | translate}}</mat-label>
                        <mat-select formControlName="groupId">
                            <mat-option *ngFor="let standard of standardArr" [value]="standard.id">
                                {{webStorageS.getLangauge() == 'EN' ? standard.standard : standard.m_Standard}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.Subject' | translate}}</mat-label>
                        <mat-select formControlName="assesmentSubjectId">
                            <mat-option *ngFor="let sub of subjectArr" [value]="sub.id">
                                {{webStorageS.getLangauge() == 'EN' ? sub.subject : sub.m_Subject}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.QuestionType' | translate}}</mat-label>
                        <mat-select formControlName="questionTypeId" (selectionChange)="this.questionForm.value.questionTypeId != 1 || this.questionForm.value.questionTypeId != 2 ? this.paramterArray = [] : ''">
                            <mat-option *ngFor="let que of questionArr" [value]="que.id">
                                {{webStorageS.getLangauge() == 'EN' ? que.questionType : que.m_QuestionType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.AssesmentCriteria' | translate}}</mat-label>
                        <textarea matInput formControlName="question"
                            (keypress)="validation.noFirstSpaceAllow($event); validation.alphaNumericWithSpaces($event);"
                            maxlength="50"></textarea>
                            <mat-error *ngIf="f['question'].hasError('pattern')">{{'Labels.PleaseEnterValidAssesmentCriteria'| translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.AssesmentCriteriaMarathi' | translate}}</mat-label>
                        <textarea matInput formControlName="m_Question"
                            (keypress)="validation.noFirstSpaceAllow($event); validation.unicodeMarathiAlphanumberic($event);"
                            maxlength="50"></textarea>
                            <mat-error *ngIf="f['m_Question'].hasError('pattern')">{{'Labels.PleaseEnterValidAssesmentCriteria(Marathi)'| translate}}</mat-error>
                    </mat-form-field>
                </div>

                <form [formGroup]="paramterForm">
                    <div class="col-sm-12"
                        *ngIf="questionForm.value.questionTypeId ==1 || questionForm.value.questionTypeId ==2">
                        <div class="row gx-2">
                            <div class="col-md-6 d-flex gap-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.Parameter'| translate}}</mat-label>
                                    <input matInput formControlName="optionName" maxlength="100"
                                        (keypress)="validation.noFirstSpaceAllow($event); validation.alphaNumericWithSpaces($event);">
                                        <mat-error *ngIf="paramterForm.controls['optionName'].hasError('pattern')">{{'Labels.PleaseEnterValidParameter'| translate}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 d-flex gap-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Labels.ParameterMarathi'| translate}}</mat-label>
                                    <input matInput formControlName="m_OptionName" maxlength="100"
                                        (keypress)="validation.noFirstSpaceAllow($event); validation.unicodeMarathiAlphanumberic($event);">
                                        <mat-error *ngIf="paramterForm.controls['m_OptionName'].hasError('pattern')">{{'Labels.PleaseEnterValidParameter(Marathi)'| translate}}<</mat-error>
                                </mat-form-field>
                                <button mat-flat-button type="submit" (click)="addParametereData()"
                                    class="btn-main btn-icon">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <div class="col-md-12" *ngIf="paramterArray.length">
                                <!-- <mat-chip-listbox>
                                    <mat-chip *ngFor="let data of paramterArray ,let i=index">
                                        {{data.optionName}}/{{data.m_OptionName}}
                                        <button matChipRemove (click)="removeAddData(i)">
                                            <mat-icon class="material-symbols-rounded">cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                </mat-chip-listbox> -->

                                <div cdkDropList class="table-responsive table-height-xs scrollbar mb-2" (cdkDropListDropped)="drop($event)">
                                    <!-- <ng-container *ngFor="let paramter of paramterArray">
                                        <div class="example-box" cdkDrag>
                                            {{paramter.optionName}} / {{paramter.m_OptionName}}
                                            <mat-checkbox
                                            (change)="action($event)">
                                        </mat-checkbox> 
                                        </div>
                                    </ng-container> -->

                                    <table class="table dashboard-table">
                                        <thead>
                                            <tr>
                                                <th>{{webStorageS.getLangauge() == 'EN' ? 'Parameter' : 'पॅरामीटर'}}
                                                </th>
                                                <th>{{webStorageS.getLangauge() == 'EN' ? 'Parameter (Marathi)' :
                                                    'पॅरामीटर (मराठी)'}}</th>
                                                <th>{{webStorageS.getLangauge() == 'EN' ? 'isExpected' : 'अपेक्षित आहे'}}</th>
                                                <th>{{webStorageS.getLangauge() == 'EN' ? 'Action' : 'कृती'}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let paramter of paramterArray; let i = index" cdkDrag>
                                                <td>{{paramter.optionName}}</td>
                                                <td>{{paramter.m_OptionName}}</td>
                                                <td>
                                                    <mat-checkbox (change)="onCheck(i, $event)"
                                                        [checked]="paramter.checked">
                                                    </mat-checkbox>
                                                </td>
                                                <td>
                                                    <button
                                                        mat-icon-button id="tooltip"
                                                        matTooltip="{{'Labels.edit' | translate}}"
                                                        matTooltipPosition="right" matTooltipClass="tooltip" (click)="onEditParameter(paramter, i)">
                                                        <mat-icon class="text-main">edit</mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-sm-6 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="upload-btn-wrapper">
                            <button class="upload-btn" type="button" matTooltip="" matTooltipPosition="below"
                                matTooltipClass="tooltip" (click)="uploadImage.click()">{{'Labels.UploadPhotoDocument' |
                                translate}}</button>
                            <input type="file" name="myfile" multiple accept=".png, .jpg, .jpeg, .pdf, .doc, .txt"
                                (change)="multipleImgUpload($event)" #uploadImage />
                            <!-- formControlName="imgPath" -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <div class="d-flex flex-wrap gap-4">
                        <ng-container *ngFor="let data of imgArray; let i = index">
                            <div class="gallery position-relative">
                                <img [src]="data.docFlag ? 'assets/images/pdf-image.png' : data.docPath" height="110px"
                                    width="110px" class="border">
                                <span class="position-absolute" style="top:-17px;right:-17px;">
                                    <button type="button" mat-icon-button (click)="clearMultipleImg(i)"
                                        class="bg-danger bg-opacity-25 text-danger material-icons"
                                        matTooltip="{{'Labels.delete' | translate}}" matTooltipPosition="right"
                                        matTooltipClass="tooltip">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer align="end" class="card-footer d-flex justify-content-end">
            <button type="button" mat-flat-button mat-dialog-close class="btn-second me-2">{{'Labels.cancel' |
                translate}}</button>
            <button type="submit" mat-flat-button class="btn-main ">{{data ? ('Labels.update' | translate) :
                ('Labels.submit' | translate)}}</button>
            <!-- <button type="submit" mat-flat-button class="btn-main ">{{ 'Labels.submit' | translate}} </button> -->
        </mat-card-footer>
    </form>
</mat-card>